.actives {
    &_item {
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        &_summary {
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include media-breakpoint-up(sm) {
                font-size: 12px;
                line-height: 20px;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 15px;
                font-size: 17px;
                line-height: 30px;
            }
        }
        &_title {
            font-weight: 500;
            font-size: 14px;
            line-height: 30px;
            @include media-breakpoint-up(sm) {
                margin-bottom: 20px;
                font-size: 30px;
                line-height: 30px;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 40px;
                min-height: 100px;
                font-size: 42px;
                line-height: 42px;
            }
        }
        &_count {
            margin-bottom: 30px;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: none;
            @include media-breakpoint-up(sm) {
                margin-bottom: 10px;
                font-size: 12px;
                line-height: 20px;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 20px;
                font-size: 17px;
                line-height: 30px;
            }
        }
        &_btn {
            padding: 19px 35px;
            font-size: 12px;
            line-height: 24px;
            color: $white;
            background-color: $blue;
            @include media-breakpoint-up(sm) {
                padding: 32px 77px;
            }
            &:hover {
                color: $white;
            }
        }
        &_data {
            padding: 40px 20px;
            text-align: center;
            @include media-breakpoint-up(sm) {
                padding: 70px 25px;
                text-align: left;
            }
            @include media-breakpoint-up(lg) {
                padding: 88px 120px 0px 100px;
            }
        }
        &_photoarchive {
            &_media {
                position: relative;
                &_carousel {
                    position: relative;
                    &_item {
                        &_photo {
                            width: 100%;
                            height: 270px;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            background-size: cover;
                            position: relative;
                            @include media-breakpoint-up(sm) {
                                height: 496px;
                            }
                            @include media-breakpoint-up(lg) {
                                height: 727px;
                            }
                            &_link {
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                            }
                        }
                        &_summary {
                            position: absolute;
                            bottom: 15px;
                            left: 20px;
                            z-index: 2;
                            margin: 0;
                            font-weight: 300;
                            font-size: 32px;
                            line-height: 42px;
                            color: $white;
                            @include media-breakpoint-up(sm) {
                                bottom: 15px;
                                left: 25px;
                                max-width: 320px;
                            }
                            @include media-breakpoint-up(lg) {
                                bottom: 110px;
                                left: 0;
                                max-width: 555px;
                            }
                            @extend .h4;
                            & span {
                                display: inline-block;
                                padding-right: 5px;
                                padding-left: 5px;
                                background-color: $blue;
                            }
                        }
                        &_download {
                            position: absolute;
                            display: block;
                            font-size: 12px;
                            line-height: 32px;
                            color: $white;
                            @include media-breakpoint-up(sm) {}
                            @include media-breakpoint-up(lg) {
                                bottom: 30px;
                                left: 50%;
                            }
                            & a {
                                &:hover {
                                    color: $white;
                                }
                            }
                            & .icon {
                                margin-right: 15px;
                                font-size: 32px;
                            }
                        }
                    }
                    &-controls {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        z-index: 10;
                        margin-left: -50px;
                        @include media-breakpoint-up(lg) {
                            left: 0;
                            margin-left: 0;
                        }
                        & .owl-buttons_link {
                            display: block;
                            float: left;
                            width: 50px;
                            height: 50px;
                            line-height: 48px;
                            cursor: pointer;
                            text-align: center;
                            background-color: $blue;
                            @include media-breakpoint-up(lg) {
                                width: 90px;
                                height: 90px;
                                line-height: 88px;
                            }
                            &:hover {
                                @include media-breakpoint-up(lg) {
                                    background-color: $dark-blue;
                                }
                            }
                            & .icon {
                                font-size: 10px;
                            }
                            &.disable {
                                & .icon {
                                    opacity: .5;
                                }
                            }
                        }
                    }
                }
            }
            &_menu {
                // position: absolute;
                // right: 0;
                // bottom: 0;
                z-index: 10;
                display: none;
                padding: 45px 60px 45px 110px;
                font-weight: 300;
                font-size: 12px;
                line-height: 1.2;
                text-transform: uppercase;
                background-color: $white;
                @include media-breakpoint-up(lg) {
                    display: block;
                }
                & ul {
                    margin: 0;
                    padding: 0;
                    list-style: none outside;
                    counter-reset: section;
                    & li {
                        position: relative;
                        padding: 10px 0;
                        counter-increment: section;
                        letter-spacing: 2px;
                        cursor: pointer;
                        &:hover {
                            &:before {
                                color: $blue;
                            }
                        }
                        & a {
                            &:hover {
                                text-decoration: none;
                                &:before {
                                    color: $blue;
                                }
                            }
                        }
                        &:before {
                            content: counter(section, decimal-leading-zero);
                            display: inline-block;
                            margin-right: 35px;
                            font-size: 10px;
                            color: #696970;
                        }
                        &.current {
                            color: $black;
                            font-weight: 700;
                            & a {
                                color: $black;
                                &:hover {
                                    color: #696970;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-slider {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
        @media screen and (max-width: 480px) {
            display: block;
        }
        &-item {
            display: flex;
            flex-direction: column;
        }
        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            margin-top: 30px;
            position: relative;
            margin-bottom: 160px;
            @media screen and (max-width: 480px) {
                margin-top: 70px;
            }
            @media screen and (max-width: 415px) {
                margin-bottom: 0;
            }
            &-text {
                margin-bottom: 25px;
                font-family: "Montserrat";
                font-size: 12px;
                font-weight: 600;
                line-height: 12px;
                color: #fff;
                @media screen and (max-width: 480px) {
                    position: absolute;
                    top: 30px;
                    left: 43%;
                    z-index: 10;
                }
            }
            &-page {
                font-size: 25px;
                font-family: "Montserrat";
                font-weight: 400;
                line-height: 25px;
                margin-bottom: 0;
                min-height: 125px;
                display: flex;
                justify-content: center;
                width: 100%;
                text-align: center;
            }
        }
        &-image {
            margin-bottom: 115px;
            // height: 270px;
            @media screen and (max-width: 415px) {
                margin-bottom: 8vh;
            }
        }
        &-button {
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            padding: 15px;
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            color: #fff;
            background-color: transparent;
            outline: none;
            width: 40%;
            align-self: center;
            margin-bottom: 70px;
            text-align: center;
            opacity: 1;
            cursor: pointer;
            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.4);
                @media screen and (max-width: 480px) {
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    color: #fff;
                }
            }
            &:focus {
                color: #fff;
            }
        }
    }
    &-bg {
        background: url("../../img/content/7_7.jpg") 50% 50%/ cover no-repeat;
        filter: blur(25px) grayscale(0.2);
        width: 120%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -10%;
        bottom: 0;
        right: -10%;
        z-index: -1;
        &--one {
            background: url("../../img/content/1_1.jpg") 50% 50%/ cover no-repeat;
        }
        &--two {
            background: url("../../img/content/5_5.jpg") 50% 50%/ cover no-repeat;
        }
        &--three {
            background: url("../../img/content/6_6.jpg") 50% 50%/ cover no-repeat;
        }
        &--four {
            background: url("../../img/content/4_4.jpg") 50% 50%/ cover no-repeat;
        }
        &--five {
            background: url("../../img/content/3_3.jpg") 50% 50%/ cover no-repeat;
        }
        &--six {
            background: url("../../img/content/2_2.jpg") 50% 50%/ cover no-repeat;
        }
    }
}