.photo_gallery {
    &-mobile {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    &_item-mobile {
        display: flex;
        &-img {
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 5px;
        }
    }
}