.arcticle-box {
  &_title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: $font-size-base * 0.875;
    line-height: $font-size-base * 1.125;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-base * 1.5;
      line-height: $font-size-base * 2.125;
    }
    @include media-breakpoint-up(lg) {
      font-size: $font-size-base * 1.5;
      line-height: $font-size-base * 1.5;
    }
    @include media-breakpoint-up(xl) {
      font-size: $font-size-base * 2.625;
      line-height: $font-size-base * 2.625;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 54px;
    }
  }
  &_preview {
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @include media-breakpoint-up(sm) {
      min-height: 420px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 860px;
    }
    &--object {
      min-height: 205px;
      @include media-breakpoint-up(sm) {
        min-height: 540px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 670px;
      }
      @media screen and (max-width: 480px) {
        background-position: 0% 0%;
      }
    }
    @media screen and (max-width: 480px) {
      background: url(img/content/video-preview.jpg) 0% 0% / cover no-repeat;
      min-height: 300px;
    }
    @media screen and (max-width: 375px) {
      background: url(img/content/video-preview.jpg) 0% 0% / cover no-repeat;
      min-height: 250px;
    }
    @media screen and (max-width: 320px) {
      background: url(img/content/video-preview.jpg) 0% 0% / cover no-repeat;
      min-height: 213px;
    }
  }
  &_summary {
    &_text {
      max-width: 320px;
      font-size: 14px;
      line-height: 18px;
      @media screen and (max-width: 480px) {
        max-width: 100%;
        padding: 0 12px;
      }

      @media screen and (max-width: 480px) {
        color: #000000;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        width: 100%;
      }

      @include media-breakpoint-up(sm) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &_content {
      padding: 70px 10px 30px;
      color: $gray-600;
      @media screen and (max-width: 480px) {
        padding: 0;
      }
      @include media-breakpoint-up(sm) {
        padding: 20px 30px 0;
      }
      @include media-breakpoint-up(md) {
        padding: 50px 30px;
      }
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        padding: 30px 65px 30px 80px;
      }
      &--object {
        @include media-breakpoint-up(sm) {
          padding: 90px 30px;
        }
        @include media-breakpoint-up(lg) {
          padding: 30px 65px 0 80px;
        }
      }
      & .press-center_news_item_date {
        margin-bottom: 15px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 25px;
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 40px;
        }
        @media screen and (max-width: 480px) {
          margin-bottom: 11px;
        }
      }
      & h1 {
        margin-bottom: 15px;
        color: $black;
        @media screen and (max-width: 480px) {
          color: #000000;
          font-family: "Montserrat";
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 35px;
          text-align: center;
          line-height: 25px;
        }
        @include media-breakpoint-up(sm) {
          margin-bottom: 25px;
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 65px;
        }
      }
    }
  }
  &_content {
    font-size: 10px;
    line-height: 16px;
    color: $gray-600;

    @media screen and (max-width: 480px) {
      &.aos-init.aos-animate {
        color: #000000;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
      }
    }

    @include media-breakpoint-up(sm) {
      font-size: 18px;
      line-height: 30px;
    }
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-family: "Montserrat";
      color: $black;
    }
    & h4 {
      @media screen and (max-width: 480px) {
        text-align: center;
        color: #000000;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
      }
    }
    & ul li {
      @media screen and (max-width: 480px) {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
        & p {
          margin-bottom: 0;
        }
      }
    }
    &.aos-init.aos-animate {
      @media screen and (max-width: 480px) {
        color: #000;
      }
    }
  }
  &_media {
    z-index: 10;
    //@include media-breakpoint-up(sm) {
    //  margin-bottom: -40px;
    //}
    &_carousel {
      position: relative;
      &_item {
        &--vh {
          @include media-breakpoint-up(lg) {
            overflow: hidden;
            height: 100vh;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        & img {
          margin: 0;
        }
        &_preview {
          @include media-breakpoint-up(lg) {
            overflow: hidden;
            height: 100vh;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
      & .owl-dots {
        position: absolute;
        bottom: 90px;
        left: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        & .owl-dot {
          position: relative;
          width: 30px;
          height: 30px;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 6px;
            height: 6px;
            margin-top: -3px;
            margin-left: -3px;
            opacity: 0.5;
            border-radius: 50%;
            background-color: $white;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            &:after {
              transform: scale(2);
            }
          }
          &.active {
            &:after {
              opacity: 1;
              transform: scale(2);
            }
          }
        }
      }
      &_video-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        &.-active {
          .button {
            display: none;
          }

          .plyr__controls {
            opacity: 1;
          }
        }

        .plyr__controls {
          opacity: 0;
        }

        .button {
          position: absolute;
          padding: 4px;
          z-index: 30;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 40%;
            left: 43%;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-left: 12px solid #00529c;
            border-bottom: 6px solid transparent;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $white;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            svg {
              display: none;
            }
          }
        }

        &--xl {
          height: 215px;
          @include media-breakpoint-up(sm) {
            height: 480px;
          }
          @include media-breakpoint-up(lg) {
            height: 100vh;
            max-height: 960px;
          }
        }
      }
    }
    &_download {
      display: block;
      // margin-top: 20px;
      margin-bottom: 0;
      margin-left: 10px;
      font-size: 12px;
      line-height: 32px;
      color: $blue;
      @media screen and (max-width: 480px) {
        display: none;
      }
      @include media-breakpoint-up(sm) {
        // margin-top: 40px;
        // margin-bottom: -40px;
        margin-left: 20px;
      }
      @include media-breakpoint-up(lg) {
        // margin-top: 40px;
        // margin-bottom: -40px;
        margin-left: 100px;
      }
      & .icon {
        margin-right: 15px;
        font-size: 32px;
      }
      &--mobile {
        @media screen and (max-width: 480px) {
          display: block;
        }
      }
    }
  }
  &_tezies {
    color: $white;
    background-color: $indigo;
    display: flex;
    align-items: center;
    flex-flow: row;
    &.section--desktop {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: 40px 45px;
    }
    & ul {
      padding: 0;
      list-style: none outside;
      & li {
        position: relative;
        padding-bottom: 20px;
        padding-left: 15px;
        &:before {
          content: "-";
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    & .row {
      width: 100%;
    }
    &_text {
      padding-bottom: 45px;
      @include media-breakpoint-up(sm) {
        max-width: 330px;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 20px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 380px;
        margin-top: -5px;
        padding-left: 0;
        line-height: 24px;
      }
    }
  }
  &_other {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $gray-200;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &_numbers {
    &_item {
      max-width: 235px;
      margin-right: auto;
      margin-left: auto;
      padding: 45px 0;
      font-size: $font-size-base;
      line-height: 1.2;
      text-align: center;
      color: $yellow;
      @include media-breakpoint-up(sm) {
        padding: 85px 0;
        max-width: 100%;
      }
      @include media-breakpoint-up(lg) {
        padding: 45px 0;
        max-width: 410px;
      }
      &_count {
        padding-bottom: 20px;
        font-weight: 200;
        font-size: 80px;
        line-height: 0.8;
        @include media-breakpoint-up(sm) {
          font-size: $font-size-base * 8.75;
          line-height: 1.1;
        }
        @include media-breakpoint-up(sm) {
          margin-top: -20px;
        }
        & small {
          font-size: $font-size-base * 2.5;
        }
      }
      &_text {
        max-width: 345px;
        margin: 0 auto;
        font-size: 10px;
        line-height: 16px;
        @include media-breakpoint-up(sm) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
  &_blockquote {
    position: relative;
    margin: 45px 0 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    color: $purple;
    @include media-breakpoint-up(sm) {
      max-width: 380px;
      font-size: 30px;
      line-height: 42px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 440px;
      margin-left: 20px;
      font-size: 32px;
      line-height: 42px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      max-width: 290px;
      height: 1px;
      background-color: $purple;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      max-width: 290px;
      height: 1px;
      background-color: $purple;
    }
    &_text {
      padding-bottom: 20px;
    }
  }
  &_tech-container {
    padding: 80px 40px;
    @include media-breakpoint-up(sm) {
      padding: 150px 80px;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 120px;
    }
    @include media-breakpoint-up(xl) {
      .piesite {
        // font-size: 40em;
      }
    }
  }
  &_tech {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
    font-size: $font-size-base;
    line-height: 1.2;
    color: $yellow;
    & .piesite:before {
      background: #e4ce1c;
    }
    @include media-breakpoint-up(sm) {
      width: 380px;
      height: 380px;
      margin: 0 auto;
      margin-bottom: 70px;
      padding-right: 60px;
      padding-left: 60px;
    }
    @include media-breakpoint-up(xl) {
      // width: 640px;
      // height: 640px;
    }
    &_count {
      position: relative;
      z-index: 2;
      font-weight: 200;
      font-size: 81px;
      line-height: 1;
      text-align: center;
      &--number {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
      }
      @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 8.75;
        line-height: 1;
      }
      @include media-breakpoint-up(xl) {
        // font-size: $font-size-base * 15;
      }
      & small {
        font-size: $font-size-base;
        @include media-breakpoint-up(sm) {
          font-size: $font-size-base * 2.5;
        }
      }
      &_text {
        position: relative;
        z-index: 10;
        font-size: 8px;
        @include media-breakpoint-up(sm) {
          font-size: $font-size-base;
        }
      }
    }
    &_text {
      position: relative;
      z-index: 2;
      width: 180px;
      margin: 0 auto;
    }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     border-top: 1px solid $yellow;
    //     border-right: 1px solid transparent;
    //     border-bottom: 1px solid $yellow;
    //     border-left: 1px solid $yellow;
    //     border-radius: 50%;
    //     transform: rotate(-45deg);
    // }
    // & .circlestat {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: none;
    //     width: 100%;
    //     height: 100%;
    //     @include media-breakpoint-up(sm) {
    //         display: block;
    //     }
    //     & canvas {
    //         width: 100% !important;
    //     }
    // }
    &_desc {
      max-width: 520px;
      margin-right: auto;
      margin-left: auto;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      @include media-breakpoint-up(sm) {
        font-size: 18px;
        line-height: 24px;
      }
      @media screen and (max-width: 480px) {
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 10px;
        font-weight: 200;
      }
    }
  }
  &_stats {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 72px;
    @media screen and (max-width: 480px) {
      background: #00529c url(../img/port-bottom.jpg) no-repeat 50% 50%;
    }
    &_item {
      width: 100%;
      // max-width: 480px;
      // margin: 60px auto;
      margin-top: 60px;
      margin-bottom: 60px;
      text-align: center;
      @include media-breakpoint-up(sm) {
        text-align: left;
      }
    }
    & big {
      display: block;
      // min-width: 220px;
      font-weight: 200;
      font-size: 75px;
      line-height: 1;
      @include media-breakpoint-up(sm) {
        text-align: right;
      }
    }
  }
  &_quote {
    &_text {
      max-width: 300px;
      margin-bottom: 40px;
      margin-left: 50px;
      font-size: 10px;
      color: #73737b;
      @media screen and (max-width: 480px) {
        color: #000000;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 60px;
      }
      @include media-breakpoint-up(sm) {
        max-width: 240px;
        margin-left: 0;
        font-size: 16px;
        line-height: 24px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 300px;
        font-size: 22px;
        line-height: 40px;
      }
    }
    &_author {
      position: relative;
      margin-bottom: 40px;
      padding-left: 50px;
      color: #77777e;
      @media screen and (max-width: 480px) {
        color: #000000;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      &_avatar {
        position: absolute;
        top: 2px;
        left: 0;
        display: block;
        overflow: hidden;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $blue;
        @media screen and (max-width: 480px) {
          width: 40px;
          height: 40px;
        }
      }
      & span {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 12px;
        @media screen and (max-width: 480px) {
          position: absolute;
          bottom: -120%;
          left: 11%;
          color: #77777e;
          font-size: 11px;
          font-weight: 500;
        }
        @media screen and (max-width: 420px) {
          left: 13%;
        }
        @media screen and (max-width: 375px) {
          left: 14%;
        }
        @media screen and (max-width: 360px) {
          left: 15%;
        }
        @media screen and (max-width: 320px) {
          left: 17%;
        }
        @include media-breakpoint-up(sm) {
          max-width: 120px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 190px;
          font-size: 12px;
        }
      }
    }
  }
}

.article-box {
  &_quote {
    display: flex;
    flex-flow: column nowrap;

    &_author {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      &_avatar {
        display: block;
        overflow: hidden;
        width: 34px;
        height: 34px;
        flex: 0 0 34px;
        border-radius: 50%;
        background-color: $blue;
        @media screen and (max-width: 480px) {
          width: 40px;
          height: 40px;
          flex: 0 0 40px;
        }
      }

      &_info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 300px;

        @media screen and (min-width: 480px) {
          max-width: 220px;
          flex-flow: column-reverse nowrap;
          margin-bottom: 18px;

          &_name,
          &_position {
            color: $gray-600;
          }

          &_name {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 0;
          }

          &_position {
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 12px;
          }
        }

        @media screen and (max-width: 480px) {
          &_name {
            color: #000000;
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 5px;
          }

          &_position {
            color: #77777e;
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }

    &_text {
      max-width: 300px;
      margin-bottom: 40px;
      margin-left: 50px;
      font-size: 10px;
      color: #73737b;
      @media screen and (max-width: 480px) {
        color: #000000;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 60px;
        margin-left: 50px;
      }

      @media screen and (min-width: 480px) {
        margin-left: 44px;
      }

      @include media-breakpoint-up(sm) {
        max-width: 240px;
        margin-left: 0;
        font-size: 16px;
        line-height: 24px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 300px;
        font-size: 22px;
        line-height: 40px;
      }
    }
  }
}

.news-detail-button480 {
  display: none;
  @media screen and (max-width: 480px) {
  }
}

.list-item {
  margin-bottom: 0;
}
