.bisness-geo {
    width: 100%;
    padding: 90px 30px 30px;
    text-align: center;
    background: $blue url('../img/port-bottom.jpg') no-repeat 50% 50%;
    background-size: cover;
    z-index: 6;
    @media screen and (max-width: 480px) {
        // display: none;
    }
    @include media-breakpoint-up(sm) {
        min-height: 525px;
        padding-top: 120px;
    }
    @include media-breakpoint-up(lg) {
        width: 533px;
        min-height: 730px;
        position: absolute;
        top: 100px;
        right: 0;
        // z-index: 3;
    }
    &_title {
        margin-bottom: 88px;
        font-weight: 500;
        font-size: $font-size-base * 1.375;
        line-height: $font-size-base * 1.5;
        @include media-breakpoint-up(sm) {
            font-size: $font-size-base * 1.375;
            line-height: $font-size-base * 1.5;
        }
        @include media-breakpoint-up(lg) {
            font-size: $font-size-base * 1.375;
            line-height: $font-size-base * 1.5;
        }
    }
    &_item {
        margin-bottom: 60px;
        font-size: $font-size-base;
        line-height: 1.2;
        &_count {
            font-weight: 200;
            font-size: $font-size-base * 4.6875;
            line-height: 1;
        }
    }
}