.blue-graphic-box {
    padding: 0;
    position: relative;
    background: #00529C url('../../img/port-bottom.jpg') no-repeat 50% 50%;
    color: #fff;
    padding: 0px 105px;
    @media screen and (max-width: 320px) {
        padding: 0px 75px;
    }
    &-title {
        margin-bottom: 0;
    }
    &--object {
        background: #00529C;
    }
}

.blue-graphic-box-image-field {
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-top: 88px;
}

.blue-graphic-bg {
    position: absolute;
    top: 0;
    left: -20%;
    bottom: 0;
    right: 0;
    min-width: 200%;
    min-height: 200%;
    padding-bottom: 40%;
}