.carousel {
    @media screen and (max-width: 480px) {
        display: flex;
    }
}

.carousel-inner {
    @media screen and (max-width: 480px) {
        display: flex;
    }
}

.carousel-inner .owl-carousel.owl-loaded {
    @media screen and (max-width: 480px) {
        display: flex;
    }
}

#owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    position: absolute;
    top: 148px;
    width: 100vw;
    z-index: 2;
}

#owl-carousel .owl-dots .owl-dot {
    display: flex;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    &:last-child {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        margin-right: 0;
    }
    &:hover {
        background: #fff;
    }
}

#owl-carousel .owl-dots .owl-dot.active {
    border: 1px solid #fff;
    background: transparent;
}