.circle-graphic-container {
    background: #151E30;
    color: #868B94;
    font-size: 11px;
}

.circle-graphic-box_tech {
    color: #fff;
}

.pie {
    @media screen and (max-width: 480px) {
        border-color: #005097 !important;
    }
}

.piesite {
    @media screen and (max-width: 480px) {
        font-size: 300px;
        top: -40px;
        left: -30px;
    }
}

.arcticle-box_tech .piesite:before {
    @media screen and (max-width: 480px) {
        background: #005097 !important;
    }
}

.circle-graphic-box_tech_count {
    @media screen and (max-width: 480px) {
        margin-bottom: 15px;
    }
}

.circle-graphic-box_tech_text, .arcticle-box_tech_count_text {
    @media screen and (max-width: 480px) {
        width: 210px;
        text-align: center;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 300;
    }
}