.contacts-infobox {
  font-weight: 600;
  color: $white;
  background-color: #151e30;

  @media screen and (max-width: 480px) {
    .contacts-infobox_content {
      display: none;
    }

    .contacts-infobox_content.-contacts {
      display: flex;
    }
  }

  @media screen and (min-width: 480px) {
    .contacts-mobile {
      display: none;
    }

    .contacts-infobox_content {
      display: flex;
    }
  }

  &_content {
    flex-flow: column;
    justify-content: center;
    padding: 40px 10px;
    @include media-breakpoint-up(sm) {
      padding: 70px 25px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 470px;
      margin-right: auto;
      margin-left: auto;
      padding: 65px;
    }
    &_title {
      margin-bottom: 40px;
      font-weight: 500;
      font-size: $font-size-base * 2;
      line-height: $font-size-base * 2;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 2;
        line-height: $font-size-base * 2.625;
      }
      @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2;
        line-height: $font-size-base * 2.625;
      }
    }
  }
  &_list {
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
    }
    &--last {
      margin-bottom: 0;
    }
  }
  &_item {
    position: relative;
    padding: 12px 0 12px 50px;
    font-size: 10px;
    line-height: 18px;
    &:first-child {
      @media screen and (max-width: 480px) {
      }
    }
    @media screen and (max-width: 480px) {
      // padding: 10px;
      flex: 1;
      padding: 12px 40px;
    }
    @include media-breakpoint-up(sm) {
      padding: 15px 0 15px 55px;
      font-size: $font-size-base;
      line-height: $font-size-base * 1.6875;
    }
    @include media-breakpoint-up(lg) {
      padding: 12px 0 12px 55px;
      font-size: $font-size-base;
      line-height: $font-size-base * 1.6875;
    }
    & .icon {
      position: absolute;
      top: 10px;
      left: 5px;
      font-size: 18px;
      @media screen and (max-width: 480px) {
      }
      @include media-breakpoint-up(sm) {
        top: 18px;
        left: 0;
      }
      @include media-breakpoint-up(lg) {
      }
      &-point {
        font-size: 22px;
      }
    }
    &--docs {
      margin-bottom: 20px;
      font-size: $font-size-base * 0.625;
      line-height: $font-size-base * 1.6875;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 0.75;
        line-height: $font-size-base * 1.6875;
      }
      @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 0.75;
        line-height: $font-size-base * 1.6875;
      }
      & .icon {
        margin-top: -11px;
        font-size: 36px;
        vertical-align: middle;
      }
    }
    &--phone {
      margin-top: 0;
      @include media-breakpoint-up(sm) {
        margin-top: 28px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
    & a {
      &:hover {
        color: $white;
      }
    }
    &_social {
      font-size: 10px;
      line-height: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 0.75;
        line-height: $font-size-base * 1.6875;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 0.75;
        line-height: $font-size-base * 1.6875;
      }
      & .icon {
        width: 25px;
        margin-right: 20px;
        margin-left: 5px;
        font-size: 16px;
        @include media-breakpoint-up(sm) {
          margin-right: 25px;
          margin-left: 0;
        }
      }
      & a {
        &:hover {
          color: $white;
        }
      }
    }
    &-text {
      margin-bottom: 0;
      @media screen and (max-width: 480px) {
        // visibility: hidden;
      }
    }
    &-box {
      @media screen and (max-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 22px;
      }
    }
  }
}
