.contacts-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 34px 25px 51px;
    background-color: #00529c;
    &-title {
        padding: 0;
        margin: 0;
        font-family: "Montserrat";
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
        width: 95vw;
    }
    &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &-socials {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 30px;
    }
    &-link {
        text-decoration: none;
        cursor: pointer;
    }
    &-address {
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 30px;
        text-align: center;
    }
    &-docs {
        padding: 0;
        margin: 0;
        list-style: 0;
        display: flex;
        justify-content: space-evenly;
        &-item {
            display: flex;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            display: flex;
            align-items: center;
            &:hover {
                color: #fff;
            }
        }
        &-text {
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            margin-bottom: 0;
        }
        &-icon {
            min-width: 30px;
            min-height: 30px;
            fill: #fff;
            margin-right: 10px;
        }
    }
}