.contacts {
    &_content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 40px 20px;
        @include media-breakpoint-up(sm) {
            padding: 70px 40px;
            min-height: 650px;
        }
        @include media-breakpoint-up(lg) {
            min-height: 650px;
            padding: 150px 100px;
        }
        & .icon {
            color: $blue;
            fill: $blue !important;
        }
        &_btn {
            background-color: $blue;
            color: $white;
            max-width: 520px;
            padding: 42px 0;
        }
        & h4 {
            color: $black;
        }
    }
    &-multi {
        &_point {
            min-height: 170px;
            padding: 35px 70px;
            @media screen and (max-width: 480px) {
                border-bottom: 1px solid #004482;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 35px 25px;
            }
            &:hover {
                background-color: #004787;
            }
            &.current {
                background-color: #004787;
            }
            &_maintitle {
                display: none;
                @media screen and (max-width: 480px) {
                    display: block;
                    font-size: 30px;
                    color: #ffffff;
                    font-weight: 700;
                    padding: 40px 0;
                    text-align: center;
                }
            }
            &_title {
                font-size: 12px;
                margin-bottom: 10px;
                @media screen and (max-width: 480px) {
                    display: none;
                }
                &--media480 {
                    display: none;
                    @media screen and (max-width: 480px) {
                        display: block;
                        color: #ffffff;
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 25px;
                    }
                }
            }
            & .contacts-infobox_item {
                padding-bottom: 0;
                &-text {
                    @media screen and (max-width: 480px) {
                        color: #ffffff;
                        font-family: "Montserrat";
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 18px;
                        text-align: center;
                    }
                }
            }
            &-box {
                display: none;
                @media screen and (max-width: 480px) {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    font-size: 10px;
                    line-height: 18px;
                    color: white;
                    font-weight: 600;
                }
                &-address {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    &-text {
                        margin-bottom: 25px;
                    }
                }
            }
            &-links {
                @media screen and (max-width: 480px) {
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    margin-bottom: 25px;
                }
                &-item {
                    margin-right: 40px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &-button {
                display: none;
                @media screen and (max-width: 480px) {
                    display: block;
                    outline: none;
                    background: #005EB2;
                    border: none;
                    padding: 10px 25px;
                    font-size: 10px;
                    color: #c9d1d8;
                    width: 30%;
                    &:hover {
                        background: rgb(3, 76, 141);
                        color: #ffffff;
                    }
                }
                @media screen and (max-width: 411px) {
                    width: 27%;
                }
                @media screen and (max-width: 375px) {
                    width: 30%;
                }
                @media screen and (max-width: 360px) {
                    width: 32%;
                }
                @media screen and (max-width: 320px) {
                    width: 38%;
                }
            }
        }
    }
    &-infobox_item--social {
        font-size: 0.75rem;
    }
}

.text-medium {
    margin: 0.67em 0;
    font-size: 28px;
}