        .hamburger-container {
            width: 45px;
            height: 45px;
            background: $blue url('../img/port320.jpg') no-repeat 50% 50%;
            background-size: cover;
            color: $white;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 501;
            .menu-open & {
                z-index: 510;
            }
            @media screen and (max-width: 480px) {
                background: #00529c;
                position: fixed;
                width: 40px;
                height: 40px;
                & .hamburger-inner,
                & .hamburger-inner:before,
                & .hamburger-inner:after {
                    width: 22px;
                    height: 1px;
                }
                & .hamburger {
                    padding: 10px;
                }
            }
            @include media-breakpoint-up(lg) {
                display: none;
            }
            &--main {
                @media screen and (max-width: 480px) {
                    background: none;
                }
            }
        }