.information-mobile-text {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}

.information-mobile-title {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
}