.jumbotron {
    &_space {
        // height: calc(100vh - 56px);
        @include media-breakpoint-up(sm) {
            height: calc(100vh - 116px);
        }
    }
    &_content {
        position: relative;

        display: flex;
        align-items: center;

        min-height: 460px;

        padding: 65px 25px;

        @include media-breakpoint-up(sm) {
            min-height: 530px;
            padding: 65px 25px;
        }
        @include media-breakpoint-up(lg) {
            min-height: 530px;
            padding: 65px 0;
        }

        perspective: 2500px;

        &_title {
            margin-bottom: 60px;

            font-weight: 500;
            font-size: $font-size-base * 1.5;
            line-height: $font-size-base * 2;

            @include media-breakpoint-up(sm) {
                margin-bottom: 50px;

                font-size: $font-size-base * 2.625;
                line-height: $font-size-base * 3.875;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 45px;

                font-size: $font-size-base * 4.5;
                line-height: $font-size-base * 4.5;
            }
        }

        &_text {
            position: relative;
            z-index: 10;

            min-height: 460px;
            padding: 65px 25px;
            margin-bottom: -460px;

            font-weight: 400;
            font-size: $font-size-base * .625;
            line-height: $font-size-base;

            display: flex;
            flex-flow: column;
            justify-content: center;

            @include media-breakpoint-up(sm) {
                max-width: 510px;
                min-height: 530px;
                padding: 65px 25px;
                margin-bottom: -530px;

                font-size: $font-size-base * .875;
                line-height: $font-size-base * 1.375;
            }
            @include media-breakpoint-up(lg) {
                max-width: 720px;
                min-height: 530px;
                padding: 65px 0;

                font-size: $font-size-base;
                line-height: $font-size-base * 1.375;

                margin-bottom: -530px;
            }

            &_summary {
                max-width: 240px;

                position: relative;
                z-index: 100;

                @include media-breakpoint-up(sm) {
                    max-width: 505px;
                }
                @include media-breakpoint-up(lg) {
                    max-width: 670px;
                }
            }
        }

        &_background {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;

            display: block;
            overflow: hidden;

            width: 100%;
            height: 100%;

            background: $blue url('../img/port-top-new.jpg') no-repeat 100% 100%;
            background-repeat: no-repeat;
            background-size: cover;

            @include media-breakpoint-up(sm) {
                width: 100%;
            }
            @include media-breakpoint-up(lg) {
                width: 100%;
            }

            // & .inner {
            //     position: absolute;
            //     left: 0;
            //     bottom: 0%;

            //     width: 100%;
            //     height: 100% !important;

            //     background: $blue url('../img/port-top.jpg') no-repeat 50% 100%;
            //     background-size: cover;

            //     @include media-breakpoint-up(sm) {
            //         height: 150% !important;
            //         background-position: 50% 100%;
            //         background-size: cover;
            //     }

            //     @include media-breakpoint-up(lg) {
            //         height: 200% !important;
            //         background-position: 100% 100%;
            //         background-size: 100% auto;
            //     }
            // }
        }
    }
}
