.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-box {
        @media screen and (max-width: 480px) {
            height: 525px;
        }
    }
}

.popup-bubble {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%);
    background-color: #F2F2F2;
    padding: 5px 10px;
    overflow-y: auto;
    max-height: 60px;
    color: #FCC204;
    font-size: 15px;
    font-weight: 500;
}

.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */
    8px;
    left: 0;
}

.popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}

.map-content {
    width: 300px;
    height: 505px;
    border-radius: none;
    padding: 150px 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-title {
    color: #000000;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.map-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.map-link {
    color: #000000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.map-address {
    color: #000000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
}

.gm-ui-hover-effect {
    @media screen and (max-width: 480px) {
        top: 30px !important;
        right: 45% !important;
        & img {
            display: none !important;
        }
        &:after {
            content: "";
            width: 15px;
            height: 1px;
            background: #00529c;
            display: block;
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            right: 0;
        }
        &:before {
            content: "";
            width: 15px;
            height: 1px;
            background: #00529c;
            display: block;
            transform: rotate(-45deg);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.map-row {
    @media screen and (max-width: 1600px) {
        min-height: 811px;
    }
}

.gm-style-iw {
    @media screen and (max-width: 480px) {
        border-radius: none !important;
        padding: 0 !important;
    }
}

.gm-style-iw {
    overflow: visible !important;
    div {
        overflow: visible !important;
    }
}

.gm-style-iw.gm-style-iw-c {
    display: none;
    @media screen and (max-width: 480px) {
        display: block !important;
        border-radius: 0px !important;
        padding: 0 !important;
        max-width: 300px !important;
        max-height: 505px !important;
        transform: translate(-50%, -95%);
        &:before {
            border-radius: 0px;
        }
    }
}

.gm-style-iw {
    @media screen and (max-width: 480px) {
        max-width: 300px !important;
        max-height: 505px !important;
        transform: translate(-50%, -95%);
    }
}

.gm-style-iw .gm-style-iw-d {
    @media screen and (max-width: 480px) {
        max-width: 300px !important;
        max-height: 505px !important;
        overflow: hidden !important;
        height: 100%;
        width: 100%;
        border-radius: 0px !important;
    }
}

.gm-style .gm-style-iw-t::after {
    display: none;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.gm-style-iw {
    // Фон
    &:before {
        content: '';
        width: calc(100% + 29px);
        height: calc(100% + 17px);
        background: #fff;
    }
}

.gm-style-mtc {
    @media screen and (max-width: 480px) {
        display: none;
    }
}

// .gm-svpc,
// .gm-control-active {
//     @media screen and (max-width: 480px) {
//         display: none;
//     }
// }