.news-index {
  // overflow: hidden;
  padding: 50px 0 50px;
  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
    padding: 95px 0 95px;
  }
  @include media-breakpoint-up(lg) {
    padding: 85px 0 0;
    // margin-bottom: -150px;
  }
  & .container-news {
    margin-right: auto;
    // transform: skewY(1deg);
    margin-left: auto;
    transition: all 1s;
    @include media-breakpoint-up(sm) {
      max-width: 718px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 1400px;
    }
    & .grid-item--last {
      // display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
  &_item {
    padding: 0 10px 20px;
    @media screen and (max-width: 480px) {
      padding: 25px 0;
    }
    @include media-breakpoint-up(sm) {
      padding: 15px 15px;
    }
    @include media-breakpoint-up(lg) {
      padding: 25px 22px;
    }
    &_hidden {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
    }
    & .thumb {
      position: relative;
      z-index: 5;
      display: block;
      overflow: hidden;
      height: 100%;
      transition: all 0.5s ease-in-out;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
      & video {
        position: absolute;
        top: 0;
        left: 0;
        // max-width: fit-content;
        // height: 100%;
        //
        margin: 0;
      }
      & img {
        height: 100%;
        width: 100%;
        margin: 0;
      }
      &_name {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        padding: 15px 20px;
        width: 100%;
        font-weight: 600;
        font-size: $font-size-base * 1.125;
        line-height: $font-size-base * 1.5;
        // opacity: 0;
        transition: all 0.5s ease-in-out;
        @include media-breakpoint-up(sm) {
          padding: 15px 20px;
          font-size: $font-size-base * 1.125;
          line-height: $font-size-base * 1.5;
        }
        @include media-breakpoint-up(lg) {
          padding: 30px 40px;
          font-size: $font-size-base * 1.2;
          line-height: $font-size-base * 2.25;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(
          bottom,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0) 25%
        );
        background: -webkit-linear-gradient(
          bottom,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0) 25%
        );
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0) 25%
        );
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        color: $white;
        &:after {
          opacity: 0;
        }
      }
    }
    &:hover {
      & .thumb_name {
        opacity: 0;
      }
    }
    & img {
      margin: 0;
      // transform: rotateY(0deg);
      // transition: all 1s;
    }
    &--1 {
      height: 348px;
      @include media-breakpoint-up(sm) {
        height: 402px;
      }
      @include media-breakpoint-up(lg) {
        height: 513px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 520px;
          height: 520px;
        }
      }
    }
    &--2 {
      height: 239px;
      @include media-breakpoint-up(sm) {
        height: 270px;
      }
      @include media-breakpoint-up(lg) {
        height: 360px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 470px;
          height: 470px;
        }
      }
    }
    &--3 {
      height: 400px;
      @include media-breakpoint-up(sm) {
        height: 425px;
      }
      @include media-breakpoint-up(lg) {
        height: 481px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 470px;
          height: 470px;
        }
      }
    }
    &--4 {
      height: 238px;
      @include media-breakpoint-up(sm) {
        height: 270px;
      }
      @include media-breakpoint-up(lg) {
        height: 360px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 470px;
          height: 470px;
        }
      }
    }
    &--5 {
      height: 419px;
      @include media-breakpoint-up(sm) {
        height: 476px;
      }
      @include media-breakpoint-up(lg) {
        height: 604px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 570px;
          height: 570px;
        }
      }
    }
    &--6 {
      height: 393px;
      @include media-breakpoint-up(sm) {
        height: 454px;
      }
      @include media-breakpoint-up(lg) {
        height: 570px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 520px;
          height: 520px;
        }
      }
    }
    &--7 {
      height: 243px;
      @include media-breakpoint-up(sm) {
        height: 274px;
      }
      @include media-breakpoint-up(lg) {
        height: 362px;
      }
      & a {
        width: 360px;
        height: 360px;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
          width: 470px;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          width: 470px;
          height: 470px;
        }
      }
    }
  }
}

// #blur-bg {
//     background-image: none;
//     filter: blur(0);
//     @media screen and (max-width: 480px) {
//         background-image: url(img/content/port.jpg);
//         filter: blur(15px);
//     }
// }
// .blur-bg {
//     background-image: none;
//     filter: blur(0);
//     @media screen and (max-width: 480px) {
//         background-image: url(img/content/port.jpg);
//         filter: blur(15px);
//     }
// }
.news-detail-title {
  margin-bottom: 30px;
  color: #1a1a1d;
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding: 13px 25px 15px 0px;
  white-space: normal;

  @media screen and (max-width: 760px) {
    padding: 13px 25px 15px 10px;
  }

  @media screen and (min-width: 760px) {
    padding: 13px 25px 15px 15px;
  }

  @media screen and (max-width: 480px) {
    font-weight: 700;
    text-align: center;
  }
}
