.newslist-mobile-article {
    padding: 0;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.section--newslist-mobile-article .share-panel {
    margin-bottom: 70px;
}

.section--newslist-mobile-article .press-mobile-newslist-button {
    display: none;
}

.section--newslist-mobile-article .press-center_filter-dropdown-mobile .btn::after {
    display: none;
}

.section--newslist-mobile-article .press-mobile-newslist-button-article {
    display: block;
}

.dropdown-toggle-text {
    @media screen and (max-width: 480px) {
        color: #00529c;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
    }
    
}

.dropdown-toggle-text::after {
    @media screen and (max-width: 480px) {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: middle;
        content: "";
        width: 0;
        height: 0;
        border-top: 7px solid #00529c;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 0;
    }
}