.pagination {
    display: none;
    @media screen and (max-width: 480px) {
        display: block;
        position: absolute;
        top: 15%;
        left: 35%;
        z-index: 2;
    }
    &-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        align-items: center;
    }
    &-item {
        display: flex;
        width: 10px;
        height: 10px;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        &--active {
            width: 5px;
            height: 5px;
        }
    }
    &-link {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
        &:hover {
            background: #fff;
        }
        &--active {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #fff;
        }
    }
}

.carousel {
    @media screen and (max-width: 480px) {
        display: flex;
    }
}

.carousel-inner {
    @media screen and (max-width: 480px) {
        display: flex;
    }
}

.carousel-inner .owl-carousel.owl-loaded {
    @media screen and (max-width: 480px) {
        display: flex;
    }
}

.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    top: 115px;
    width: 100vw;
    padding-left: 30%;
    z-index: 2;
}

.owl-carousel .owl-dots .owl-dot {
    display: flex;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    &:last-child {
        margin-right: 0;
    }
}

.owl-carousel .owl-dots .owl-dot.active {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}