.people {
    &_title {
        margin: 160px 30px 185px;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        @include media-breakpoint-up(sm) {
            margin: 55px 20px 30px;
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
            text-align: left;
        }
        @include media-breakpoint-up(lg) {
            margin: 55px 40px 30px;
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
            text-align: left;
        }
    }
    &_item {
        max-width: 380px;
        margin: 0 auto 70px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #1a1a1d;
        @include media-breakpoint-up(sm) {
            margin: 0 auto 40px;
        }
        &_avatar {
            margin-bottom: 20px;
            & img {
                margin: 0;
            }
        }
        &_name {
            font-size: 16px;
            line-height: 25px;
            color: #000;
            @include media-breakpoint-up(sm) {
                font-size: 16px;
                line-height: 25px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
}

.people_title-field {
    width: 100%;
    & .people_title {
        font-size: 36px;
        @media screen and (max-width: 1280px) {
            margin: 55px 40px 30px;
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
            text-align: left;
        }
        @media screen and (max-width: 760px) {
            margin: 55px 20px 30px;
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
            text-align: left;
        }
        @media screen and (max-width: 480px) {
            margin: 20px 15px;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            text-align: left;
            color: #000000;
            font-family: "Montserrat";
            font-weight: 500;
        }
    }
}