.photoarchive {
    height: auto;
    @include media-breakpoint-up(sm) {
        height: calc(100vh);
    }
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 108px);
    }
    @media (min-height: 768px) {
        height: calc(100vh - 270px);
    }
    &_media {
        position: relative;
        &_carousel {
            position: relative;
            height: 100%;
            & .owl-stage-outer,
            & .owl-stage,
            & .owl-item {
                height: 100%;
            }
            &_item {
                height: 100%;
                &_photo {
                    height: calc(100vh - 80px);
                    background-repeat: no-repeat;
                    background-position: 50% 0;
                    background-size: cover;
                    @include media-breakpoint-up(sm) {
                        height: 100%;
                    }
                }
                &_summary {
                    position: absolute;
                    bottom: 80px;
                    left: 0;
                    z-index: 2;
                    max-width: 220px;
                    margin: 0;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 32px;
                    color: $white;
                    @include media-breakpoint-up(sm) {
                        bottom: 110px;
                        left: 20px;
                        left: 25px;
                        max-width: 320px;
                        font-size: 32px;
                        line-height: 42px;
                    }
                    @include media-breakpoint-up(lg) {
                        bottom: 110px;
                        left: 0;
                        max-width: 555px;
                    }
                    @extend .h4;
                    & span {
                        display: inline-block;
                        padding-right: 5px;
                        padding-left: 5px;
                        background-color: $blue;
                        @include media-breakpoint-up(sm) {}
                    }
                }
                &_count {
                    position: absolute;
                    top: calc(100vh - 130px);
                    left: 120px;
                    z-index: 1;
                    display: block;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 42px;
                    color: $white;
                    @include media-breakpoint-up(sm) {
                        top: auto;
                        bottom: 20px;
                        left: 220px;
                        display: block;
                    }
                    & big {
                        font-size: 32px;
                    }
                    & span {
                        &:before {
                            content: '/';
                        }
                    }
                }
                &_download {
                    position: absolute;
                    display: block;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 32px;
                    color: $white;
                    top: calc(100vh - 125px);
                    left: 170px;
                    @include media-breakpoint-up(sm) {
                        top: 30px;
                        left: 30px;
                        display: block;
                    }
                    @include media-breakpoint-up(lg) {
                        top: auto;
                        bottom: 30px;
                        left: 50%;
                        display: block;
                        transform: translateX(-50%);
                    }
                    & a {
                        &:hover {
                            color: $white;
                        }
                    }
                    & .icon {
                        margin-right: 15px;
                        font-size: 32px;
                    }
                }
            }
            &-controls {
                position: absolute;
                top: calc(100vh - 130px);
                left: 0;
                z-index: 10;
                @include media-breakpoint-up(sm) {
                    top: auto;
                    bottom: 0;
                }
                & .owl-buttons_link {
                    display: block;
                    float: left;
                    width: 50px;
                    height: 50px;
                    line-height: 48px;
                    cursor: pointer;
                    text-align: center;
                    background-color: $blue;
                    @include media-breakpoint-up(sm) {
                        width: 90px;
                        height: 90px;
                        line-height: 88px;
                    }
                    &:hover {
                        @include media-breakpoint-up(lg) {
                            background-color: $dark-blue;
                        }
                    }
                    & .icon {
                        font-size: 12px;
                    }
                    &.disable {
                        & .icon {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
    &_menu {
        z-index: 10;
        padding: 35px 20px;
        font-weight: 300;
        // max-width: 400px;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        background-color: $white;
        @include media-breakpoint-up(sm) {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 45px 60px;
        }
        &_title {
            text-transform: none;
        }
        & ul {
            margin: 0;
            padding: 0;
            list-style: none outside;
            counter-reset: section;
            & li {
                position: relative;
                padding: 10px 0;
                counter-increment: section;
                letter-spacing: 2px;
                &:hover {
                    &:before {
                        color: $blue;
                    }
                }
                & a {
                    &:hover {
                        text-decoration: none;
                        &:before {
                            color: $blue;
                        }
                    }
                }
                &:before {
                    content: counter(section, decimal-leading-zero);
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 10px;
                    color: #696970;
                    @include media-breakpoint-up(sm) {
                        margin-right: 35px;
                    }
                }
                &.current {
                    color: $blue;
                    @include media-breakpoint-up(sm) {
                        color: $white;
                    }
                    @include media-breakpoint-up(sm) {
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50px;
                            display: block;
                            width: 46px;
                            height: 2px;
                            background-color: $dark-blue;
                        }
                    }
                    & a {
                        &:hover {
                            color: $white;
                        }
                    }
                    &:before {
                        color: $dark-blue;
                    }
                }
            }
        }
    }
    &_content {
        padding: 35px 20px;
        & h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }
        @include media-breakpoint-up(sm) {
            padding: 75px 80px;
        }
        @media screen and (min-width: 760px) {
            padding: 75px 80px;
        }
    }
    &_button {
        display: none;
        @media screen and (max-width: 480px) {
            display: block;
        }
        &--desktop {
            display: block;
            @media screen and (max-width: 480px) {
                display: none;
            }
        }
        &--onlymobile {
            display: none;
            @media screen and (max-width: 480px) {
                display: block;
            }
        }
    }
}

.dropdown-desktop-link {
    @media screen and (max-width: 480px) {}
}

.link.dropdown-photos-mobile-link {
    font-family: "Montserrat";
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 480px) {
        &:after {
            display: none;
        }
    }
    & span {
        display: none;
        @media screen and (max-width: 480px) {
            display: block;
            margin-right: 10px;
        }
    }
    & p {
        margin-bottom: 0;
    }
}