.photo {
    &_previews {
        flex: 0 0 300px;
        @media screen and (max-width: 480px) {
            display: none;
            flex: 0 0 auto;
        }
        &_list {
            //height: 900px;
            overflow: hidden;
            // width: 300px !important;
            &_scrollbox {
                width: 300px;
                display: flex;
                flex-wrap: wrap;
                @media screen and (max-width: 992px) {
                    width: auto;
                    padding-top: 20px;
                }
                @media screen and (max-width: 480px) {
                    flex-wrap: nowrap;
                    width: auto;
                }
            }
            & .mCSB_container {
                margin-right: 0px !important;
            }
            & .mCSB_dragger_bar {
                background-color: $blue !important;
            }
            & .mCSB_draggerRail {
                background-color: transparent !important;
            }
            @media screen and (max-width: 480px) {
                width: 300%;
            }
        }
        &_item {
            flex: 0 0 50%;
            @media screen and (max-width: 992px) {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                flex: 0 0 20%;
            }
            @media screen and (max-width: 480px) {
                flex: 0 0 auto;
                box-sizing: border-box;
            }
            &:first-child,
            &:last-child {}
            & .current img {
                border: 3px solid #004787;
                @media screen and (max-width: 480px) {
                    border: 3px solid transparent;
                }
            }
            &.current {
                & img {
                    border: 3px solid #004787;
                    @media screen and (max-width: 480px) {
                        border: 3px solid transparent;
                    }
                }
            }
        }
    }
    &_gallery {
        margin-left: -25px;
        margin-right: 25px;
        overflow: hidden;
        flex: 1 0;
        display: flex;
        align-items: stretch;
        @media screen and (max-width: 992px) {
            margin-left: auto;
            margin-right: auto;
        }
        &-wrap {
            @media screen and (max-width: 992px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                flex-direction: column;
            }
        }
        &_item {
            align-self: stretch;
            @media screen and (max-width: 992px) {
                overflow: hidden;
                width: -moz-calc(100vw - 20px);
                width: calc(100vw - 20px);
                height: 50vh;
            }
            &_img {
                height: 708px;
                margin-bottom: 10px;
                @media screen and (max-width: 992px) {
                    position: relative;
                    margin-bottom: 20px;
                    height: 70%;
                }
                @media screen and (max-width: 480px) {
                    height: auto;
                }
                & img {
                    margin: 0 auto;
                    width: auto !important;
                    max-width: 100%;
                    max-height: 100%;
                    @media screen and (max-width: 992px) {
                        max-width: none;
                        width: 100% !important;
                        max-height: none;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    @media screen and (max-width:480px) {
                        transform: translateX(0%);
                        left: 0%;
                    }
                }
            }
            &_title {
                max-width: 555px;
                & span {
                    background-color: $blue;
                    display: inline-block;
                    color: $white;
                    padding: 3px 5px;
                    font-size: 32px;
                    line-height: 1.1;
                }
            }
            & .arcticle-box_media_download {
                padding-right: 60px;
            }
        }
        &-controls {
            margin: -100px auto 0 700px;
            width: 186px;
            position: relative;
            z-index: 2;
            @media screen and (max-width: 1360px) {
                margin: -100px auto 0 555px;
            }
            @media screen and (max-width: 850px) {
                margin: -93px auto 0 500px;
            }
            @media screen and (max-width: 480px) {
                display: none;
            }
            & .owl-buttons {
                display: flex;
                flex-flow: row;
            }
            & .owl-buttons_link {
                display: block;
                width: 93px;
                height: 93px;
                background-color: $blue;
                color: $white;
                text-align: center;
                line-height: 93px;
                & .icon {
                    font-size: 12px;
                }
                &.disable {
                    & .icon {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}
