.photos {
    overflow-x: hidden;
    &__wrapper {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        &--desktop {
            // display: grid
            display: flex;
            // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            // grid-gap: 20px;
            @media screen and (max-width: 1600px) {
                // grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            @media screen and (max-width:1280px) {
                // grid-template-columns: 1fr 1fr 1fr;
            }
            @media screen and (max-width:992px) {
                // grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width:480px) {
                // grid-template-columns: 1fr;
                // grid-gap: 5px;
            }
        }
    }
    & .photos__item {
        padding: 10px;
        width: calc((100% / 5));
        @media screen and (max-width: 1600px) {
            width: calc((100% / 4));
        }
        @media screen and (max-width: 1280px) {
            width: calc((100% / 3));
        }
        @media screen and (max-width: 1000px) {
            width: calc((100% / 2));
        }
        @media screen and (max-width: 480px) {
            width: calc((100% / 1));
            padding: 2.5px 0;
        }
    }
    & .photos__item.filter-news-all {
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    &__item {
        // width: calc((100% / 2) - 20px);
        // margin: 0 10px 20px;
        @include media-breakpoint-up(sm) {
            // width: calc((100% / 3) - 20px);
        }
        @include media-breakpoint-up(lg) {
            // width: calc((100% / 4) - 20px);
        }
        @include media-breakpoint-up(xl) {
            // width: calc((100% / 5) - 20px);
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        // & a {
        //     @media screen and (max-width: 480px) {
        //         background-size: contain !important;
        //     }
        // }
        & a img {
            display: none;
            @media screen and (max-width: 480px) {
                display: block;
            }
        }
    }
    &-title {
        display: none;
        @media screen and (max-width: 480px) {
            display: block;
            text-align: center;
            color: #000000;
            font-family: "Montserrat";
            font-size: 15px;
            font-weight: 500;
        }
    }
    &-droptitle {
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
    & .photos__item7 a {
        @media screen and (max-width: 480px) {
            background: url('img/content/port2full.jpg') 50% 50%/ contain no-repeat;
        }
    }
    &_allphotos_link {
        max-height: 14rem;
        max-width: 23rem;
        // min-height: 100%;
        // min-width: 100%;
        width: 100%;
        height: 100%;
        // @media screen and (max-width: 1599px) {
        //     max-height: 280px;
        //     max-width: 372px;
        //     min-height: 220px;
        //     min-width: 292px;
        // }
        // @media screen and (max-width: 1279px) {
        //     max-height: 298px;
        //     max-width: 395px;
        //     min-height: 169px;
        //     min-width: 224px;
        // }
        // @media screen and (max-width: 759px) {
        //     max-height: 270px;
        //     max-width: 358px;
        //     min-height: 166px;
        //     min-width: 220px;
        // }
        @media screen and (max-width: 480px) {
            max-height: 100% !important;
            max-width: 100% !important;
            width: 100%;
            height: 100%;
            min-height: auto;
            min-width: auto;
        }
    }
}

.link.dropdown-photos-mobile-link {
    text-align: center;
    color: #000000;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    @media screen and (max-width: 1279px) {
        font-size: 15px;
        font-weight: 500;
    }
}

.link-text:hover {
    color: #00529c;
}

.page-title-mobile {
    display: none;
    @media screen and (max-width: 480px) {
        display: block;
        margin: 0;
        padding: 0;
        color: #000000;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
}