.piesite {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 15em;
    cursor: default;
    top: 0;
    left: 0;
    z-index: 1;

    @include media-breakpoint-up(sm) {
        font-size: 24em;
    }
}

.piesite .percent {
    position: absolute;
    top: 1.1em;
    left: .1em;
    width: 100%;
    font-size: .3em;
    text-align: center;
    z-index: 2;
    display: none;
    .symbol {
        font-size: .5em;
        vertical-align: top;
        opacity: .5;
    }
}

.piesite > #slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 1em, 1em, 0.5em);
}

.piesite > #slice.gt50 {
    clip: rect(auto, auto, auto, auto);
}

.piesite > #slice > .pie {
    position: absolute;
    border: 10px solid $yellow;
    width: 1em;
    height: 1em;
    clip: rect(0em, 0.51em, 1em, 0em);
    border-radius: 50%;
}

.pie {
    border-color: #FFA500;
}

.piesite > #slice > .pie.fill {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.piesite.fill > .percent {
    display: none;
}

.piesite:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    width: 99%;
    height: 99%;
    background: $indigo;
    border-radius: 100%;
    z-index: 1;
}

.piesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    z-index: 0;
    background: rgba($indigo, 1);
}
