.section--press .owl-carousel .owl-loaded {
  @media screen and (max-width: 480px) {
    display: flex;
  }
}

#owl-carousel2 .owl-dots {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  position: absolute;
  top: 95%;
  width: 100vw;
  z-index: 2;
  @media screen and (max-width: 480px) {
    top: 15%;
  }
  @media screen and (max-width: 420px) {
    top: 15%;
  }
  @media screen and (max-width: 375px) {
    top: 16%;
  }
  @media screen and (max-width: 360px) {
    top: 17%;
  }
  @media screen and (max-width: 320px) {
    top: 19%;
  }
}

#owl-carousel2 .owl-dots .owl-dot {
  display: flex;
  margin-right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  // border: 1px solid #00529C;
  background: #00529c;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background: #00529c;
  }
}

#owl-carousel2 .owl-dots .owl-dot.active {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00529c;
}

#owl-carousel2 .owl-item img {
  height: 222px;
}

.press-slider {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  @media screen and (max-width: 480px) {
    display: block;
  }
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    &-page {
      color: #000000;
      font-family: "Montserrat";
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 60px;
    }
  }
  &-image {
    min-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
  }
  &-text {
    padding: 0 15px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 55px;
    @media screen and (max-width: 480px) {
      margin-bottom: 85px;
    }
  }
  &-button {
    position: absolute;
    bottom: 10px;
    padding: 15px 20px;
    border: none;
    color: #fff;
    background-color: #00529c;
    outline: none;
    width: 40%;
    align-self: center;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 12px;
    cursor: pointer;

    //&:hover {
    //  background: 2px solid #03457e;
    //}
  }
}
