.press-center {
  &_blocks {
    position: relative;
    margin-right: -7px;
    margin-left: -7px;
    @include media-breakpoint-up(lg) {
      overflow: hidden;
      height: calc(100vh - 286px);
      margin-right: -14px;
      margin-left: -14px;
    }
    &_col {
      padding-right: 7px;
      padding-left: 7px;
      @media screen and (max-width: 480px) {
        // display: none;
      }
      @include media-breakpoint-up(lg) {
        position: relative;
        height: 100%;
        padding-right: 14px;
        padding-left: 14px;
      }
    }
  }
  &_block {
    position: relative;
    height: 222px;
    margin-bottom: 15px;
    @media screen and (max-width: 480px) {
      // display: none;
    }
    @include media-breakpoint-up(sm) {
      width: 216px;
      height: 176px;
      margin-bottom: 12px;
    }
    @include media-breakpoint-up(lg) {
      width: 450px;
      height: 50%;
    }
    &--height2 {
      height: 350px;
      @include media-breakpoint-up(sm) {
        width: 100%;
        // height: calc((176px * 2) + 12px);
        height: 100%;
      }
      @include media-breakpoint-up(lg) {
        width: 100%;
        height: 100%;
        & .owl-stage-outer,
        & .owl-stage,
        & .owl-item {
          height: 100%;
        }
        & .press-center_block_carausel_item {
          height: 100% !important;
        }
      }
      &--inner {
        height: 215px;
        @include media-breakpoint-up(sm) {
          height: calc(480px);
        }
        @include media-breakpoint-up(lg) {
          height: calc(100vh);
        }
      }
      &.press-center_block_preview_summary {
        @media screen and (max-width: 760px) {
          top: auto;
          bottom: 45px;
        }
      }
      &.press-center_block_carausel_item_img {
        @media screen and (max-width: 760px) {
          height: calc((176px * 2) + 12px);
        }
      }
    }
    &_preview {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;
      width: 100%;
      height: 100%;
      color: $white;
      @media screen and (max-width: 480px) {
        // display: none;
      }
      &_img {
        position: absolute;
        // top: 0;
        top: -7px;
        left: 0;
        z-index: 1;
        width: 100%;
        // height: 100%;
        height: 104%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        transition: all 0.5s ease-in-out;
      }
      &_summary {
        // position: absolute;
        // bottom: 15px;
        // left: 10px;
        z-index: 2;
        max-width: 190px;
        margin: 0;
        font-weight: 400;
        font-size: $font-size-base * 0.875;
        line-height: $font-size-base * 1.5;
        @include media-breakpoint-up(sm) {
          position: absolute;
          bottom: 15px;
          left: 25px;
          max-width: 320px;
          font-size: $font-size-base * 1.125;
          line-height: $font-size-base * 1.5;
        }
        @include media-breakpoint-up(lg) {
          bottom: 30px;
          left: 30px;
          max-width: 555px;
          font-size: $font-size-base * 1.5;
          line-height: $font-size-base * 2.25;
        }
        & span {
          display: inline-block;
          padding-right: 5px;
          padding-left: 5px;
          background-color: $blue;
        }
        &--second {
          line-height: 35px;
          @include media-breakpoint-up(sm) {
            line-height: 25px;
          }
          @include media-breakpoint-up(lg) {
            line-height: 45px;
          }
          & span {
            padding-right: 10px;
            padding-left: 10px;
            @include media-breakpoint-up(sm) {
              padding-right: 8px;
              padding-left: 8px;
            }
            @include media-breakpoint-up(lg) {
              padding-right: 15px;
              padding-left: 15px;
            }
          }
        }
        &--mobile {
          max-width: 100%;
          padding-top: 10px;
          @include media-breakpoint-up(sm) {
            padding-top: 0;
            max-width: 320px;
          }
          @include media-breakpoint-up(lg) {
            max-width: 555px;
          }
          & span {
            background-color: transparent;
            color: $black;
            @include media-breakpoint-up(sm) {
              color: $white;
              display: inline-block;
              padding-right: 5px;
              padding-left: 5px;
              background-color: $blue;
            }
          }
        }
      }
      &_link {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 100%;
        height: 100%;
      }
      &_btn {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: block;
        overflow: hidden;
        width: 140px;
        padding: 11px 18px;
        font-weight: 400;
        font-size: $font-size-base * 0.625;
        line-height: $font-size-base * 1.25;
        text-transform: uppercase;
        color: $white;
        background-color: $blue;
        &-more {
          display: none;
        }
        @media screen and (max-width: 1280px) {
          width: 285px;
          padding: 33px 0 33px 60px;
          line-height: 1.25rem;
        }
        @media screen and (max-width: 1024px) {
          bottom: 15px;
        }
        @media screen and (max-width: 480px) {
          display: none;
        }
        @include media-breakpoint-up(sm) {
          width: 150px;
          padding: 12.5px 30px;
          font-size: $font-size-base * 0.625;
          line-height: $font-size-base * 1.25;
          &-more {
            display: block;
          }
        }
        @include media-breakpoint-up(lg) {
          width: 285px;
          padding: 33px 0 33px 60px;
          font-size: $font-size-base * 0.75;
          line-height: $font-size-base * 1.25;
          &-more {
            font-size: $font-size-base * 0.75;
          }
        }
        & span {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          transition: all 0.3s ease-in-out;
          @include media-breakpoint-up(sm) {
            width: 45px;
          }
          @include media-breakpoint-up(lg) {
            width: 86px;
          }
          & .icon {
            font-size: 9px;
            @include media-breakpoint-up(sm) {
              font-size: 9px;
            }
            @include media-breakpoint-up(lg) {
              font-size: 12px;
            }
            &-plus {
              font-size: 14px;
              @include media-breakpoint-up(sm) {
                font-size: 16px;
              }
              @include media-breakpoint-up(lg) {
                font-size: 32px;
              }
            }
          }
        }
        &:hover {
          text-decoration: none;
          color: $white;
          background-color: darken($blue, 10%);
          & span.arrow {
            right: -10px;
          }
        }
      }
    }
    &--height2 &_preview {
      &_summary {
        top: 30px;
        bottom: auto;
        margin: 0;
        @include media-breakpoint-up(sm) {
          top: auto;
          bottom: 45px;
        }
        @include media-breakpoint-up(lg) {
          bottom: 87px;
        }
        @extend .h3;
        @extend .text-regular;
      }
    }
    &_carausel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &_item {
        &_img {
          position: relative;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: bottom center;
          background-size: cover;
        }
      }
      &_btn {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &_controls {
      position: absolute;
      bottom: 3px;
      left: 0;
      z-index: 10;
      @include media-breakpoint-up(sm) {
        bottom: 5px;
        left: 20px;
      }
      @include media-breakpoint-up(lg) {
        bottom: 20px;
        left: 30px;
      }
      & .owl-buttons_link {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        line-height: 38px;
        cursor: pointer;
        text-align: center;
        @include media-breakpoint-up(sm) {
          opacity: 1;
        }
        & .icon {
          font-size: 12px;
        }
        &.disable {
          & .icon {
            opacity: 0.5;
          }
        }
      }
      &--mobile {
        top: 170px;
        @include media-breakpoint-up(sm) {
          top: auto;
        }
      }
    }
    &--height2 .press-center_block_carausel_item {
      height: auto;
      @include media-breakpoint-up(sm) {
        // height: calc((176px * 2) + 12px);
      }
      @include media-breakpoint-up(lg) {
        // height: calc((366px * 2) + 25px);
      }
      &_img {
        // height: 222px;
        height: 100%;
        @include media-breakpoint-up(sm) {
          // height: calc((176px * 2) + 12px);
        }
        @include media-breakpoint-up(lg) {
          // height: calc((366px * 2) + 25px);
        }
      }
    }
  }
  &_rubrics {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none outside;
    background: #fff;

    &--photo {
      background: #f4f4f4;
      @media screen and (max-width: 480px) {
        background: #fff;
      }
    }
    &--photochoose {
      display: flex;
      flex-direction: column;
      height: 100%;

      li {
        margin-bottom: 21px;
      }
    }
    &--photoarchivechoose {
      height: 100% !important;
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(lg) {
      padding: 25px 50px 25px 0;
      z-index: 50;
      width: 100%;
      &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        padding-left: 50px;
      }
    }
    &--full {
      @include media-breakpoint-up(lg) {
        padding-right: 0;
      }
    }
    & .link.current {
      &:after {
        width: 100% !important;
      }
    }
    &-container {
      height: 76px;
      margin-top: -25px;
      @media screen and (max-width: 1279px) {
        margin-top: 0;
        height: 60px;
      }
    }
  }
  &_news {
    &_field {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      width: 100%;
    }
    &_title {
      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
        font-size: 28px;
      }
    }
    &_list {
      @include media-breakpoint-up(sm) {
        margin-bottom: 80px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
      @media screen and (max-width: 480px) {
        display: flex;
        flex-wrap: wrap;
      }
      &--press {
        & .press-center_news_item .press-center_news_item_preview {
          width: auto;
        }
      }
      &--news {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 -10px;

        & .filter-news-all {
          width: calc((100% / 2) - 20px);
          margin: 0 10px 20px;

          @media screen and (min-width: 760px) {
            width: calc((100% / 3) - 20px);
          }

          @media screen and (min-width: 1280px) {
            width: calc((100% / 4) - 20px);
          }
          @media screen and (min-width: 1600px) {
            width: calc((100% / 5) - 20px);
          }

          & .press-center_news_item {
            & .press-center_news_item_preview {
              width: auto;
              //width: 358px;
              //height: 222px;
              //max-width: 100%;
              //max-height: 100%;
              //@media screen and (max-width: 1600px) {
              //  width: 300px;
              //  height: 190px;
              //}
              //@media screen and (max-width: 480px) {
              //  height: 140px;
              //}
            }
          }
        }
      }
    }
    &_list-link {
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      color: $blue;
      font-weight: 500;
      margin-bottom: 35px;
      &.small {
        font-size: 12px;
      }
    }

    &_item {
      position: relative;
      margin-bottom: 30px;

      &--inner {
        @include media-breakpoint-up(lg) {
          min-width: 260px;
        }
        @include media-breakpoint-up(xl) {
          min-width: 300px;
        }
        @include media-breakpoint-up(xxl) {
          min-width: 350px;
        }
      }

      &_preview {
        position: relative;
        overflow: hidden;
        //width: 358px;
        //height: 222px;
        @media screen and (max-width: 1600px) {
          height: 190px;
        }
        @include media-breakpoint-up(sm) {
          height: 175px;
        }
        @include media-breakpoint-up(lg) {
          height: 184px;
        }
        @media screen and (max-width: 480px) {
          height: 96px;
        }
        &_img {
          //position: absolute;
          //top: 0;
          //left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          transition: all 0.3s ease-in-out;
        }
      }
      &_more {
        position: relative;
        display: flex;
        overflow: hidden;
        align-items: center;
        height: 175px;
        padding: 35px 40px 35px 35px;
        text-transform: uppercase;
        color: $white;
        background-color: $blue;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 480px) {
          height: 40px;
          padding: 20px 25px 20px 25px;
          background-color: #00529c;
        }
        @include media-breakpoint-up(sm) {
          height: 175px;
          padding: 35px 40px 35px 35px;
        }
        @include media-breakpoint-up(lg) {
          height: 250px;
          padding: 45px 60px 45px 45px;
        }
        @extend .text2;
        &_text {
          max-width: 130px;
          @include media-breakpoint-up(sm) {
            max-width: 130px;
          }
          @include media-breakpoint-up(lg) {
            max-width: 170px;
          }
        }
        &:before {
          content: "";
          position: absolute;
          right: 20px;
          bottom: 25px;
          display: block;
          width: 16px;
          height: 9px;
          background: url("../img/icons/arrow-right.svg") no-repeat 50% 50%;
          transition: all 0.3s ease-in-out;
          @media screen and (max-width: 480px) {
            display: none;
          }
          @include media-breakpoint-up(sm) {
          }
          @include media-breakpoint-up(lg) {
            right: 35px;
            bottom: 30px;
            height: 12px;
          }
        }
        & .press-center_news_item_link {
          @media screen and (max-width: 480px) {
            padding: 15px 20px;
            border: none;
            color: #fff;
            background-color: #005eb2;
            outline: none;
            width: 180px;
            align-self: center;
            margin-bottom: 0;
            text-align: center;
            text-decoration: none;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.1px;
            line-height: 12px;
            background-color: #005eb2;
            cursor: pointer;
          }
        }
      }
      &_summary {
        padding: 60px 0 10px;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 1100px) {
          padding-top: 10px;
        }
        @media screen and (max-width: 480px) {
          color: #000000;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
          margin-bottom: 10px;
        }
        &_text {
          min-height: 80px;
        }
      }
      &_date {
        display: block;
        padding: 4px 0;
        color: $gray-600;
        @media screen and (max-width: 480px) {
          color: #000000;
          font-family: "Montserrat";
          font-size: 10px;
          font-weight: 300;
        }
        & span {
          display: inline-block;
          margin-left: 30px;
          @media screen and (max-width: 480px) {
            display: none;
          }
        }
        &--main {
          @media screen and (max-width: 480px) {
            color: #000000;
            font-family: "Montserrat";
            font-size: 15px;
            font-weight: 500;
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0;
          }
        }
      }
      &_link {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        outline: none;
        @media screen and (max-width: 480px) {
        }
      }
    }
  }
  &_filter-dropdown {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: none;
    @media screen and (max-width: 1279px) {
      display: block;
      & .dropdown-toggle {
        @media screen and (max-width: 1279px) {
          color: #00529c;
          font-family: "Montserrat";
          font-size: 20px;
          font-weight: 700;
          white-space: normal;
        }
      }
    }
    &-mobile {
      @media screen and (max-width: 768px) {
        display: block;
      }
      @media screen and (max-width: 480px) {
        display: none;
      }
      & .btn span {
        font-size: 20px;
        font-weight: 700;
        color: #00529c;
        font-family: "Montserrat";
      }
      & .dropdown-toggle {
        color: #00529c;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
        white-space: normal;
        &-press {
          &::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: middle;
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid #00529c;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 0;
          }
        }
      }
      & .btn::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: middle;
        content: "";
        width: 0;
        height: 0;
        border-top: 7px solid #00529c;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 0;
      }
    }
    & .onlymobile {
      display: none;
      @media screen and (max-width: 480px) {
        display: block;
      }
    }
    &--full {
      margin-top: 0;
      margin-bottom: 30px;
    }
    & .dropdown-toggle {
      color: $blue;
      & span {
        display: inline-block;
        border-bottom: 2px solid $blue;
        @media screen and (max-width: 480px) {
          border-bottom: none;
        }
      }
      &:after {
        margin-left: 10px;
        vertical-align: middle;
      }
      @media screen and (max-width: 480px) {
        color: #00529c;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 800;
        white-space: normal;
        &:after {
          display: inline-block;
          margin-left: 0.255em;
          vertical-align: middle;
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid #00529c;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-bottom: 0;
        }
      }
    }
    & .dropdown-menu {
      width: 96vw;
      left: 2px !important;
      & a {
        padding: 10px 20px;
      }
    }
  }
  &_allphotos {
    padding: 80px 10px 0;
    background-color: $gray-200;
    @media screen and (max-width: 480px) {
      padding: 0;
      background-color: transparent;
    }
    @include media-breakpoint-up(sm) {
      padding: 0 25px 20px;
    }
    & .press-center_rubrics {
      background-color: transparent;
    }
    &_link {
      display: block;
      min-height: 282px;
      min-width: 374px;
      width: 100%;
      height: 100%;
      @media screen and (max-width: 2000px) {
        max-height: 282px;
        max-width: 374px;
        min-height: 270px;
        min-width: 292px;
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 1600px) {
        min-height: 235px;
        min-width: 312px;
        height: 220px;
        width: 292px;
      }
      @media screen and (max-width: 1360px) {
        max-height: 221px;
        max-width: 294px;
      }
      @media screen and (max-width: 1280px) {
        max-height: 298px;
        max-width: 396px;
      }
      @media screen and (max-width: 480px) {
        max-height: auto;
        max-width: auto;
        width: 100%;
        height: 100%;
        min-height: auto;
        min-width: auto;
      }
      & img {
        // min-height: 315px;
        width: 100%;
        height: 100%;
        margin: 0;
        display: block;
        @media screen and (max-width: 1600px) {
          min-height: 224px;
        }
        @media screen and (max-width: 768px) {
          min-height: 170px;
        }
      }
    }
  }
}

// hovers
.press-center_block:hover {
  & .press-center_block_preview_img {
    transform: scale(1.1);
  }
  & .no-hover {
    transform: scale(1) !important;
  }
}

.press-center_news_item:hover {
  .press-center_news_item_preview_img {
    transform: scale(1.1);
  }
  .press-center_news_item_summary {
    color: $blue;
  }
  .press-center_news_item_more {
    background-color: darken($blue, 10%);
    &::before {
      margin-right: -10px;
    }
  }
}

.press-center_block--height2 .press-center_block_carausel_item_img {
  @media screen and (max-width: 1200px) {
    height: calc((176px * 2) + 12px);
  }
}

.dropdown-desktop-link {
  @media screen and (max-width: 480px) {
  }
}

.press-center_rubrics--photoarchive {
  @media screen and (max-width: 1600px) {
  }
  @media screen and (max-width: 480px) {
    // display: flex !important;
  }
}

.press-center-filter-button480 {
  @media screen and (max-width: 480px) {
    width: 40%;
    left: 25%;
  }
  &--detail {
    @media screen and (max-width: 480px) {
      left: 25%;
    }
  }
}

.press-center_filter-dropdown .dropdown-toggle span {
  @media screen and (max-width: 1279px) {
    border-bottom: none;
  }
}

.press-center-article {
  &-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .press-center-article-button {
      margin-bottom: 20px;
    }
  }

  &-button {
    display: block;
    color: #00529c;
    text-transform: uppercase;
    @media screen and (max-width: 480px) {
      padding: 15px 10px;
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1px;
      line-height: 12px;
      background-color: #005eb2;
      text-transform: unset;
      &:hover {
        color: #fff;
      }
    }
  }
  &-link {
    &-text {
      margin-bottom: 0;
    }
    display: inline-block;
    color: #00529c;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

    z-index: 50;
    text-transform: uppercase;
    @media screen and (max-width: 480px) {
      display: inline-block;
      color: #00529c;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-transform: initial;
    }
  }
  &-text {
    margin-bottom: 0;
  }
}

.press-center_news_item_more {
  @media screen and (max-width: 480px) {
    padding: 0;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 12px;
    background-color: #005eb2;
    justify-content: center;
  }
}

.press-center_news_item_more_text {
  @media screen and (max-width: 480px) {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 16px;
    width: 100%;
    white-space: normal;
    text-transform: initial;
    text-align: center;
  }
}

.filter-news-all {
  @media screen and (max-width: 480px) {
    width: 50%;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  @media screen and (max-width: 480px) {
    background-color: #fff;
    color: #16181b;
  }
}

// .col-sm-nf {
//     flex-grow: 0;
// }
.wrapper-white {
  background: white;
}

.onlymobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
  }
}
