#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    width: 100%;
    height: 100%;

    background: #030303 url('../img/laoder3.gif') no-repeat 50% 50%;
    background-size: 320px auto;

    @include media-breakpoint-up(sm) {
        background: #030303 url('../img/laoder3.gif') no-repeat 50% 57%;
    }

    // .page & {
    //     background: #FBFBFB url('../img/laoder1.gif') no-repeat 50% 50%;
    //     background-size: 320px auto;

    //     @include media-breakpoint-up(sm) {
    //         background: #FBFBFB url('../img/laoder1.gif') no-repeat 50% 50%;
    //     }
    // }

    // .dark-preloader & {
    //     background: #030303 url('../img/laoder3.gif') no-repeat 50% 50%;
    //     background-size: 320px auto;

    //     @include media-breakpoint-up(sm) {
    //         background: #030303 url('../img/laoder3.gif') no-repeat 50% 57%;
    //     }
    // }
}
