.section--press-mobile {
    display: none;
    @media screen and (max-width: 480px) {
        display: block;
        padding: 0;
    }
}

.press-mobile-preview {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    @media screen and (max-width: 480px) {
        margin-bottom: 37px;
    }
    &-item {
        flex: 1;
    }
    &-link {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        @media screen and (max-width: 320px) {
            height: auto;
            display: flex;
            flex-direction: column;
        }
    }
    &-image {
        margin: 0;
        height: 120px;
        &--photos {
            background: url('../../img/content/block1.jpg') 50% 50%/ cover no-repeat;
        }
        &--videos {
            background: url('../../img/content/block2.jpg') 50% 50%/ cover no-repeat;
        }
        @media screen and (max-width: 320px) {
            height: 90px;
        }
    }
    &-desc {
        padding-top: 15px;
        color: #000000;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 0;
    }
}

.press-mobile-newslist {
    &-field {
        display: grid;
        grid-template-rows: auto 75px;
    }
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 45px;
        @media screen and (max-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @media screen and (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &-item {
        overflow: hidden;
    }
    &-link {
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        color: black;
    }
    &-image {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 15px;
        transition: 0.5s;
    }
    &-text {
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 15px;
    }
    &-date {
        font-family: "Montserrat";
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 0;
    }
    &-footer {
        display: none;
        @media screen and (max-width: 480px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    &-button {
        padding: 15px 20px;
        border: none;
        color: #fff;
        background-color: #005EB2;
        outline: none;
        width: 180px;
        align-self: center;
        margin-bottom: 0;
        text-align: center;
        text-decoration: none;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height: 12px;
        background-color: #005eb2;
        cursor: pointer;
        &:hover {
            background: 2px solid rgb(3, 69, 126);
            color: #fff;
        }
    }
}

.press-mobile-newslist-item:hover .press-mobile-newslist-image {
    transform: scale(1.1);
}