.share-panel {
    display: flex;
    justify-content: center;

    margin: 0 0 30px;
    padding: 0;

    list-style: none outside;

    @include media-breakpoint-up(sm) {
        margin-bottom: 80px;
    }
    @include media-breakpoint-up(lg) {
        margin: 0 0 100px;
    }

    & li {
        & a {
            position: relative;

            display: block;

            padding: 20px;

            color: $white;
            background-color: $blue;

            @include media-breakpoint-up(sm) {
            }
            @include media-breakpoint-up(lg) {
                padding: 40px;
            }

            & .icon {
                font-size: 12px;

                @include media-breakpoint-up(sm) {
                    font-size: 24px;
                }
            }

            & span {
                position: absolute;
                top: 100%;
                left: 50%;

                display: none;

                width: 260px;
                padding-top: 10px;

                font-size: 12px;
                line-height: 24px;

                text-align: center;
                letter-spacing: 2px;
                text-transform: uppercase;

                color: #333;
                transform: translateX(-50%);

                opacity: 0;

                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }

            &:hover {
                color: $yellow;
                background-color: $indigo;

                & span {
                    opacity: 1;
                }
            }
        }
    }
}
