.space-container404 {
    position: relative;
    @media screen and (max-width: 480px) {
        display: none;
    }
    &-text {
        z-index: 2;
        color: $white;
        font-size: 32px;
        line-height: 1.2;
        margin-top: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 68%;
        width: 100%;
        @media screen and (max-width: 480px) {
            margin-top: 0;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            position: absolute;
            top: 68%;
            width: 100%;
        }
        & a {
            color: $blue;
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
        }
    }
    .canvas {
        position: relative;
        z-index: 1;
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
    &-desc {
        width: 680px;
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 55px;
        @media screen and (max-width: 480px) {
            width: 224px;
            height: 71px;
            color: #ffffff;
            font-family: "Montserrat";
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 23px;
        }
    }
    &-button {
        padding: 15px 20px;
        border: none;
        color: #fff;
        background-color: #005eb2;
        outline: none;
        margin-bottom: 0;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height: 12px;
        cursor: pointer;
        &:hover {
            background: 2px solid rgb(3, 69, 126);
        }
        & a {
            color: #fff;
        }
        @media screen and (max-width: 480px) {
            padding: 15px 20px;
            border: none;
            color: #fff;
            background-color: #005eb2;
            outline: none;
            margin-bottom: 0;
            text-align: center;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.1px;
            line-height: 12px;
            cursor: pointer;
            &:hover {
                background: 2px solid rgb(3, 69, 126);
            }
            & a {
                color: #fff;
            }
        }
    }
    &-mobile {
        display: none;
        height: 100vh;
        width: 100vw;
        background: #000000;
        @media screen and (max-width: 480px) {
            display: block;
            height: 100vh;
            width: 100vw;
            background: #000000;
        }
    }
    &-bg {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: url("../../img/content/Bitmap.png") 50% 50%/ cover no-repeat;
        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background: url("../../img/content/Bitmap.png") 50% 50%/ contain no-repeat;
        }
    }
}

#canvas {
    background-color: black;
}