.video-box {
  &-menu--main {
    @media screen and (max-width: 480px) {
      padding-top: 0;
    }
  }

  @media screen and (min-width: 320px) {
    &_preview {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 210px;
    }
  }

  @media screen and (min-width: 480px) {
    &_preview {
      &_press {
        height: 375px;
      }
    }
  }

  &_preview {
    position: relative;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 680px) {
      .play {
        position: relative;
        padding: 4px;
        z-index: 30;
        &-text {
          display: none;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 40%;
          left: 43%;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-left: 12px solid #00529c;
          border-bottom: 6px solid transparent;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $white;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          svg {
            display: none;
          }
        }
      }
    }

    &.-hidden {
      .play,
      .thumbnail_container {
        display: none;
      }
    }

    &.-hidden-blur {
      .thumbnail_container {
        background-image: none !important;
        background: transparent;
      }
    }

    .player,
    .thumbnail_container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .player {
      z-index: 10;
    }

    .thumbnail_container {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 11;
    }

    @media screen and (min-width: 680px) {
      .play {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 30;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        border: none;
        outline: none;
        background-color: $blue;
        padding: 33px 35px;
        width: 320px;

        &:after {
          display: none;
        }

        &:hover {
          background-color: #003769;
        }

        &-text {
          color: $white;
          text-transform: uppercase;
          margin-bottom: 0;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $white;
          border-radius: 50%;
          width: 32px;
          height: 32px;

          svg {
            margin-left: 2px;
            width: 11px;
            height: 12px;
            fill: $white;
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      min-height: 480px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 640px !important;
      height: 100%;
    }

    &--contact {
      height: 270px;
    }
    &--page {
      @include media-breakpoint-up(lg) {
        @media (min-height: 768px) {
          height: calc(100vh - 270px);
          min-height: 640px;
        }
      }
    }
    &--contacts {
      @media screen and (max-width: 1200px) {
        height: 50vh;
      }
    }
    //&_btn {
    //    position: absolute;
    //    right: 0;
    //    bottom: 0;
    //    z-index: 5;
    //    display: block;
    //    overflow: hidden;
    //    width: 165px;
    //    padding: 12.5px 18px;
    //    text-transform: uppercase;
    //    color: $white;
    //    background-color: $blue;
    //    @include media-breakpoint-up(sm) {
    //        width: 200px;
    //        padding: 12.5px 30px;
    //    }
    //    @include media-breakpoint-up(lg) {
    //        width: 320px;
    //        padding: 33px 35px;
    //    }
    //    &--right {
    //        right: auto;
    //        left: 0;
    //        @media screen and (max-width: 480px) {
    //            background-color: transparent;
    //            color: transparent;
    //            bottom: 45%;
    //            left: 20%;
    //            width: 100%;
    //            display: flex;
    //            & span {
    //                background-color: #fff;
    //                border-radius: 50%;
    //                margin-right: 65%;
    //            }
    //            & .icon {
    //                fill: #00529C;
    //            }
    //        }
    //        &:hover {
    //            color: #fff !important;
    //        }
    //    }
    //    @extend .text2;
    //    & span {
    //        position: absolute;
    //        top: 0;
    //        right: 0;
    //        bottom: 0;
    //        display: flex;
    //        align-items: center;
    //        justify-content: center;
    //        width: 45px;
    //        transition: all .3s ease-in-out;
    //        @include media-breakpoint-up(sm) {
    //            width: 45px;
    //        }
    //        @include media-breakpoint-up(lg) {
    //            width: 86px;
    //        }
    //        & .icon {
    //            font-size: 9px;
    //            @include media-breakpoint-up(sm) {
    //                font-size: 9px;
    //            }
    //            @include media-breakpoint-up(lg) {
    //                font-size: 12px;
    //            }
    //        }
    //        &.play {
    //            &:before {
    //                display: none;
    //                @media screen and (max-width: 480px) {
    //                    content: '';
    //                    display: block;
    //                    position: absolute;
    //                    top: 40%;
    //                    left: 41%;
    //                    width: 0;
    //                    height: 0;
    //                    border-top: 5px solid transparent;
    //                    border-left: 10px solid #00529c;
    //                    border-bottom: 5px solid transparent;
    //                }
    //            }
    //        }
    //        &:hover {
    //            text-decoration: none;
    //            color: $white;
    //            background-color: darken($blue, 10%);
    //            & span.arrow {
    //                right: -10px;
    //            }
    //        }
    //    }
    //    &:hover &_btn {
    //        // display: none;
    //    }
    //    & .plyr__poster {
    //        background-size: cover;
    //        @media screen and (max-width: 480px) {
    //            background-size: cover;
    //            background-position: 0 0;
    //        }
    //    }
    //}
    &-menu {
      padding-top: 120px;
      @media screen and (max-width: 760px) {
        padding-top: 20px;
      }
      @media screen and (max-width: 480px) {
        padding-top: 0;
        color: #00529c;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        &-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          & a {
            color: #4d87ba;
          }
        }
      }
      & ul li {
        position: relative;
        padding: 10px 0;
        counter-increment: section;
        letter-spacing: 2px;
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        & a {
          font-family: "Montserrat";
          font-weight: 300;
          font-size: 12px;
          line-height: 1.2;
          text-transform: uppercase;
          color: #1a1a1d;
        }
      }
    }
  }
  &-menu-list li a {
    @media screen and (max-width: 480px) {
      text-transform: initial;
      letter-spacing: 0.5px;
    }
  }
}

.videos_title {
  font-size: 28px;
  margin: 0.67em 0;
  font-family: "Montserrat", sans-serif;
}

.plyr__control--overlaid {
  display: none !important;
}

.plyr.plyr__poster {
  @media screen and (max-width: 480px) {
    height: auto;
  }
}

html {
  overflow-x: hidden;
}

.people_title {
  margin: 160px 30px 185px;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

@media (min-width: 1280px) {
  .people_title {
    margin: 55px 40px 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}

@media (min-width: 760px) {
  .people_title {
    margin: 55px 20px 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}

@media (min-width: 480px) {
  .people_title {
    margin: 20px 15px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: #000000;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
  }
}

.page-menu--videos {
  padding-top: 120px;
  @media screen and (max-width: 1200px) {
    padding-top: 20px;
  }
  @media screen and (max-width: 760px) {
    padding-top: 20px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 20px;
  }
  & ul li {
    color: #696970;
    font-weight: 300;
  }
}

div.thumbnail_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  @media screen and (max-width: 480px) {
    height: 210px;
  }
}

iframe {
  @media screen and (max-width: 480px) {
    height: 210px;
  }
}
