.breadcrumbs {
    padding: 20px 10px;

    color: $light-red;

    @include media-breakpoint-up(sm) {
        padding: 25px 40px 35px;
    }
    @include media-breakpoint-up(lg) {
        padding: 30px 40px 40px 60px;
    }
    @include media-breakpoint-up(xl) {
        padding: 30px 50px 40px 140px;
    }

    @extend .default-text;
    & a {
        display: inline-block;

        text-decoration: none;

        color: inherit;
        &:after {
            content: '/';

            display: inline-block;

            margin: 0 3px;
        }
    }

    .section & {
        padding-left: 0;
    }
}
