.content {
    font-weight: 400;
    font-size: $font-size-base * .875;
    line-height: $font-size-base * 1.3125;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base;
        line-height: $font-size-base * 1.5;
    }
    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
        line-height: $font-size-base * 2;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
        line-height: $font-size-base * 2;
    }

    & p {
        margin-top: 20px;
        margin-bottom: 50px;
        @include media-breakpoint-up(sm) {
            
        }
        @include media-breakpoint-up(md) {
            margin-top: 40px;
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }

    & ul {
        margin-top: 0;
        margin-bottom: 70px;
        padding-left: 25px;

        list-style: none outside;

        & li {
            position: relative;

            margin: 15px 0;

            &:before {
                content: '';

                position: absolute;
                top: 8px;
                left: -12px;

                display: block;

                width: 6px;
                height: 6px;

                border-radius: 50%;
                background-color: #bcbebe;

                @include media-breakpoint-up(sm) {
                    top: 10px;
                }

                @include media-breakpoint-up(md) {
                    top: 14px;
                }
            }
        }
    }

    &-article {
        &_carousel {
            position: relative;
            margin-bottom: 50px;

            @extend .text3;

            & img{
                margin-bottom: 20px;

                @include media-breakpoint-up(sm) {
                    margin-bottom: 0;
                }
            }

            &_text {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                padding-left: 0px !important;
                padding-right: 0px !important;

                @include media-breakpoint-up(sm) {
                    padding-left: 38px !important;
                    padding-right: 0px !important;
                }
                @include media-breakpoint-up(md) {
                    padding-left: 80px !important;
                    padding-right: 32px !important;
                }
                @include media-breakpoint-up(lg) {
                    padding-left: 67px !important;
                    padding-right: 48px !important;
                }
            }
            & .owl-buttons {
                margin: 20px -20px 0;
                &_link {
                    display: inline-block;
        
                    margin: 0 20px;
        
                    cursor: pointer;
                    text-align: center;
        
                    color: $red;
                    // position: absolute;
        
                    @include media-breakpoint-up(sm) {
                        position: relative;
                    }
        
                    & .icon {
                        font-size: 28px;
                        @include media-breakpoint-up(sm) {
                            font-size: 40px;
                        }
                    }
                }
            }
        }

        
    }
}
