.error-page {
    background: url('../img/404.svg') no-repeat 50% 10px;
    background-size: contain;

    @include media-breakpoint-up(sm) {
        background: url('../img/404.svg') no-repeat 40px 50px;
    }
    @include media-breakpoint-up(lg) {
        background: url('../img/404.svg') no-repeat 50% 50%;
    }
    @include media-breakpoint-up(xl) {
        background: url('../img/404.svg') no-repeat 240px 50%;
        background-size: 1400px 540px;
    }

    &_content {
        padding-top: 100px;
        padding-bottom: 100px;

        @include media-breakpoint-up(sm) {
            padding-top: 300px;
            padding-bottom: 0;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 200px;
            padding-bottom: 200px;
        }

        & p {
            margin-bottom: 10px;
        }

        & a {
            color: $primary;
        }

        &_link {
            padding-top: 80px;
        }
    }
}
