.footer {
  @media screen and (max-width: 480px) {
    height: 200vh;
    padding-top: 0;
  }
  &_content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    //margin-bottom: 10px;
    @media screen and (max-width: 480px) {
      position: absolute;
      top: 100vh;
      margin-top: 0;
      padding-top: 50px;
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(lg) {
    }
    .section--footer & {
      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }
    }
    &_item {
      margin-bottom: 45px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 60px;
        .section--footer & {
          margin-bottom: 20px;
        }
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
        .section--footer & {
          margin-bottom: 20px;
        }
      }
      .section--footer & {
        margin-bottom: 20px;
      }
      &--copyright {
        color: #000000;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 0.875rem;
        text-align: center;
        @media screen and (max-width: 1280px) {
          text-align: center;
        }
        @media screen and (max-width: 480px) {
          font-size: 10px;
          font-weight: 400;
          margin-bottom: 30px;
        }
      }
      &--links {
        line-height: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 480px) {
          align-items: center;
          color: #00529c;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 300;
          line-height: 12px;
        }
        @include media-breakpoint-up(sm) {
          text-align: center;
        }
        @include media-breakpoint-up(lg) {
          text-align: left;
        }
        .section--footer & {
          @include media-breakpoint-up(lg) {
            & a {
              color: $blue;
            }
          }
        }
        & a {
          @media screen and (max-width: 480px) {
            margin-bottom: 20px;
          }
        }
      }
      &--socials {
        @media screen and (max-width: 480px) {
        }
      }
      &--feedback {
        line-height: 24px;
        text-align: center;
        @media screen and (max-width: 480px) {
          display: none;
        }
        @include media-breakpoint-up(sm) {
          text-align: right;
        }
        @include media-breakpoint-up(lg) {
          text-align: center;
        }
        &-link {
          display: none;
          @media screen and (max-width: 480px) {
            display: none;
          }
        }
      }
      &--social {
        line-height: 24px;
        .section--footer & {
          & a {
            color: $blue;
          }
        }
      }
      &--search {
        text-align: center;
        color: $white;
        border-radius: 48px;
        background-color: $black;
        @media screen and (max-width: 480px) {
          background-color: transparent;
          color: #4d87ba;
          border-radius: 0;
          border: none;
        }
        @include media-breakpoint-up(sm) {
          text-align: left;
        }
        @include media-breakpoint-up(lg) {
          text-align: left;
        }
        .section--footer & {
          color: $black;
          border: 1px solid $gray-300;
          background-color: $gray-300;
          @include media-breakpoint-up(lg) {
            border: 1px solid $gray-300;
            background-color: $white;
          }
        }
        & form {
          position: relative;
        }
        & .form_control {
          width: 100%;
          padding: 14px;
          border: none;
          background-color: transparent;
          opacity: 0.6;
          &::placeholder {
            color: #00529c;
          }
          @media screen and (max-width: 480px) {
            min-width: 250px;
            width: 80%;
            background: transparent;
            border-radius: none;
            border-bottom: 3px solid #232324;
            color: #00529c;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            opacity: 1;
          }
          &--other {
            @media screen and (max-width: 480px) {
              border-bottom: 3px solid #f8f8f8;
            }
          }
          &:hover {
            @media screen and (max-width: 480px) {
              border-bottom: 3px solid #232324;
            }
          }
          .section--footer & {
            color: $black;
            &::-webkit-input-placeholder {
              color: rgba($black, 1);
              @include media-breakpoint-up(lg) {
                color: rgba($black, 0.2);
              }
            }
            &:-moz-placeholder {
              color: rgba($black, 1);
              @include media-breakpoint-up(lg) {
                color: rgba($black, 0.2);
              }
            }
            &::-moz-placeholder {
              color: rgba($black, 1);
              @include media-breakpoint-up(lg) {
                color: rgba($black, 0.2);
              }
            }
            &:-ms-input-placeholder {
              color: rgba($black, 1);
              @include media-breakpoint-up(lg) {
                color: rgba($black, 0.2);
              }
            }
          }
        }
        & .btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 48px;
          height: 48px;
          padding: 0;
          color: $white;
        }
        .section--footer & .btn {
          color: #c8c8c8;
          @include media-breakpoint-up(lg) {
            color: $blue;
          }
        }
      }
      &--authors {
        text-align: center;
        margin-top: 0;
        @media screen and (max-width: 480px) {
          margin-top: 60px;
          font-family: "Montserrat";
          font-size: 10px;
          font-weight: 300;
        }
        @include media-breakpoint-up(sm) {
          line-height: 48px;
          text-align: right;
        }
        @include media-breakpoint-up(lg) {
          line-height: 16px;
          text-align: right;
        }
      }
      &--button {
        color: #00529c;
        display: none;
        @media screen and (max-width: 480px) {
          display: flex;
          justify-content: center;
          margin-bottom: 35px;
        }
      }
      &-btn {
        @media screen and (max-width: 480px) {
          display: block;
          border: 1px solid #e5eef5;
          padding: 15px 20px;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          color: #00529c;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 300;
          line-height: 12px;
        }
        &:hover {
          @media screen and (max-width: 480px) {
            border: 2px solid rgb(182, 206, 230);
          }
        }
      }
      &-button {
        margin-top: 20px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 10px;
        width: 35%;
        display: none;
        cursor: pointer;
        &:hover {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
        }
        @media screen and (max-width: 480px) {
          display: block;
        }
      }
    }
    &-link {
      @media screen and (max-width: 480px) {
        margin-bottom: 15px;
        cursor: pointer;
      }
    }
    &-button {
      @media screen and (max-width: 480px) {
        display: block;
      }
    }
  }
  &-icon-map {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
      position: absolute;
      top: 60px;
      left: -60px;
    }

    @media screen and (max-width: 420px) {
      left: -60px;
      top: 56px;
    }

    @media screen and (max-height: 760px) and (max-width: 480px) {
      top: 59px;
      left: -53px;
    }

    @media screen and (max-height: 789px) and (max-width: 411px) {
      left: -64px;
      top: 66px;
    }

    @media screen and (max-height: 600px) and (max-width: 390px) {
      left: -64px;
      top: 59px;
    }

    @media screen and (max-height: 812px) and (max-width: 360px) {
      left: -73px;
      top: 48px;
    }

    @media screen and (max-height: 860px) and (max-width: 480px) {
      top: 59px;
      left: -53px;
    }

    @media screen and (max-height: 760px) and (max-width: 480px) {
      top: 59px;
      left: -53px;
    }

    @media screen and (max-height: 860px) and (max-width: 441px) {
      top: 59px;
      left: -59px;
    }

    @media screen and (max-height: 760px) and (max-width: 425px) {
      top: 59px;
      left: -61px;
    }

    @media screen and (height: 736px) and (width: 414px) {
      left: -62px;
      top: 60px;
    }

    @media screen and (max-width: 411px) and (max-height: 823px) {
      left: -63px;
      top: 66px;
    }

    @media screen and (max-width: 411px) and (max-height: 731px) {
      left: -60px;
      top: 57px;
    }

    @media screen and (height: 731px) and (width: 411px) {
      left: -64px;
      top: 57px;
    }

    @media screen and (max-height: 600px) and (max-width: 411px) {
      left: -68px;
      top: 60px;
    }

    @media screen and (max-height: 730px) and (max-width: 385px) {
      top: 59px;
      left: -70px;
    }

    @media screen and (max-width: 375px) and (max-height: 812px) {
      left: -70px;
      top: 68px;
    }

    @media screen and (max-height: 730px) and (max-width: 375px) {
      top: 59px;
      left: -70px;
    }

    @media screen and (max-width: 375px) and (max-height: 667px) {
      left: -70px;
      top: 49px;
    }

    @media screen and (max-width: 360px) {
      left: -75px;
      top: 48px;
    }

    @media screen and (max-height: 812px) and (max-width: 360px) {
      left: -73px;
      top: 48px;
    }

    @media screen and (max-height: 812px) and (max-width: 320px) {
      left: -79px;
      top: 48px;
    }

    @media screen and (max-height: 568px) and (max-width: 320px) {
      top: 40px;
      left: -76px;
    }
  }
  & #maplines {
    position: absolute;
    top: 7%;
    left: 7%;
    @media screen and (max-width: 414px) {
      top: 8%;
      left: 4%;
    }

    @media screen and (max-width: 414px) and (max-height: 740px) {
      top: 7.3%;
      left: 4%;
    }

    @media screen and (max-width: 411px) and (max-height: 731px) {
      top: 7%;
      left: 4%;
    }

    @media screen and (max-width: 400px) and (max-height: 740px) {
      top: 8.5%;
      left: 4%;
    }

    @media screen and (max-width: 375px) and (max-height: 840px) {
      top: 6%;
      left: 4%;
    }

    @media screen and (max-width: 375px) and (max-height: 815px) {
      top: 7%;
      left: 4%;
    }

    @media screen and (max-width: 375px) and (max-height: 740px) {
      top: 8%;
      left: 4%;
    }

    @media screen and (max-width: 375px) and (max-height: 670px) {
      top: 7.7%;
      left: 4%;
    }

    @media screen and (max-width: 320px) {
      top: 6%;
      left: 3%;
    }

    @media screen and (max-width: 320px) and (max-height: 600px) {
      top: 8.2%;
      left: 3%;
    }

    @media screen and (max-width: 320px) and (max-height: 500px) {
      top: 9.5%;
      left: 3%;
    }

    & .group-line {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }
  & #footer-icon-mapline {
    z-index: 15;
    & .group {
      stroke-dasharray: 4600;
      stroke-dashoffset: 4600;
    }
    & .group .stells {
      display: none;
    }
  }
  & #footer-icon-mapline2 {
    z-index: 10;
    & .group {
      stroke-dasharray: 4600;
      stroke-dashoffset: 4600;
      opacity: 0.6;
    }
    & .group .stells {
      display: none;
    }
  }
}

.section--footer {
  & .footer {
    @media screen and (max-width: 480px) {
      height: 100%;
      position: relative;
      padding-top: 0;
      color: #4d87ba;
    }
    &_content {
      @media screen and (max-width: 480px) {
        position: static;
      }
    }
    & .footer_content_item--copyright {
      margin-bottom: 30px;
    }
    & .footer_content_item--copyright,
    & .footer_content_item--authors {
      color: #000000;
    }
    & .footer_content_item--authors {
      margin-top: 0;
      @media screen and (max-width: 480px) {
        margin-top: 60px;
      }
    }
    &.footer_content_item--search > form > .form_control--main {
      padding: 14px;
      border: none;
      background-color: transparent;
      &::placeholder {
        color: #00529c;
      }
    }
    &.footer_content_item--search > .form--main > .form_control::placeholder {
      color: #00529c !important;
    }
  }
  & .footer_content_item--search {
    @media screen and (max-width: 480px) {
      background-color: transparent;
      border-radius: none;
      color: #00529c;
      border: none;
    }
    & form input::placeholder {
      color: #00529c !important;
    }
  }
  & .footer_content_item--sitemap {
    & form input::placeholder {
      color: #fff !important;
    }
  }
}

.footer_content_item--search .btn {
  @media screen and (max-width: 480px) {
    right: 10%;
  }
}

#white-control {
  &::placeholder {
    color: #fff;
  }
}

.footer--main {
  color: #fff;
  // height: 200vh;
  & .footer_content {
    color: #fff;
    &:before {
      display: none;
      @media screen and (max-width: 480px) {
        content: "";
        height: 1px;
        width: 105vw;
        background: #2a2a2a;
        position: absolute;
        top: 0;
        right: -10px;
        display: block;
      }
    }
    & .footer_content_item {
      color: #fff;
      &--copyright {
        color: #fff;
      }
    }
    &-link--main {
      color: #fff;
      @media screen and (max-width: 480px) {
        display: block;
      }
    }
  }
}

#feedback-btn {
  @media screen and (max-width: 480px) {
    display: none;
    // margin-top: 30px;
    // border: 1px solid #ffffff;
    // opacity: 0.2;
    // padding: 15px 20px;
    // outline: none;
    // text-decoration: none;
    // &:hover {
    //     opacity: 1;
    // }
  }
}

#footer #maplines,
#footer #footer-icon-mapline,
#footer #footer-icon-mapline {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
  }
}

#footer #feedback-btn {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    margin-top: 35px;
    border: 1px solid #333333;
    outline: none;
    padding: 15px 20px;
  }
}

@keyframes drawMapline {
  from {
    stroke-dasharray: 4600;
    stroke-dashoffset: 4600;
  }
  10% {
    stroke-dashoffset: 4140;
  }
  20% {
    stroke-dashoffset: 3980;
  }
  30% {
    stroke-dashoffset: 3620;
  }
  40% {
    stroke-dashoffset: 3220;
  }
  50% {
    stroke-dashoffset: 2800;
  }
  60% {
    stroke-dashoffset: 2400;
  }
  70% {
    stroke-dashoffset: 2000;
  }
  80% {
    stroke-dashoffset: 1600;
  }
  90% {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// @keyframes drawMapline2 {
//     from {
//         stroke-dasharray: 4600;
//         stroke-dashoffset: 4600;
//     }
//     10% {
//         stroke-dashoffset: 4100;
//     }
//     20% {
//         stroke-dashoffset: 3600;
//     }
//     30% {
//         stroke-dashoffset: 3100;
//     }
//     40% {
//         stroke-dashoffset: 2600;
//     }
//     50% {
//         stroke-dashoffset: 2100;
//     }
//     60% {
//         stroke-dashoffset: 1600;
//     }
//     70% {
//         stroke-dashoffset: 1100;
//     }
//     80% {
//         stroke-dashoffset: 600;
//     }
//     90% {
//         stroke-dashoffset: 100;
//     }
//     to {
//         stroke-dashoffset: 0;
//     }
// }
@keyframes drawLines {
  from {
    stroke-dasharray: 0;
    stroke-dashoffset: 190;
  }
  10% {
    stroke-dasharray: 10;
  }
  20% {
    stroke-dasharray: 50;
  }
  30% {
    stroke-dasharray: 80;
  }
  40% {
    stroke-dasharray: 120;
  }
  50% {
    stroke-dasharray: 130;
  }
  60% {
    stroke-dasharray: 140;
  }
  70% {
    stroke-dasharray: 150;
  }
  80% {
    stroke-dasharray: 160;
  }
  90% {
    stroke-dasharray: 170;
  }
  to {
    stroke-dasharray: 190;
  }
}

.footer--main {
  @media screen and (max-width: 480px) {
    opacity: 0;
  }
}

@keyframes mapOpacity {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.col-footer-dev {
  color: #000;
}

.footer_content_item--search-other {
  background: transparent;
}

.footer_form-sitemap {
  background-color: white;
}

.section--footer
  .footer_content_item--search
  .footer_form-sitemap
  .form_control {
  color: #000;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
}
