.header {
    &_mobile {
        display: none;
        @media screen and (max-width: 480px) {
            display: block;
        }
    }
    &--index {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 800;
        display: none;
        width: 100%;
        color: $white;
        @include media-breakpoint-up(lg) {
            display: block;
            padding: 20px 50px;
            transition: all 0s ease-in;
            transform: translateY(-110px);
        }
        & a {
            &:hover {
                color: $white;
            }
        }
        &.show {
            transition: all .3s ease-in;
            transform: translateY(0px);
            // background-color: rgba(#000,0.65);
            // background:    -moz-linear-gradient(bottom, rgba(#000,0) 0%, rgba(#000,0.8) 100%);
            // background: -webkit-linear-gradient(bottom, rgba(#000,0) 0%,rgba(#000,0.8) 100%);
            // background:         linear-gradient(to top, rgba(#000,0) 0%,rgba(#000,0.8) 100%);
        }
    }
    &--inner {
        display: none;
        color: $white;
        background-color: $blue;
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 500;
            display: block;
            width: 100%;
            padding: 20px 50px;
            &.fixed {
                position: fixed;
                padding: 20px 50px;
                transition: all 0s ease-in;
                transform: translateY(-110px);
                &.show {
                    transition: all .3s ease-in;
                    transform: translateY(0px);
                }
            }
        }
        & a {
            &:hover {
                color: $white;
            }
        }
        .menu-open & {
            display: block;
        }
    }
    &_buffer {
        height: 0;
        @include media-breakpoint-up(lg) {
            height: 108px;
        }
    }
    &_logo {
        max-width: 110px;
        margin: 0 auto;
        padding: 68px 0;
        @include media-breakpoint-up(sm) {
            max-width: 155px;
            padding: 68px 0;
        }
        @include media-breakpoint-up(lg) {
            max-width: 155px;
            padding: 45px 0 25px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 155px;
            padding: 68px 0;
        }
        & img {
            margin-bottom: 0;
        }
        @media screen and (max-width: 480px) {
            max-width: 147px;
            padding: 0;
            margin-bottom: 165px;
            margin-top: 110px;
        }
    }
    &--index &_logo,
    &--inner &_logo {
        max-width: 255px;
        margin: 0;
        padding: 0;
    }
    &_social {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 505;
        display: flex;
        flex-flow: column;
        margin-top: calc(170px / -2);
        .menu-open & {
            z-index: 4;
        }
        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 145px;
            top: 66%;
            margin-top: 0;
            width: 100%;
        }
        @media screen and (max-width: 375px) {
            top: 60%
        }
        @media screen and (max-width: 320px) {
            top: 57%
        }
        @include media-breakpoint-up(lg) {
            // margin-top: 100px;
            left: 90px;
            margin-top: 0;
        }
        &_link {
            display: block;
            width: 27px;
            height: 27px;
            margin: 15px 10px;
            line-height: 27px;
            text-align: center;
            @media screen and (max-width: 480px) {
                display: flex;
                width: 100%;
                height: 100%;
                pointer-events: auto;
                margin: 0;
                margin-bottom: 0;
                justify-content: center;
            }
            @include media-breakpoint-up(sm) {
                margin: 15px 22px;
            }
            @include media-breakpoint-up(lg) {
                margin: 15px 22px;
            }
            & .icon {
                font-size: $font-size-base * 1.5;
            }
            &--youtube {
                & .icon {
                    font-size: $font-size-base * 2;
                }
            }
            &--vk {
                & .icon {
                    font-size: $font-size-base;
                }
            }
        }
        &-icon {
            @media screen and (max-width: 480px) {
                display: none;
            }
        }
        &-text {
            display: none;
            @media screen and (max-width: 480px) {
                display: inline-block;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 15px;
                font-family: "Montserrat";
            }
        }
    }
    &_menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1010;
        display: none;
        width: 100%;
        font-weight: 600;
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.125;
        background: $blue url('../img/port320.jpg') no-repeat 50% 50%;
        background-size: cover;
        @media screen and (max-width: 480px) {
            background: #00529C;
            height: 100vh;
            z-index: 1010;
        }
        @include media-breakpoint-up(sm) {}
        @include media-breakpoint-up(lg) {
            position: relative;
            display: block;
            background: none;
        }
        .menu-open & {
            display: block;
            height: 120%;
            z-index: 505;
        }
        & a {
            color: $white !important;
            &:hover {
                color: $white !important;
            }
        }
        & .mCSB_container {
            margin-right: 0 !important;
        }
        & ul {
            display: flex;
            flex-flow: column;
            align-items: center;
            max-width: 765px;
            margin: 0 auto;
            padding: 0;
            list-style: none outside;
            @include media-breakpoint-up(sm) {}
            @include media-breakpoint-up(lg) {
                flex-flow: row;
                justify-content: space-between;
            }
            &--index {
                max-width: 745px;
            }
            &.inner {
                margin: 0 auto 0 auto;
                @include media-breakpoint-up(lg) {
                    margin: 0 0 0 auto;
                }
                & li {
                    padding: 0;
                    @include media-breakpoint-up(lg) {
                        padding: 25px 20px;
                    }
                    &.outer {
                        & ul {
                            @include media-breakpoint-up(lg) {
                                padding-top: 80px;
                            }
                        }
                    }
                }
            }
            & li {
                text-align: center;
                @include media-breakpoint-up(lg) {
                    padding: 25px 20px;
                }
                & a {
                    display: inline-block;
                    padding: 20px 0;
                    @media screen and (max-width: 480px) {
                        padding: 11px 0;
                    }
                    @include media-breakpoint-up(sm) {}
                    @include media-breakpoint-up(lg) {
                        padding: 0;
                    }
                    &:after {
                        background-color: $white;
                    }
                }
                &.outer {
                    position: relative;
                    & ul {
                        display: none;
                        @include media-breakpoint-up(lg) {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 300px;
                            padding-top: 68px;
                        }
                        & li {
                            @include media-breakpoint-up(lg) {
                                padding: 12px 50px;
                                text-align: left;
                                background-color: rgba($blue, .7);
                                &.first {
                                    padding-top: 50px;
                                }
                                &.last {
                                    padding-bottom: 50px;
                                }
                            }
                        }
                    }
                    &:hover {
                        @include media-breakpoint-up(lg) {
                            background-color: rgba($blue, .7);
                        }
                        & ul {
                            // display: flex;
                            @include media-breakpoint-up(lg) {
                                display: block;
                                animation-name: flipInX;
                                animation-duration: .8s;
                            }
                        }
                    }
                    &.hover {
                        @include media-breakpoint-up(lg) {
                            background-color: rgba($blue, .7);
                        }
                        & ul {
                            display: flex;
                            // @include media-breakpoint-up(lg) {
                            //     display: block;
                            //     animation-name: flipInX;
                            //     animation-duration: .8s;
                            // }
                        }
                    }
                    &--full {
                        .header--index & ul {
                            padding-top: 68px !important;
                        }
                        &:hover {
                            @include media-breakpoint-up(lg) {
                                background-color: rgba($blue, 1);
                                & li {
                                    background-color: rgba($blue, 1);
                                }
                            }
                        }
                    }
                }
            }
        }
        &_navigation_logo {
            display: block;
            width: 115px;
            height: 48px;
            margin: 70px auto 30px;
            background: url('../img/logo.svg') no-repeat 0 0;
            @include media-breakpoint-up(lg) {
                display: none;
            }
            &--404 {
                display: none;
                @media screen and (max-width: 480px) {
                    display: block;
                    margin: 0;
                    margin-bottom: 240px;
                }
            }
            @media screen and (max-width: 480px) {
                margin: 80px auto 64px;
                background: url('../img/logo-inner.svg') no-repeat 0 0;
            }
        }
    }
}

.header-container {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (max-width: 480px) {
        pointer-events: none;
    }
    @include media-breakpoint-up(sm) {
        height: calc(100vh - 56px);
    }
    @include media-breakpoint-up(lg) {
        // max-width: 1400px;
    }
}

.aos-init.aos-animate {
    @media screen and (max-width: 480px) {
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
    }
}

.header_menu {
    & .arrow-back {
        display: none;
    }
    @media screen and (max-width: 480px) {
        & .arrow-back {
            display: block;
            width: 3.125rem;
            height: 3.125rem;
            position: relative;
            background: transparent;
            border: none;
            &:before {
                content: "";
                position: absolute;
                top: 30%;
                left: 40%;
                width: 9px;
                height: 9px;
                border-left: 1px solid #bebdbd;
                border-bottom: 1px solid #bebdbd;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
                margin-bottom: .5rem;
            }
        }
        & .animated--active {
            position: absolute;
            top: 0;
            right: -500px;
            width: 100vw;
            z-index: 50;
            background: #00529c;
        }
        & .inner-list {
            transform: translateX(0%);
        }
        & .inner-list--active {
            transform: translateX(-100%);
        }
        & .animated--company {
            @media screen and (max-width: 480px) {
                top: -150px;
                right: -680px;
            }
            @media screen and (max-width: 414px) {
                right: -570px;
            }
            @media screen and (max-width: 375px) {
                right: -515px;
            }
            @media screen and (max-width: 360px) {
                right: -500px;
            }
            @media screen and (max-width: 320px) {
                right: -440px;
            }
        }
        & .animated--buisness {
            @media screen and (max-width: 480px) {
                top: -160px;
                right: -680px;
            }
            @media screen and (max-width: 414px) {
                right: -570px;
            }
            @media screen and (max-width: 375px) {
                right: -520px;
            }
            @media screen and (max-width: 360px) {
                right: -500px;
            }
            @media screen and (max-width: 320px) {
                right: -440px;
            }
        }
        & .animated--press {
            @media screen and (max-width: 480px) {
                top: -150px;
                right: -680px;
            }
            @media screen and (max-width: 414px) {
                right: -570px;
            }
            @media screen and (max-width: 375px) {
                right: -520px;
            }
            @media screen and (max-width: 360px) {
                right: -490px;
            }
            @media screen and (max-width: 320px) {
                right: -430px;
            }
        }
    }
}

.link--policy {
    @media screen and (max-width: 360px) {
        width: 80%;
    }
}