.link {
    position: relative;

    display: inline-block;
    // border-bottom: 3px solid $red !important;

    margin-bottom: 0;
    padding: 6px 0;

    text-decoration: none;

    @extend .h6;

    &:after {
        content: '';

        position: absolute;
        bottom: -3px;
        left: 0;

        display: block;

        width: 100%;
        height: 3px;

        background-color: $red;

        transition: width .3s ease-in;
    }

    .current & {
        &:after {
            width: 100% !important;
        }
    }

    &:hover{
        &:after {
            left: auto;
            right: 0;
            width: 0%;
        }
    }

    &-button {
        margin: .65rem $btn-padding-x-lg;

        user-select: none;
        text-align: left;
        vertical-align: middle;

        border: none;
        border-radius: 0;
        background-color: transparent;

        @include media-breakpoint-up(md) {
            margin: 1.1rem $btn-padding-x-lg;
        }
    }

    &:hover {
        text-decoration: none;

        color: $red;
    }

    
}