.page {
    &-title {
        margin: 0 0 40px;
        line-height: 1;
        @include media-breakpoint-up(sm) {
            margin: 0 0 20px;
        }
        &--photos {
            margin-bottom: 0;
        }
        &--press {
            text-align: center;
            font-size: 28px;
            font-weight: 800;
        }
        &-object {
            text-align: left;
            @media screen and (max-width: 480px) {
                margin: 35px 0;
                text-align: center;
                color: #000000;
                font-family: "Montserrat";
                font-size: 26px;
                font-weight: 700;
            }
        }
    }
    &-menu {
        max-width: 400px;
        padding-top: 65px;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        @include media-breakpoint-up(sm) {
            padding-top: 20px;
        }
        &--videos {
            @media screen and (max-width: 1200px) {
                padding-top: 50px;
            }
            @media screen and (max-width: 480px) {
                padding-top: 20px;
            }
        }
        & ul {
            margin: 0;
            padding: 0;
            list-style: none outside;
            counter-reset: section;
            & li {
                position: relative;
                padding: 10px 0;
                counter-increment: section;
                letter-spacing: 2px;
                font-weight: 500;
                @media screen and (max-width: 480px) {
                    text-align: center;
                    color: #00529c;
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-weight: 500;
                }
                &:hover {
                    &:before {
                        // color: $blue;
                    }
                }
                & a {
                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
                &:before {
                    content: counter(section, decimal-leading-zero);
                    display: inline-block;
                    margin-right: 15px;
                    color: #696970;
                    font-family: "Montserrat";
                    font-size: 10px;
                    font-weight: 500;
                    @media screen and (max-width: 480px) {
                        color: #00529c;
                        font-family: "Montserrat";
                        font-size: 15px;
                        font-weight: 500;
                    }
                    @include media-breakpoint-up(sm) {
                        margin-right: 35px;
                    }
                    @media screen and (min-width: 760px) {
                        margin-right: 35px;
                    }
                }
                &.current,
                &.active {
                    color: $black;
                    font-weight: 700;
                    @media screen and (max-width: 480px) {
                        font-weight: 500;
                        opacity: 0.5;
                    }
                    & a {
                        font-weight: 700;
                        @media screen and (max-width: 480px) {
                            font-weight: 500;
                            opacity: 0.5;
                        }
                    }
                    &:hover a {
                        color: $black;
                    }
                    &:before {
                        color: #696970;
                        font-weight: 700;
                        @media screen and (max-width: 480px) {
                            font-weight: 500;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
    &-content {
        font-size: 14px;
        line-height: 28px;
        color: #363b3e;
        &_line {
            width: 155px;
            height: 5px;
            margin: 70px 0 100px;
            background: $blue;
        }
        & h2 {
            margin-bottom: 70px;
            font-size: 33px;
            line-height: 50px;
        }
        & h3 {
            margin-bottom: 40px;
            font-size: 30px;
            line-height: 40px;
        }
        & blockquote {
            margin-bottom: 100px;
            padding-left: 37px;
            border-left: 10px solid #f3f3f3;
        }
        & p,
        & ul,
        & ol {
            margin-bottom: 100px;
        }
        & ul {
            padding-left: 0;
            list-style: none outside;
            & li {
                position: relative;
                margin-bottom: 10px;
                padding-left: 30px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: 10px;
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #bcbebe;
                }
            }
        }
        & ol {
            padding-left: 0;
            list-style: none outside;
            counter-reset: li;
            & li {
                position: relative;
                margin-bottom: 10px;
                padding-left: 30px;
                &:before {
                    content: counter(li);
                    position: absolute;
                    top: 0;
                    left: 15px;
                    display: block;
                    counter-increment: li;
                    color: #bcbebe;
                }
            }
        }
        &_download {
            display: block;
            margin-bottom: 100px;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            color: $blue;
            & .icon {
                margin-right: 10px;
                font-size: 22px;
            }
        }
    }
}

.page-title-object {
    font-size: 1.5rem;
    line-height: 24px;
    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }
    &--active {
        font-size: 42px;
        line-height: 42px;
        @media screen and (max-width: 780px) {
            font-size: 18px;
            line-height: 24px;
        }
    }
}