.section {
  position: relative;
  background-color: #fff;
  // overflow-x: hidden;
  padding: 20px 10px;
  @include media-breakpoint-up(sm) {
    padding: 25px 0 25px 25px;
  }
  @include media-breakpoint-up(lg) {
    padding: 25px 0 25px 50px;
  }
  &.no-gutters {
    padding: 0;
  }
  &.no-left-gutters {
    padding-left: 0;
  }
  &--news {
    background-color: #121721;
    @media screen and (max-width: 480px) {
      display: none;
    }
    // background: -moz-linear-gradient(bottom, rgba(#1F2537,1) 0%, rgba(#1F2537,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(bottom, rgba(#1F2537,1) 0%,rgba(#1F2537,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to top, rgba(#1F2537,1) 0%,rgba(#1F2537,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  &--list {
    padding: 20px 10px;
    @include media-breakpoint-up(sm) {
      padding: 25px 25px;
    }
    @include media-breakpoint-up(lg) {
      padding: 25px 50px 25px 50px;
    }
  }
  &--newslist {
    padding: 20px 10px;
    @media screen and (max-width: 480px) {
      padding: 20px 10px 0px;
    }
    @include media-breakpoint-up(sm) {
      padding: 25px 25px;
    }
    @include media-breakpoint-up(lg) {
      padding: 25px 50px;
    }
  }
  &--newslist-detail {
    padding: 25px 50px 25px 50px;
    @media screen and (max-width: 480px) {
      padding: 25px 10px 25px 10px;
    }
    &-article {
      padding-top: 0;
      padding-bottom: 110px;
    }
  }
  &--footer {
    position: relative;
    padding: 20px 10px;
    background-color: #fff;
    .menu-open & {
      z-index: 1;
    }
    @media screen and (max-width: 480px) {
      padding: 0 10px;
    }
    @include media-breakpoint-up(sm) {
      padding: 25px 25px;
    }
    @include media-breakpoint-up(lg) {
      padding: 25px 50px;
    }
    &-article {
      @media screen and (max-width: 480px) {
        padding: 50px 10px 40px;
        border-top: 2px solid #f3f3f3;
      }
    }
    &--inner {
      @media screen and (max-width: 480px) {
        padding: 0 10px 40px;
      }
    }
  }
  &--content {
    padding-top: 45px;
    padding-bottom: 45px;
    @media screen and (max-width: 480px) {
      z-index: 5;
      background: #fff;
      font-size: 12px;
      color: black;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 0;
    }
    @include media-breakpoint-up(sm) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  &--text {
    padding: 45px 10px;
    @media screen and (max-width: 480px) {
      display: none;
    }
    @include media-breakpoint-up(sm) {
      padding: 90px 25px;
    }
    @include media-breakpoint-up(lg) {
      padding: 100px 50px;
    }
  }
  &--space {
    // background: url('../img/space.jpg') no-repeat 50% fixed;
    // background-size: cover;
    background-color: transparent;
    & .canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  &--map {
    position: relative;
    z-index: 20;
    background-color: #121721;
    & #lottie {
      position: absolute;
      top: 770px;
      left: 0;
      width: 100%;
      z-index: 6;
      @include media-breakpoint-up(sm) {
        top: 530px;
      }
      @include media-breakpoint-up(lg) {
        top: 0;
      }
    }
    & .footer {
      position: relative;
      z-index: 5;
      padding-top: 400px;
      padding-right: 10px;
      padding-left: 10px;
      background: url("../img/map3.jpg") no-repeat 20% 0;
      background-size: auto 600px;
      @media screen and (max-width: 480px) {
        background: url(../img/content/bronka-mob-map.png) no-repeat 17% 60px;
        background-size: 750px 434px;
      }
      @media screen and (max-width: 411px) and (max-height: 823px) {
        background-position: 17% 68px;
      }
      @media screen and (max-width: 411px) and (max-height: 731px) {
        background-position: 17% 60px;
      }
      @media screen and (max-width: 375px) and (max-height: 667px) {
        background-position: 17% 51px;
      }
      @media screen and (max-width: 360px) {
        background-position: 17% 49px;
      }
      @media screen and (max-height: 568px) and (max-width: 320px) {
        background-position: 16% 42px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: -moz-linear-gradient(
          bottom,
          rgba(#000, 1) 0%,
          rgba(0, 0, 0, 0) 50%
        );
        background: -webkit-linear-gradient(
          bottom,
          rgba(#000, 1) 0%,
          rgba(0, 0, 0, 0) 50%
        );
        background: linear-gradient(
          to top,
          rgba(#000, 1) 0%,
          rgba(0, 0, 0, 0) 50%
        );
        z-index: -1;
      }
      @include media-breakpoint-up(sm) {
        padding-top: 750px;
        padding-right: 22px;
        padding-left: 22px;
        background: url("../img/map3.jpg") no-repeat 15% 0;
        background-size: cover;
      }
      @include media-breakpoint-up(lg) {
        background: none;
        // background: url('../img/bronka-imgmap.jpg') no-repeat 50% 0;
        // background-size: 100% auto;
        padding-top: 940px;
      }
      & a {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &--about {
    margin-left: 16.66667%;
    max-width: 66.66667%;
    padding-top: 120px;
    @media screen and (max-width: 480px) {
      padding-top: 45px;
      padding-bottom: 45px;
      margin-left: 0%;
      max-width: 100%;
    }
    & .about-title {
      font-weight: 500;
      margin-block-start: 0;
      font-size: 36px;
      @media screen and (max-width: 480px) {
        font-size: 1.6rem;
      }
    }
    & .about-text {
      font-size: 18px;
      line-height: 30px;
      color: #77777e;
      @media screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  &--policy {
    margin-left: 16.66667%;
    max-width: 66.66667%;
    padding-top: 120px;
    @media screen and (max-width: 480px) {
      padding-top: 45px;
      padding-bottom: 45px;
      margin-left: 0%;
      max-width: 100%;
    }
    & .policy-title {
      font-weight: 500;
      margin-block-start: 0;
      font-size: 36px;
      @media screen and (max-width: 480px) {
        font-size: 1.6rem;
      }
    }
    & .policy-title2 {
      font-size: 18px;
      line-height: 30px;
      color: #77777e;
      text-align: center;
      font-weight: 700;
    }
    & .policy-title-desc {
      display: flex;
      justify-content: flex-end;
    }
    & .policy-text {
      font-size: 18px;
      line-height: 30px;
      color: #77777e;
      @media screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  &--first-article {
    padding-top: 0px !important;
    @include media-breakpoint-up(sm) {
      padding-top: 75px !important;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0 !important;
    }
    @media screen and (max-width: 480px) {
      padding-top: 60px !important;
    }
  }
  &--last {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &--press {
    @media screen and (max-width: 480px) {
      padding: 70px 0 70px;
      display: none;
    }
  }
  &--slider {
    display: none;
    @media screen and (max-width: 480px) {
      display: flex;
      height: 100%;
      position: relative;
    }
    @media screen and (max-width: 375px) and (max-height: 812px) {
      height: 100%;
    }
    @media screen and (max-width: 375px) and (max-height: 811px) {
      height: 100%;
    }
    @media screen and (max-width: 320px) {
      padding-bottom: 20px !important;
    }
  }
  &--slider--main {
    display: none;
    @media screen and (max-width: 480px) {
      display: flex;
      height: 100%;
      position: relative;
    }
    @media screen and (max-width: 375px) and (max-height: 812px) {
      height: 75vh;
    }
    @media screen and (max-width: 375px) and (max-height: 811px) {
      height: 100%;
    }
    @media screen and (max-width: 320px) {
      padding-bottom: 0 !important;
    }
  }
  &--information {
    background-color: #121721;
    @media screen and (max-width: 480px) {
      display: none;
    }
    & + .section--slider {
      margin-bottom: 0;
    }
  }
  &--information-mobile {
    display: none;
    @media screen and (max-width: 480px) {
      padding: 60px 5px;
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &--object-carousel {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &--object-mobile-carousel {
    display: none;
    @media screen and (max-width: 480px) {
      display: flex;
      padding: 0;
    }
  }
  &--news-mobile {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
    }
  }
  &--newslist-mobile {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
    }
    &-article {
      display: none;
      @media screen and (max-width: 480px) {
        display: block;
        padding-top: 60px;
        z-index: 5;
        background: #fff;
      }
    }
  }
  &--contacts-mobile {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
      padding: 0;
    }
  }
  &--graphic-mobile {
    display: none;
    @media screen and (max-width: 480px) {
      // display: block;
      padding: 0;
    }
  }
  &--graphic {
    & .row .bg-blue-dark {
      display: none;
      @media screen and (max-width: 480px) {
        // display: block;
      }
    }
    & .row .bg-blue-dark-hide {
      display: block;
      @media screen and (max-width: 480px) {
        // display: none;
      }
    }
  }
  &--desktop {
    .owl-carousel .owl-dots {
      display: none;
      @media screen and (max-width: 1100px) {
        display: none;
      }
    }
  }
  &--first-article-mobile {
    display: none;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &--photos-mobile {
    @media screen and (max-width: 480px) {
      padding-top: 62px;
    }
  }
  &--allphotos {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &--allphotos-mobile {
    @media screen and (max-width: 480px) {
      display: block;
      padding-left: 10px !important;
      padding-right: 10px !important;
      padding-bottom: 30px !important;
    }
  }
  &--photoarchive {
    & .press-center_rubrics-container {
      display: none;
    }
    & .dropdown-desktop-link {
      display: none;
    }

    @media screen and (max-height: 480px) {
      display: none;
    }

    @media screen and (max-width: 480px) {
      display: none;
      padding-bottom: 30px !important;
      .photo_gallery {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        &_item {
          overflow: hidden;
          width: 100vw;
          height: 35vh;
          &_title {
            // position: absolute;
            // bottom: -15px;
            display: none;
          }
          &_download {
            position: absolute;
            left: 50%;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
            @media screen and (max-width: 480px) {
              left: 45%;
              bottom: 20%;
            }
            &:before,
            &:after {
              content: "";
              width: 1px;
              height: 6px;
              position: absolute;
              bottom: 35%;
              left: 57%;
              background: #005eb2;
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
              left: 43%;
              height: 6px;
            }
            &_stick {
              position: absolute;
              bottom: 25%;
              left: 38%;
              width: 10px;
              height: 1px;
              background: #005eb2;
              &--vertical {
                width: 1px;
                height: 10px;
                bottom: 35%;
                left: 50%;
              }
            }
          }
        }
        &_item_img {
          position: relative;
          margin-bottom: 20px;
          height: 70%;
          & img {
            max-width: none;
            width: 100% !important;
            max-height: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
      .photo_previews {
        display: block;
        padding: 0 10px;
      }
      .press-center_allphotos .d-flex.flex-nowrap {
        display: flex !important;
        flex-direction: column;
      }
      .photo_previews_list_scrollbox {
        @media screen and (max-width: 480px) {
          width: auto;
          flex-wrap: wrap;
        }
      }
      .photo_previews_item {
        overflow: hidden;
        & .current img {
          border: 3px solid #004787;
          @media screen and (max-width: 480px) {
            border: 3px solid transparent;
          }
        }
        &:first-child,
        &:last-child {
          flex: 0 0 auto;
        }
        flex: 0 0 auto;
        @media screen and (max-width: 480px) {
          flex: 0 0 auto;
        }
        & img {
          @media screen and (max-width: 480px) {
            margin-bottom: 0;
            max-height: 55px;
          }
        }
      }
      .photo_previews_list {
        height: auto;
        width: 100%;
        overflow: hidden;
      }
      .press-center_allphotos {
        margin-bottom: 30px;
      }
      .photoarchive_button {
        margin: auto;
        padding: 15px 20px;
        border: none;
        background-color: #005eb2;
        outline: none;
        width: 50%;
        align-self: center;
        margin-bottom: 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height: 12px;
        &:hover {
          background: 2px solid rgb(3, 69, 126);
        }
      }
    }
    &-mobile {
      display: block;
      padding-bottom: 30px !important;
      & .photoarchive_button {
        margin: auto;
        padding: 15px 20px;
        border: none;
        background-color: #005eb2;
        outline: none;
        width: 60%;
        align-self: center;
        margin-bottom: 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height: 12px;
      }

      @media screen and (max-height: 480px) and (min-width: 480px) {
        display: block;
        padding-bottom: 30px !important;
      }

      @media screen and (min-height: 480px) and (min-width: 480px) {
        display: none;
        padding-bottom: 0 !important;
      }
    }
  }
  &--videos {
    @media screen and (max-width: 480px) {
      padding-top: 60px !important;
    }
    & .photoarchive_content h1 {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    & .videos_title {
      display: none;
      @media screen and (max-width: 480px) {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
        color: #000000;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  &--allphotos-desktop {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &--mobile-newslist-photos {
    padding: 20px 0 0 25px;
    background-color: #f4f4f4;
    @media screen and (max-width: 480px) {
      background: #fff;
      padding: 60px 0 0 0 !important;
    }
  }
  &--desktop-newslist {
    padding: 20px 0 0 25px;
    background-color: #f4f4f4;
    @media screen and (max-width: 480px) {
      background: #fff;
    }
    &-photos {
      @media screen and (max-width: 480px) {
        padding: 60px 0 0 25px;
      }
    }
  }
}

.wrapper-white {
  @media screen and (max-width: 480px) {
    background: #fff;
  }
}
