@mixin light-theme {
  color: $dark-blue;
  background-color: $white;

  @extend .default-text;
}
@mixin dark-theme {
  color: $white;
  background-color: #121721;

  @extend .default-text;
}

.noscroll {
  overflow: hidden;
}

body {
  // background: url('../img/background-arrow.png') repeat-y 50% 0;
  @include f-default;
  @include dark-theme;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  // &.nav-menu-open,
  // &.nav-menu-item-open,
  // &.order-open
  &.menu-open {
    overflow-y: hidden;
  }

  &.page {
    @include light-theme;
  }

  & a {
    color: inherit;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $blue;
    }
  }
}

strong,
b {
  font-weight: 600;
}

p {
  margin-bottom: 30px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 35px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 35px;
  }
}

.wrapper {
  position: relative;
  z-index: 2;

  overflow: hidden;

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 185px);
  }

  body.menu-open &,
  body.nav-menu-open &,
  body.nav-menu-item-open &,
  body.order-open & {
    height: 100vh;
  }

  &-full {
    z-index: 2;
    // position: relative;

    overflow: hidden;
  }
}

.vh {
  @include media-breakpoint-up(lg) {
    min-height: 100vh !important;
  }
}

.vh-with-header {
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 108px) !important;
  }
}

.vh-with-header-footer {
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 270px) !important;
  }
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
  margin-bottom: ($spacer * 2);

  &.no-margin {
    margin: 0;
  }
}

input,
button,
.btn {
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.text {
  &--light {
    font-weight: 300 !important;
  }
  &-regular {
    font-weight: 400 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-center {
    text-align: center;
  }
}

.link {
  position: relative;

  display: inline-block;

  margin-bottom: 0;
  padding: 3px 0;

  text-decoration: none;

  &:after {
    content: "";

    position: absolute;
    bottom: -3px;
    left: 0;

    display: block;

    width: 0;
    height: 2px;

    background-color: $blue;
    transition: width 0.3s ease-in;
  }

  &:hover {
    text-decoration: none;
    &:after {
      width: 100%;
    }
  }

  .current & {
    color: $blue;
    &:after {
      width: 100% !important;
    }
  }
}

.bg {
  &-blue {
    color: $white !important;
    background-color: $blue !important;

    &-dark {
      color: $white !important;
      background-color: $indigo !important;
    }
  }

  &-gray {
    background-color: $gray-200;
  }
}

.body-lines {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  &_container {
    position: relative;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;

    max-width: 1360px;
    height: 100%;
    margin: 0 auto;

    border-right: 1px solid rgba(#fff, 0.05);
    border-left: 1px solid rgba(#fff, 0.05);

    .page & {
      max-width: 1400px;

      border-color: #f3f3f3;
    }
  }

  & span {
    display: block;
    flex-basis: 25%;

    width: 1px;
    width: 25%;
    height: 100%;

    border-right: 1px solid rgba(#fff, 0.05);

    .page & {
      border-color: #f3f3f3;
    }
  }
}
.plyr {
  height: 100%;

  & .plyr__video-wrapper,
  & .plyr__poster {
    height: 100%;
  }

  & .plyr__controls {
    //opacity: 0;
    transition: all 0.3s ease-in;
  }

  & .plyr__control--overlaid {
    width: 100%;
    height: 100%;

    opacity: 0;
    border-radius: 0;
  }

  &:hover {
    & .plyr__controls {
      // opacity: 1;
    }
  }
}

.plyr--playing {
  z-index: 10;
}

.video-box_preview_btn {
  z-index: 5;
}

#pathAnimation {
  display: none;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    // height: 100%;
  }
}

.pathAnimation_bg {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
  // opacity: 0.3;

  & img {
    display: block;

    width: 100%;
  }
}

.filter-news-all {
  display: none;
}

// path, line, ellipse {
//     fill: none;
//     stroke: #000;
//     stroke-width: 1px;
//   }
