.btn {
    &--down {
        position: relative;
        z-index: 5;
        cursor: pointer;
        margin-top: -56px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $white;
        background: $blue;
        .menu-open & {
            z-index: 1;
        }
        @include media-breakpoint-up(sm) {
            margin-top: 0;
            padding-top: 35px;
            padding-bottom: 35px;
        }
        & span {
            display: inline-block;
            width: 18px;
            height: 18px;
            line-height: 16px;
            text-align: center;
            border: 1px solid $white;
            border-radius: 50%;
            transition: all .3s ease-in-out;
            @include media-breakpoint-up(sm) {
                width: 44px;
                height: 44px;
                line-height: 43px;
            }
        }
        & .icon {
            font-size: 4.5px;
            @include media-breakpoint-up(sm) {
                font-size: 12px;
            }
        }
        &:hover {
            color: $white;
        }
        &:hover span {
            transform: translateY(10px);
        }
    }
    &-more {
        background-color: $blue;
        display: block;
        width: 295px;
        padding: 33px 0 33px;
        line-height: 1.25rem;
        text-align: center;
        color: $white;
        margin: 0 auto;
        &:hover {
            color: $white;
            background-color: $dark-blue;
        }
    }
    &-scroll-main {
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
}