.form {
    &-container {
        max-width: 365px;
        margin-bottom: 60px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 120px;
        }
    }
    &-group {
        // margin-bottom: 30px;
        text-align: left;

        & label {
            display: inline-block;

            margin-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;

            font-weight: 400;

            @extend .h6;
        }

        & .messages {
            display: block;

            height: $font-size-base * .75;

            font-size: $font-size-base * .75;
            line-height: $font-size-base * .75;

            @include media-breakpoint-up(md) {
                margin-bottom: 8px;
            }
        }

        & textarea {
            min-height: 119px;

            resize: none;
        }

        &.error {
            & .form-control {
                border-left: 2px solid $red;
                background-color: $pink;
            }
            & small {
                color: $red;
            }
        }
    }

    // &-group &-control-btn {
    //     float: right;

    //     margin-top: 5px;
    // }

    &-check {
        position: relative;

        display: block;

        // padding-left: $btn-padding-x-lg;

        &-group {
            margin-bottom: 20px;
            padding: 0 25px 20px 0;

            border-bottom: 1px solid $gray-300;

            &-last-child {
                border: none;
            }
        }

        &-inline {
            align-items: center;

            margin-right: 30px;
            padding-left: 0;
            display: inline-flex;
        }

        &-input {
            position: absolute;
            z-index: -1;

            opacity: 0;
        }

        &-input + &-label {
            position: relative;

            padding: 0 0 0 23px;

            cursor: pointer;

            @extend .default-text;

            &:before {
                content: '';

                position: absolute;
                top: 1px;
                left: 0;

                width: 16px;
                height: 16px;

                border: 1px solid $gray-100;
                background: $gray-100;
            }

            &:after {
                content: '';

                position: absolute;
                top: 1px;
                left: 0;

                width: 16px;
                height: 16px;
                // background: #FFF;
            }
        }

        &-input[type=radio] + &-label {
            &:before {
                width: 17px;
                height: 17px;

                border-radius: 50%;
            }
            &:after {
                top: 7.5px;
                left: 4.5px;

                width: 7px;
                height: 7px;

                border-radius: 50%;
            }
        }

        &-input:checked + &-label {
            color: $red;

            &:after {
                background: url('../img/icons/checkbox.svg') no-repeat 50% 50%;
                background-size: 10px 10px;
            }
        }

        &-input[type=radio]:checked + &-label {
            &:after {
                background: $red;
            }
        }
    }

    &-buttons {
        margin-top: 10px;

        @include media-breakpoint-up(sm) {
            margin-top: 20px;
        }
    }

    &-control {
        display: block;

        width: 100%;
        padding: 15px 20px;

        color: $dark;
        border: 1px solid $gray-100;
        border-radius: 0;
        background-color: $gray-100;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
        }

        &::-webkit-input-placeholder {
            color: $gray-500;
        }
        &:-moz-placeholder {
            color: $gray-500;
        }
        &::-moz-placeholder {
            color: $gray-500;
        }
        &:-ms-input-placeholder {
            color: $gray-500;
        }

        &-btn {
            margin: 0;
            padding: 0 $input-btn-padding-x-lg;

            font-weight: 400;

            color: $red;
            border: 0;
            background-color: transparent;

            @extend .h6;

            &:hover {
                color: $red;
            }

            & .icon {
                margin: -2px 10px 0 0;

                font-size: 16px;

                fill: $red;
            }
        }
    }

    &-login {
        margin-bottom: 60px;
        padding: 65px 18px;

        border: 2px solid $pink;

        @include media-breakpoint-up(sm) {
            padding: 65px 145px 65px 75px;
        }
        @include media-breakpoint-up(md) {
            padding: 65px 65px 65px 75px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 120px;
            padding: 90px 65px 140px 85px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 145px;
            padding: 90px 160px 100px 160px;
        }

        &_title {
            text-align: center;

            @include media-breakpoint-up(sm) {
                text-align: left;
            }
        }
    }
}


.form-check-button {
    display: inline-block;
    &-input {
        position: absolute;
        z-index: -1;

        opacity: 0;
    }

    &:hover &-label {
        &:before {
            border: 1px solid $gray-300;
            background: $gray-300;
        }
    }
    &-input + &-label {
        position: relative;

        display: inline-block;

        width: 60px;
        height: 60px;
        padding: 0 0;

        line-height: 58px;

        @include media-breakpoint-up(sm) {
            width: 60px;
            height: 60px;
            line-height: 58px;
        }

        cursor: pointer;
        text-align: center;

        color: $black;

        @extend .default-text;

        transition: all .3s ease 0s;

        &:before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            width: 60px;
            height: 60px;

            @include media-breakpoint-up(sm) {
                width: 60px;
                height: 60px;
            }

            border: 1px solid $gray-100;
            background: $gray-100;

            transition: all .3s ease 0s;
        }
    }

    &-input:checked + &-label {
        color: $white;
        &:before {
            background-color: $primary;
        }
    }
}

.form-check-buttons {
    margin-bottom: 15px;
}