.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;

    &.small{
        font-size: 12px;
    }

    &.large{
        font-size: 24px;
    }

    &.info {
        color: $info;
    }

    & .h1,
    & .h2,
    & .h3,
    & .h4,
    & .h5,
    & .h6{
        margin-bottom: 0;
    }

    &-phone{
       
    }
    &-time{
        
    }

    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
        margin-bottom: 0;
    }
}
