$themesHeader: (
    light: (
        headerBgColor: #fff,
        headerNavLinkColor: $gray-900,
        headerNavLinkBgColor: $info,
        headerLogoColor: $primary,
        headerInfoColor: $primary,
    ),
    dark: (
        headerBgColor: transparent,
        headerNavLinkColor: #fff,
        headerNavLinkBgColor: #fff,
        headerLogoColor: #fff,
        headerInfoColor: #fff,
    ),
) !default;

/*
 * Implementation of themesHeader
 * Миксин Themify 
 * @access private
 * @param {String} $property - темизируемое свойство
 * @param {String} $key - ключ цвета, используемого из темы
 * @param {Map} $themesHeader [$themesHeader] - ассоциативный массив с темами
 */
@mixin themify($themesHeader) {
    @each $theme, $map in $themesHeader {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themesHeader, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin button-wave-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: inherit;
  background-color: transparent;
  background-image: none;
  // border-color: $color;
  border-color: transparent;
  position: relative;

  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: transparent;
    border-color: transparent;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: none;
      } @else {
        box-shadow: none;
      }
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @if $enable-rounded {
    border-radius: $border-radius;
  } @else {
    border-radius: 0;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}
