.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(12/10)*1rem;
	width:(22/12)*1em;
}
.icon-arrow-left {
	font-size:(12/10)*1rem;
	width:(15/12)*1em;
}
.icon-arrow-right {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
.icon-cakelab {
	font-size:(15/10)*1rem;
	width:(92/15)*1em;
}
.icon-doc {
	font-size:(34/10)*1rem;
	width:(27/34)*1em;
}
.icon-download {
	font-size:(25/10)*1rem;
	width:(27/25)*1em;
}
.icon-facebook {
	font-size:(23/10)*1rem;
	width:(11/23)*1em;
}
.icon-favorite {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-home {
	font-size:(22/10)*1rem;
	width:(20/22)*1em;
}
.icon-instagram {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-jpg {
	font-size:(34/10)*1rem;
	width:(27/34)*1em;
}
.icon-link {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-mail {
	font-size:(18/10)*1rem;
	width:(23/18)*1em;
}
.icon-map {
	font-size:(25/10)*1rem;
	width:(26/25)*1em;
}
.icon-phone {
	font-size:(23/10)*1rem;
	width:(23/23)*1em;
}
.icon-play {
	font-size:(11/10)*1rem;
	width:(10/11)*1em;
}
.icon-plus {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-point {
	font-size:(24/10)*1rem;
	width:(20/24)*1em;
}
.icon-print {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-search {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-send {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-share {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-telegram {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-twitter {
	font-size:(21/10)*1rem;
	width:(25/21)*1em;
}
.icon-video {
	font-size:(34/10)*1rem;
	width:(30/34)*1em;
}
.icon-vk {
	font-size:(16/10)*1rem;
	width:(28/16)*1em;
}
.icon-youtube {
	font-size:(28/10)*1rem;
	width:(25/28)*1em;
}
