table {
    width: 100%;
    // margin-bottom: 70px;
    th,
    td {
        padding: $table-cell-padding;
        padding-left: 0;

        vertical-align: top;

        border-bottom: $table-border-width solid $table-border-color;
    }

    thead th {
        vertical-align: bottom;

        border-bottom: (2 * $table-border-width) solid $table-border-color;
    }
}

.mCSB_horizontal {
    margin-bottom: 70px;
    
    & .mCSB_dragger_bar {
        // background-color: $red !important;
    }
    & .mCSB_draggerRail {
        background-color: #e6e6e6 !important;
    }
}
