//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
    margin-bottom: 20px;

    font-weight: 500;

    color: $headings-color;
}

h1,
.h1 {
    margin-bottom: 30px;

    font-weight: 500;
    font-size: $font-size-base * 1.5;
    line-height: $font-size-base * 2;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 1.5;
        line-height: $font-size-base * 2.125;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2.625;
        line-height: $font-size-base * 2.625;
    }
}
h2,
.h2 {
    margin-bottom: 40px;

    font-weight: 500;
    font-size: $font-size-base * 1.125;
    line-height: $font-size-base * 1.5;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 2;
        line-height: $font-size-base * 2.625;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2;
        line-height: $font-size-base * 2.625;
    }
}
h3,
.h3 {
    font-weight: 500;
    font-size: $font-size-base * .875;
    line-height: $font-size-base * 1.25;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 1.125;
        line-height: $font-size-base * 1.5;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2;
        line-height: $font-size-base * 2.625;
    }
}
h4,
.h4 {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;

    @include media-breakpoint-up(sm) {
        font-size: 28px;
        line-height: 42px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 28px;
        line-height: 42px;
    }
}
h5,
.h5 {
    font-weight: 500;
    font-size: $font-size-base;
    line-height: $font-size-base;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base * 1.25;
        line-height: $font-size-base * 2;
    }
}
h6,
.h6 {
    font-weight: 200;
    font-size: $font-size-base;
    line-height: $font-size-base;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base * 1.25;
        line-height: $font-size-base * 1.25;
    }
}

.h7 {
    font-weight: 400;
    font-size: $font-size-base * 1.125;
    line-height: $font-size-base * 1.125;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 1.125;
        line-height: $font-size-base * 1.125;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 1.125;
        line-height: $font-size-base * 1.125;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base * 1.125;
        line-height: $font-size-base * 1.125;
    }
}

.h8 {
    font-weight: 400;
    font-size: $font-size-base;
    line-height: $font-size-base;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base;
        line-height: $font-size-base;
    }
}

.h9 {
    font-weight: 200;
    font-size: $font-size-base * .875;
    line-height: $font-size-base * 1.3125;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.3125;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.5;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.5;
    }
}

.h10 {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: $font-size-base * 1.125;
    line-height: $font-size-base * 1.125;

    @include media-breakpoint-up(sm) {
        margin-bottom: 12px;

        font-size: $font-size-base * 1.25;
        line-height: $font-size-base * 1.25;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 15px;

        font-size: $font-size-base * 1.5625;
        line-height: $font-size-base * 1.5625;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 15px;

        font-size: $font-size-base * 1.5625;
        line-height: $font-size-base * 1.5625;
    }
}

.text1 {
    font-weight: 400;
    font-size: $font-size-base * .625;
    line-height: $font-size-base * 1.125;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.125;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.125;
    }
}

.text2 {
    font-weight: 400;
    font-size: $font-size-base * .625;
    line-height: $font-size-base * 1.25;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * .625;
        line-height: $font-size-base * 1.25;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 1.25;
    }
}

.default-text {
    font-weight: 400;
    font-size: $font-size-base * .875;
    line-height: $font-size-base * 1.25;

    @include media-breakpoint-up(sm) {
        
    }
    @include media-breakpoint-up(lg) {
        
    }
    @include media-breakpoint-up(xl) {
        
    }
}
