// Application style
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html,
body {
  overflow-x: hidden;
}

button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$hamburger-padding-x: 11px;
$hamburger-padding-y: 13px;
$hamburger-layer-width: 22px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-color: #fff;
@import "./node_modules/bootstrap/scss/functions";
@import "helpers/fonts";
@import "helpers/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/mixins/breakpoints";
@import "./node_modules/bootstrap/scss/mixins/grid-framework";
@import "./node_modules/bootstrap/scss/mixins/grid";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/utilities/display";
@import "./node_modules/bootstrap/scss/utilities/flex";
@import "./node_modules/bootstrap/scss/utilities/text";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "./node_modules/aos/src/sass/aos";
// animations
@import "animations/animate";
// helpers
@import "helpers/mixins";
@import "helpers/app";
@import "helpers/buttons";
@import "helpers/sprite";
@import "helpers/icon";
@import "helpers/type";
@import "helpers/form";
@import "helpers/table";
// layout
@import "layout/header";
@import "layout/footer";
@import "layout/section";
@import "layout/breadcrumbs";
@import "layout/page";
@import "layout/preloader";
@import "layout/error-page";
// components
@import "components/jumbotron";
@import "components/news-index";
@import "components/bisness-geo";
@import "components/hamburger-container";
@import "components/press-center";
@import "components/contacts-infobox";
@import "components/video-box";
@import "components/arcticle-box";
@import "components/share-panel";
@import "components/contacts";
@import "components/photoarchive";
@import "components/photo";
@import "components/photos";
@import "components/actives";
@import "components/people";
@import "components/preloader";
@import "components/pie";
@import "components/map";
@import "components/pagination";
@import "components/information-mobile";
@import "components/carousel";
@import "components/press-slider";
@import "components/press-mobile";
@import "components/contacts-mobile";
@import "components/newslist-mobile";
@import "components/circle-graphic";
@import "components/blue-graphic";
@import "components/first-article-mobile";
@import "components/allphotos-mobile";
@import "components/space-container404";
@import "components/horizontal-scroll";
@import "components/swiper";
@import "components/sovet";
// vendors
@import "vendors/malihu-scrollbar";
@import "vendors/owl.carousel";
@import "vendors/video";
@import "vendors/fullpage";
@import "vendors/plyr";
@import "vendors/jquery.fancybox";

.white-color-text {
  color: $white !important;
}

.white-color-icon {
  fill: $white !important;
}
