//- jade/_mixins.jade
//- navigation
mixin nav(className, ...items)
	div(class="nav_open",data-nav="open")
	nav(class=className)
		div(class="nav_close",data-nav="close")
		ul
			each item in items
				li(class="#{curPage == item ? 'current':''}")
					a(href="#")= item

//- listNav
mixin listNav(classNameList, classNameItem, ...items)
	ul(class=classNameList)
		each item in items
			li(class=classNameItem)
				a(href="#")= item

//- svg icon
//- desc: +icon('name icon','modificator')
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="svg/sprite.svg#" + name)

//- breadcrumbs
mixin breadcrumbs(current, ...items)
	.breadcrumbs(data-aos="fade-in",data-aos-delay="0",data-aos-duration="500")
		each item in items
			a(href="#")= item
		span= current
				

