//- 404.jade
- var curPage = '404';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page.dark-preloader

        #preloader
        
        .wrapper

            .space-container404-mobile
                .space-container404-bg
                    a(href="/").header_menu_navigation_logo.header_menu_navigation_logo--404
                .space-container404-text
                    p.space-container404-desc
                        | К сожалению, страница, которую вы запрашиваете, не существует
                    p.space-container404-button
                        a(href="/")
                            | Перейти на главную
            
            .space-container404(id="space-container404")
                .space-container404-text
                    p.space-container404-desc
                        | К сожалению, страница, которую вы запрашиваете, не существует
                    p.space-container404-button
                        a(href="/")
                            | Перейти на главную
                .canvas#canvas404


        include jade/layout/scripts
