//- about.jade
- var curPage = 'О нас';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader
        
        .wrapper
            include jade/layout/header

            .section.section--content.section--about
                h1.about-title О нас

                p.about-text Петербург – это особый город на карте России. Город, который с самого момента своего основания был первым, современным, находящимся в авангарде развития страны. Прочные связи с Европой, высочайший уровень образования и компетенций специалистов в технических сферах, городская политика, направленная на поддержку инновационных производств – все это сегодня выгодно выделяет экономический потенциал Петербурга среди других крупных промышленных центров России.

                p.about-text Мы в холдинге «Бронка Групп» гордимся тем, что штаб-квартира нашей управляющей компании находится именно в Санкт-Петербурге, и мы вносим существенный вклад в развитие экономики Северной столицы. Все наши активы – от единственного в городе глубоководного порта «Бронка» до высокотехнологичного Единого центра документов, где граждане могут с минимальными временными затратами и максимальным комфортом получить на одной площадке более двух тысяч государственных и частных услуг – работают на то, чтобы Санкт-Петербург сохранял свою историческую идентичность, находясь в авангарде развития страны и укрепляя свои позиции как локомотива экономического развития и крупного делового центра России.

                img(src="img/content/aboutus.jpg")

                p.about-text Стратегия «Бронки Групп» – это обеспечение стабильного роста производственно-финансовых показателей, развитие социально ответственного бизнеса, ведение эффективной инвестиционной политики по перспективным направлениям и проектам. Инвестируя в развитие экономики Санкт-Петербурга, мы постоянно совершенствуемся и ставим перед собой амбициозные задачи, отвечающие стратегии города в национальном масштабе.
            
            .section.section--footer.section--footer--inner
                include jade/layout/footer-inner
        include jade/layout/scripts

