//- article.jade
- var curPage = 'Пресс-Центр';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--first-article-mobile
                include jade/layout/first-article-mobile

            .section.section--first-article.no-gutters.section--desktop
                .row.no-gutters
                    .col-12.col-sm-6.col-lg-8.arcticle-box_preview.vh-with-header.order-2.order-sm-1(style="background-image: url('img/content/video-preview.jpg')",data-aos="fade-in",data-aos-delay="0",data-aos-duration="1000",data-aos-anchor="#navigation")
                    .col-12.col-sm-6.col-lg-4.arcticle-box_summary.vh-with-header.order-1.order-sm-2
                        .arcticle-box_summary_content(data-aos="fade-up",data-aos-delay="50",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .press-center_news_item_date.press-center_news_item_date--main
                                | 21 Апреля, 2019
                                span
                                    | 15:06
                            h1.arcticle-box_title
                                | В порту Бронка состоялась церемония имянаречения танкера «Кристоф де Маржери»
                            .arcticle-box_summary_text
                                p
                                    | Владимир Путин присутствовал на церемонии имянаречения арктического танкера-газовоза «Кристоф де Маржери», флагмана в линейке из пятнадцати подобных судов. Мероприятие состоялось в глубоководном порту Санкт-Петербурга Бронка.
            .section.arcticle-box_tezies.vh.section--desktop
                .row.no-gutters
                    .col-12.col-sm-12.col-lg-4
                        .arcticle-box_numbers_item
                            .arcticle-box_numbers_item_count
                                span.js-spincrement(data-to="2.1",data-dp="1")
                                    | 0
                                small
                                    | м.
                            .arcticle-box_numbers_item_text
                                | ПАО «Совкомфлот» предоставил подробную характеристику танкера-газовоза ледового класса
                        .arcticle-box_numbers_item
                            .arcticle-box_numbers_item_count
                                span.js-spincrement(data-to="17.6",data-dp="1")
                                    | 0
                                small
                                    |  тыс.&nbsp;м
                                    sup
                                        | 3
                            .arcticle-box_numbers_item_text
                                | Вместимость
                    .col-12.col-sm-6.col-lg-4
                        .arcticle-box_blockquote(data-aos="fade-up",data-aos-delay="50",data-aos-duration="1000")
                            .arcticle-box_blockquote_text
                                | Проект способствует освоению глобальных пространств, формирует спрос на инновационные технологии в области транспортировки нефти, создает рабочие места в стране и за рубежом
                            .arcticle-box_blockquote_author
                                | В. В. Путин
                    .col-12.col-sm-6.col-lg-4
                        .arcticle-box_tezies_text(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            p
                                | Тезисы от В. Путина:
                            ul
                                li
                                    | это современное судно будет носить имя французского предпринимателя, большого друга России, - Кристофа де Маржери,
                                li
                                    | К. де Маржери, обладая стратегическим видением, много сделал для укрепления дружеских с РФ и способствовал реализации целого ряда крупных совместных проектов в энергетической отрасли промышленности,
                                li
                                    | танкер - газовоз «Кристоф де Маржери» станет флагманом в линейке из 15 подобных судов, которые предназначены для проекта «Ямал СПГ», который РФ реализует с французскими и китайскими партнерами,
                                li
                                    | поздравляю всех с сегодняшним торжественным событием и желаю всего самого доброго всем нашим друзьям.
            .section.section--content.section--desktop
                .row
                    .col-12.col-sm-10.col-lg-6.offset-lg-4
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            p
                                | ПАО «Совкомфлот» предоставил подробную характеристику танкера-газовоза ледового класса Arc7 «Кристоф де Маржери», торжественная церемония имянаречения которого состоялась при участии президента РФ Владимира Путина в порту Бронка (Санкт-Петербург) в рамках XXI Петербургского международного экономического форума 3 июня 2017 года.
                            p
                                | Кристоф де Маржери» является пилотным судном серии 15 танкеров-газовозов, предназначенных для обслуживания проекта «Ямал СПГ». По своим характеристикам судно на сегодняшний день не имеет мировых аналогов. Ему присвоен ледовый класс Arc7 – самый высокий среди существующих транспортных судов. Газовоз способен самостоятельно преодолевать лед толщиной до 2,1 м.
                            p
                                | Общая мощность главных дизелей судна составляет 64,35 МВт. Мощность пропульсивной установки газовоза – 45 МВт, что сопоставимо с мощностью современного атомного ледокола. Танкер оснащен винторулевыми колонками типа «Азипод». «Кристоф де Маржери» стал первым в мире судном высокого ледового класса, на котором установлено три «Азипода».
                            p
                                | Мощные винторулевые колонки в совокупности с другим специальным оборудованием и механизмами, ледокольной формой носа и особым устройством мостика обеспечивают танкеру высокую ледопроходимость и маневренность, позволяя безостановочно двигаться носом во льдах толщиной до 1,5 м, а также использовать принцип движения кормой вперед (функция Double Acting Tanker, DAT), что необходимо для преодоления торосов и тяжелых ледовых полей в высоких широтах.

            .section.no-gutters.section--desktop
                .row
                    .col-12.arcticle-box_media.js-carousel(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                        .arcticle-box_media_carousel.owl-carousel(data-responsive={0:{ items:1 }}, data-dots="true")
                            <!-- изменен -->
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото

            .section.section--content.section--desktop
                .row
                    .col-12.col-lg-4
                        <!-- изменен -->
                    .col-12.col-sm-10.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            h4
                                | Технические характеристики
                            p
                                | Радиус разворота судна, имеющего длину 299 м, во льду толщиной 1,7 м составляет 1760 м, что почти в два раза превышает проектные значения. «Кристоф де Маржери» может круглогодично следовать по Севморпути в западном от Ямала направлении и на протяжении шести месяцев (с июля по декабрь) – в восточном. Ранее период летней навигации в акватории восточного сектора Севморпути ограничивался четырьмя месяцами и исключительно при наличии ледокольного сопровождения. За один рейс судно способно перевезти 172 600 куб. м СПГ.  Танкер был построен с учетом требований Полярного кодекса и отличается высокой энергоэффективностью и соответствует самым высоким экологическим стандартам. Наряду с традиционными видами топлива, пропульсивная установка судна может использовать отпарной СПГ. По сравнению с обычным тяжелым топливом это позволяет существенно сократить выбросы в атмосферу вредных газов: на 90% оксидов серы (SOx), на 80% оксидов азота (NOx) и на 15% углекислого газа (CO2). Подобные показатели особо важны для судна, которому предстоит работать в арктическом регионе, где окружающая среда крайне чувствительна к внешним воздействиям.

                            h5
                                | Экипаж судна
                            p
                                | Экипаж судна состоит из 29 российских моряков, включая 13 офицеров, каждый из которых обладает значительным опытом арктического судоходства и дополнительно прошел специализированную подготовку в учебно-тренажерном центре «Совкомфлота» в Санкт-Петербурге.  Высокая ледопроходимость и исключительные маневренные характеристики нового танкера подтвердились в ходе ледовых испытаний, которые состоялись в период с 19 февраля по 8 марта в Карском море и море Лаптевых, а также успешной тестовой швартовки судна к газовому терминалу в порту Сабетта на полуострове Ямал 28 марта 2017 года. Успешный заход танкера в порт Сабетта в условиях зимней навигации стал результатом совместной работы компаний «Совкомфлот», «НОВАТЭК», «Ямал СПГ», которая заняла около десяти лет. Проект такого масштаба и сложности потребовал глубокой проработки всех деталей с привлечением ведущих профильных научно-исследовательских и проектных организаций, как российских (Арктический и антарктический НИИ, Крыловский ГНЦ), так и международных (Aker Arctic Research Centre, Hamburg Ship Model Basin).

            .section.no-gutters.section--desktop
                .row
                    .col-12.arcticle-box_media.js-carousel(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                        <!-- изменен -->
                        .arcticle-box_media_carousel.owl-carousel(data-responsive={0:{ items:1 }}, data-dots="true")
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_video-box.arcticle-box_media_carousel_video-box--xl
                                    video(width="100%",height="100%",controls,poster='img/content/article2.jpg')#my-player2.video-js.video-js-full.vjs-big-play-centered
                                        source(src="video/demo.mp4",type="video/mp4")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("video", "")
                                    | Скачать видео

            .section.section--content.section--desktop
                .row
                    .col-12.col-lg-4
                        <!-- изменен -->
                    .col-12.col-sm-10.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            p
                                | Отправной точкой для реализации морской транспортной составляющей проекта «Ямал СПГ» стал опыт успешной эксплуатации судов «Совкомфлота» в рамках крупных нефтегазовых проектов в Баренцевом и Печорском морях («Варандей и «Приразломное» соответственно), а также экспериментальные транзитные рейсы в акватории Севморпути, которые «Совкомфлот» провел в 2010-2011 годах совместно с «НОВАТЭКом» и другими нефтегазовыми компаниями при поддержке Минтранса РФ и «Атомфлота». В ходе этих рейсов было доказано, что использовать высокоширотные трассы в качестве транспортного коридора для крупнотоннажных судов технически возможно и экономически целесообразно, а также был освоен новый глубоководный маршрут севернее архипелага Новосибирских островов.


            .section.no-gutters.section--graphic
                .row.no-gutters
                    .col-12.col-lg-6.bg-blue-dark.order-2.order-lg-1
                        .arcticle-box_tech-container.circle-graphic-container
                            .arcticle-box_tech.circle-graphic-box_tech
                                .arcticle-box_tech_count.circle-graphic-box_tech_count
                                    span.js-spincrement(data-to="1.9",data-dp="1")
                                        | 1,9
                                    small
                                        | млн.
                                .arcticle-box_tech_text.circle-graphic-box_tech_text
                                    | Производственная мощность

                                .piesite#pie_0(data-pie="100")


                            .arcticle-box_tech_desc
                                | Порт «Бронка» – многофункциональный современный порт
                .row.no-gutters
                    .col-12.col-lg-6.bg-blue-dark-hide.order-2.order-lg-1
                        .arcticle-box_tech-container.circle-graphic-container
                            .arcticle-box_tech.circle-graphic-box_tech
                                .arcticle-box_tech_count.circle-graphic-box_tech_count
                                    span.js-spincrement(data-to="1.9",data-dp="1")
                                        | 1,9
                                    small
                                        | млн.
                                .arcticle-box_tech_text.circle-graphic-box_tech_text
                                    | Производственная мощность

                                .piesite#pie_0(data-pie="100")


                            .arcticle-box_tech_desc
                                | Порт «Бронка» – многофункциональный современный порт

                    .col-12.col-lg-6.bg-blue.order-1.order-lg-2
                        .arcticle-box_stats
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="90")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Площадь (Га)
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="28")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Груженые  контейнеры (тыс.)
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="1200")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Контейнерный терминал (м)


            .section.section--newslist-detail.section--newslist-detail-article.js-section--newslist#news(style="background-color: #f4f4f4;")
                include jade/layout/share-panel
                h3.newslist-mobile-article Другие новости &laquo;Бронка Девелопмент&raquo;

                <!-- изменен -->
                //- Порт
                .press-center_news_list.row.justify-content-between.press-center_news_list--press
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br1.jpg')")
                            .press-center_news_item_summary
                                | Порт «Бронка» стал единственным портом в России, способным осуществлять перевалку крупногабаритного груза массой 500 тонн
                                span.press-center_news_item_date
                                    | 14 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br2.jpg')")
                            .press-center_news_item_summary
                                | В ГУМРФ им. адмирала С.О. Макарова открылась новая учебная аудитория современной портовой инфраструктуры России
                                span.press-center_news_item_date
                                    | 02 Сентября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br3.jpg')")
                            .press-center_news_item_summary
                                | Подписано трехстороннее соглашение о реализации проекта по созданию транспортно-логистического центра «Бронка»
                                span.press-center_news_item_date
                                    | 06 Июня, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br4.jpg')")
                            .press-center_news_item_summary
                                | В порту «Бронка» продемонстрирована инновационная технология перегрузки насыпных и навалочных грузов
                                span.press-center_news_item_date
                                    | 26 Апреля, 2019
                            a(href="/article.html").press-center_news_item_link
                .press-center-article-buttons
                    a.press-center-article-button(href="/news.html")
                        p.press-center-article-text Все новости "Бронка Девелопмент"
                    a.press-center-article-link(href="/news.html")
                        p.press-center-article-link-text Все новости "Бронка Групп"
            .section.section--footer.section--footer-article
                include jade/layout/footer-inner
        include jade/layout/scripts
