//- contacts.jade
- var curPage = 'Контакты';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header

            .section.no-gutters
                .row.no-gutters.map-row
                    .col-12.col-lg-8.video-box.vh-with-header-footer
                        .video-box_preview.video-box_preview--contacts
                            .map#map(data-lat="59.939280",data-lng="30.394047")
                    .col-12.col-lg-4.contacts-infobox.vh-with-header-footer
                        .contacts-infobox_content.-contacts
                            h2.text-medium
                                | Контакты
                            .row
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item
                                            +icon("map", "")
                                            | ООО «Бронка Групп»
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item
                                            a(href="tel:88127771000")
                                                +icon("phone", "")
                                                | +7 (812) 777 1000
                                        .contacts-infobox_item
                                            +icon("point", "")
                                            | 191124, Россия, Санкт-Петербург, ул. Красного Текстильщика, д.17
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item
                                            a(href="mailto:info@bronkagroup.ru")
                                                +icon("mail", "")
                                                | info@bronkagroup.ru
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_item.contacts-infobox_item--social
                                        a(href="https://www.facebook.com/BronkaGroup/")
                                            +icon("facebook", "")
                                            | FACEBOOK
                                    .contacts-infobox_item.contacts-infobox_item--social
                                        a(href="https://www.instagram.com/bronkagroup/")
                                            +icon("instagram", "")
                                            | INSTAGRAM
                                    .contacts-infobox_item.contacts-infobox_item--social
                                        a(href="https://www.youtube.com/channel/UCXgiw5ZROfx-K_snVW4GlhQ")
                                            +icon("youtube", "")
                                            | YOUTUBE
            //- .section.no-gutters
            //-     .row.no-gutters
            //-         .col-12.col-sm-6
            //-             .contacts_content
            //-                 h1
            //-                     | Контакты
            //-                 a(href="#").btn.contacts_content_btn
            //-                     | Смотреть на карте
            //-         .col-12.col-sm-6.bg-gray
            //-             .contacts_content
            //-                 h4.text--light
            //-                     | Мы всегда рады видеть вас в нашем центральном офисе и готовы ответить на все ваши вопросы
            //-                 .row
            //-                     .col-12.col-lg-6
            //-                         .contacts-infobox_list
            //-                             .contacts-infobox_item
            //-                                 +icon("address", "")
            //-                                 | Санкт-Петербург, ул. Красного Текстильщика, 17

            //-                     .col-12.col-lg-6
            //-                         .contacts-infobox_list
            //-                             .contacts-infobox_item
            //-                                 +icon("phone", "")
            //-                                 | +7 (812) 320 10 00

            //-                     .col-12.col-lg-6
            //-                         .contacts-infobox_list.contacts-infobox_list--last
            //-                             .contacts-infobox_item
            //-                                 +icon("mail", "")
            //-                                 | info@bronkagroup.ru
            
            
            .section.section--footer.section--footer--inner
                include jade/layout/footer-inner
        include jade/layout/scripts