//- index.jade
- var curPage = 'Главная';
include jade/_mixins

doctype html
html
    include jade/layout/head

    body.noscroll

        #preloader

        .wrapper
                                    
            .section.no-gutters.section--space.space-container-main(id="space-container-main")
                .row.no-gutters
                    .col-12
                        .hamburger-container.hamburger-container--main
                            button(type="button",aria-controls="navigation").hamburger.hamburger--spring.js-hamburger
                                span.hamburger-box
                                    span.hamburger-inner
                        .jumbotron_space
                            .header-container
                                .header_logo(data-aos="fade-in",data-aos-delay="0",data-aos-duration="1000")
                                    img(src="img/logo.svg")
                                .header_menu.header_menu--index#navigation
                                    .header_menu_navigation_logo
                                    ul.inner-list
                                        li.outer.outer--full(data-aos="fade-in",data-aos-delay="50",data-aos-duration="1000")
                                            a(href="#").link.link--company
                                                | О компании
                                            ul.animated.animated--active.animated--company
                                                button.arrow-back(type="button" id="company-back")
                                                li.first
                                                    a(href="/about.html").link
                                                        | О нас
                                                li
                                                    a(href="/sovet.html").link
                                                        | Руководство
                                                li.last
                                                    a(href="/policy.html").link.link--policy
                                                        | Политика обработки персональных данных
                                        li.outer.outer--full(data-aos="fade-in",data-aos-delay="100",data-aos-duration="1000")
                                            a(href="#").link.link--buisness
                                                | Наш бизнес
                                            ul.animated.animated--active.animated--buisness
                                                button.arrow-back(type="button" id="buisness-back")
                                                li.first
                                                    a(href="/object.html").link
                                                        | Порт &laquo;Бронка&raquo;
                                                li
                                                    a(href="/object.html").link
                                                        | Завод &laquo;Измерон&raquo;
                                                li
                                                    a(href="/object.html").link
                                                        | Единый центр документов
                                                li
                                                    a(href="/object.html").link
                                                        | Бронка девелопмент
                                                li
                                                    a(href="/object.html").link
                                                        | Сеть бутиков
                                                li
                                                    a(href="/object.html").link
                                                        | ПНК им. Кирова
                                                li.last
                                                    a(href="/object.html").link
                                                        | Ресторанная группа
                                        li.outer.outer--full(data-aos="fade-in",data-aos-delay="50",data-aos-duration="1000")
                                            a(href="#").link.link--press
                                                | Пресс-центр
                                            ul.animated.animated--active.animated--press
                                                button.arrow-back(type="button" id="press-back")
                                                li.first
                                                    a(href="/press-center.html").link
                                                        | Новости
                                                li
                                                    a(href="/photo-archive.html").link
                                                        | Фотоархив
                                                li.last
                                                    a(href="/videos.html").link
                                                        | Видеобанк
                                        li(data-aos="fade-in",data-aos-delay="200",data-aos-duration="1000")
                                            a(href="/work.html").link
                                                | Карьера
                                        li(data-aos="fade-in",data-aos-delay="250",data-aos-duration="1000")
                                            a(href="/contacts.html").link
                                                | Контакты
                            .header_social
                                a(href="#").header_social_link.header_social_link--instagram(data-aos="fade-right",data-aos-delay="100",data-aos-duration="1000")
                                    +icon("instagram","header_social-icon")
                                    p.header_social-text instagram
                                a(href="#").header_social_link.header_social_link--facebook(data-aos="fade-right",data-aos-delay="150",data-aos-duration="1000")
                                    +icon("facebook","header_social-icon")
                                    p.header_social-text facebook
                                a(href="#").header_social_link.header_social_link--youtube(data-aos="fade-right",data-aos-delay="0",data-aos-duration="1000")
                                    +icon("youtube","header_social-icon")
                                    p.header_social-text youtube
                            .canvas#canvas

                    .col-4.offset-8.col-sm-4.offset-sm-8.col-md-3.offset-md-9.col-lg-2.offset-lg-10
                        a(href="#box2").btn.btn-scroll-main.btn-block.btn--down.js-scrollto(data-aos="fade-up",data-aos-duration="1000",data-aos-anchor-placement="top-bottom")
                            span
                                +icon("arrow-down", "")

            .section.section--information-mobile
                h1.information-mobile-title Бронка Групп
                p.information-mobile-text Многопрофильная и динамично развивающаяся управляющая компания, инвестирующая встратегические отрасли российской экономики. Среди портфеля проектов ООО «Бронка Групп»— активы в сфере транспортной инфраструктуры, производства оборудования для нефтегазовой отрасли, текстильной промышленности, девелопмента, атакже предприятия всфере общественного питания ииндустрии моды. Главный офис УК«Бронка Групп» расположен вСанкт-Петербурге.
            .section.no-gutters.section--information
                .row.no-gutters
                    .col-12.col-md-9.col-lg-8.offset-lg-2
                        .jumbotron_content_text.scrollme.animateme(
                            data-when="view",
                            data-from="0.4",
                            data-to="1.3",
                            data-opacity="0",
                            data-translatey="500"
                        )
                            h1.jumbotron_content_title
                                | Бронка Групп
                            .jumbotron_content_text_summary
                                p
                                    | Многопрофильная и&nbsp;динамично развивающаяся управляющая компания, инвестирующая в&nbsp;стратегические отрасли российской экономики. Среди портфеля проектов ООО «Бронка Групп»&nbsp;— активы в&nbsp;сфере транспортной инфраструктуры, производства оборудования для нефтегазовой отрасли, текстильной промышленности, девелопмента, а&nbsp;также предприятия в&nbsp;сфере общественного питания и&nbsp;индустрии моды. Главный офис УК&nbsp;«Бронка Групп» расположен в&nbsp;Санкт-Петербурге.
                    
                        .jumbotron_content#infoindex
                            
                            .jumbotron_content_background.scrollme.animateme(
                                data-when="enter",
                                data-from="0.6",
                                data-to="1.3",
                                data-opacity="0",

                                data-matrix3d11='0.9'

                                data-matrix3d22='0.8'
                                data-matrix3d23='0.55'

                                data-matrix3d32='-0.55'
                                data-matrix3d33='0.2'

                                data-matrix3d42='-200'

                                data-translatey="300"
                            )
            //include jade/layout/slider
            
                       
            .section.section--news.no-gutters
                .news-index.scroll-me.animate-me(
                        data-when="view",
                        data-from="-0.2",
                        data-to="0.15",
                        data-translatey="-150"
                    )
                    .container-news#box2(data-scroll)
                        <!-- изменено -->
                        .row.no-gutters.grid-container(data-scroll-container)
                            .col-12.col-sm-6.col-lg-4.grid-sizer.blur-bg(id="blur-bg")
                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="1",data-order-lg="1")
                                .news-index_item.news-index_item--1
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/port.jpg)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/port.mp4",type="video/mp4")
                                        .thumb_name
                                            | Порт &laquo;Бронка&raquo;

                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="2",data-order-lg="2")
                                .news-index_item.news-index_item--2
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/izmeron.jpg)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/izmeron.mp4",type="video/mp4")
                                        .thumb_name
                                            | Завод &laquo;Измерон&raquo;

                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="4",data-order-lg="3")
                                .news-index_item.news-index_item--3
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/ecd.jpg)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/ecd.mp4",type="video/mp4")
                                        .thumb_name
                                            | Единый центр документов

                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="3",data-order-lg="4")
                                .news-index_item.news-index_item--4
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/actives_90.png)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/actives_90.mp4",type="video/mp4")
                                        .thumb_name
                                            | Бронка девелопмент
                                        
                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="6",data-order-lg="5")
                                .news-index_item.news-index_item--5
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/boutique.jpg)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/boutique.mp4",type="video/mp4")
                                        .thumb_name
                                            | Сеть бутиков

                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="7",data-order-lg="6")
                                .news-index_item.news-index_item--6
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/pnk.jpg)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/pnk.mp4",type="video/mp4")
                                        .thumb_name
                                            | ПНК им. Кирова

                            .col-12.col-sm-6.col-lg-4.grid-item(data-order-sm="4",data-order-lg="7")
                                .news-index_item.news-index_item--7
                                    .news-index_item_hidden
                                        a(href="/object.html").thumb(style="background-image: url(img/content/rest.jpg)")
                                            video(loop,muted,onmouseover="this.play()",onmouseout="this.pause()",poster="img/blank.png")#video2
                                                source(src="video/rest.mp4",type="video/mp4")
                                        .thumb_name
                                            | Ресторанная группа
            //- .section.section--graphic-mobile
            //-     include jade/layout/blue-graphic-main          
            .section.no-gutters.section--map
                
                .bisness-geo

                    .bisness-geo_title
                        | География бизнеса
                    .row.no-gutters.justify-content-between
                        .col-12.col-sm-auto.col-lg-12.bisness-geo_item
                            .bisness-geo_item_count
                                span.js-spincrement(data-to="15")
                                    | 0
                            | Бизнес
                            br
                            | направлений
                        .col-12.col-sm-auto.col-lg-12.bisness-geo_item
                            .bisness-geo_item_count
                                span.js-spincrement(data-to="100")
                                    | 0
                                | +
                            | Международных
                            br
                            | партнеров
                        .col-12.col-sm-auto.col-lg-12.bisness-geo_item
                            .bisness-geo_item_count
                                span.js-spincrement(data-to="5000")
                                    | 0
                                | +
                            | Сотрудников
                            
                include jade/layout/footer
                
                #pathAnimation
                    .pathAnimation_bg
                        img(src="img/map3.jpg")
                    

        <!-- изменено -->
        script(src="https://vjs.zencdn.net/7.4.1/video.js")
        script(src="js/main.js")
        
        
