//- object.jade
- var curPage = 'Единый центр документов';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page.dark-preloader

        #preloader

        .wrapper
            include jade/layout/header

            .section.no-gutters
                .row.no-gutters
                    .col-12.col-sm-12.col-lg-7.col-xl-8.arcticle-box_preview.arcticle-box_preview--object.vh-with-header(style="background-image: url('img/content/object1.jpg')",data-aos="fade-in",data-aos-delay="0",data-aos-duration="1000",data-aos-anchor="#navigation")
                    .col-12.col-sm-12.col-lg-5.col-xl-4.arcticle-box_summary.vh-with-header
                        .arcticle-box_summary_content.arcticle-box_summary_content--object(data-aos="fade-up",data-aos-delay="50",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .row.no-gutters
                                .col-12.col-sm-6.col-lg-12
                                    h1.page-title-object.page-title-object--active
                                        | Единый центр документов
                                .col-12.col-sm-6.col-lg-12
                                    .arcticle-box_summary_text
                                        p
                                            | Единый центр документов – многофункциональный современный комплекс с европейским уровнем обслуживания, открытый в 2009 году. Цель проекта – создание единого пространства,

            .section.no-gutters
                .row.no-gutters
                    .col-12.col-sm-12.col-lg-7.col-xl-8.arcticle-box_preview.arcticle-box_preview--object.vh-with-header(style="background-image: url('img/content/object1.jpg')",data-aos="fade-in",data-aos-delay="0",data-aos-duration="1000",data-aos-anchor="#navigation")
                    .col-12.col-sm-12.col-lg-5.col-xl-4.arcticle-box_summary.vh-with-header
                        .arcticle-box_summary_content.arcticle-box_summary_content--object(data-aos="fade-up",data-aos-delay="50",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .row.no-gutters
                                .col-12.col-sm-6.col-lg-12
                                    h1.page-title-object.page-title-object--active
                                        | Единый центр документов
                                .col-12.col-sm-6.col-lg-12
                                    .arcticle-box_summary_text
                                        p
                                            | Единый центр документов – многофункциональный современный комплекс с европейским уровнем обслуживания, открытый в 2009 году. Цель проекта – создание единого пространства,

            .section.no-gutters.section--graphic
                .row.no-gutters
                    .col-12.col-lg-7.col-xl-8.bg-blue-dark.bg-blue-dark-hide
                        .arcticle-box_tech-container.circle-graphic-container.vh.js-pie
                            .arcticle-box_tech.text-center.circle-graphic-box_tech
                                <!-- изменено -->
                                .arcticle-box_tech_count.circle-graphic-box_tech_count
                                    span.js-spincrement(data-to="10")
                                        | 10
                                    | +
                                .arcticle-box_tech_text.circle-graphic-box_tech_text
                                    | Лет успешной работы

                                .piesite#pie_0(data-pie="100")

                            .arcticle-box_tech_desc
                                | Единый Центр Документов– многофункциональный современный центр
                    .col-12.col-lg-5.col-xl-4.bg-blue
                        .arcticle-box_stats.vh
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="90")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Оформленных
                                    br
                                    | документов&nbsp;(млн.)
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="500")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Выданных виз
                                    br
                                    | и&nbsp;паспортов&nbsp;(тыс.)
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    <!-- изменено -->
                                    big
                                        span.js-spincrement(data-to="2000")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Государственных
                                    br
                                    | и&nbsp;сопутствующих услуг
                    .col-12.col-lg-7.col-xl-8.bg-blue-dark
                        .arcticle-box_tech-container.circle-graphic-container.vh
                            .arcticle-box_tech.text-center.circle-graphic-box_tech
                                <!-- изменено -->
                                .arcticle-box_tech_count.circle-graphic-box_tech_count
                                    span.js-spincrement(data-to="10")
                                        | 10
                                    | +
                                .arcticle-box_tech_text.circle-graphic-box_tech_text
                                    | Лет успешной работы

                                .piesite#pie_0(data-pie="100")

                            .arcticle-box_tech_desc
                                | Единый Центр Документов– многофункциональный современный центр
            .section.section--content
                <!-- изменен -->
                .row.no-gutters
                    .col-12.col-sm-4.col-lg-4
                        .article-box_quote(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")

                            .article-box_quote_author
                                .article-box_quote_author_avatar
                                    img(src="img/content/avatar.png")
                                .article-box_quote_author_info
                                    h4.article-box_quote_author_info_name Дмитрий Кострыкин
                                    p.article-box_quote_author_info_position Генеральный директор ООО "ЕЦД"

                            p.article-box_quote_text Наша задача - помочь гражданам быстро и качественно решить максимальное количество вопросов по подготвоке документов: от получения паспорта до оформления прав собственности на надвижимость


                    .col-12.col-sm-7.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="0",data-aos-duration="1000")
                            h4 Особенности формата
                            p Единый центр документов первым в России внедрил формат одного окна. Главные принципы работы ЕЦД: быстрая и профессиональная подготовка документов, комфортный сервис и доступность.
                            p Единый центр документов — уникальная площадка, на которой государственные организации расположены в едином пространстве с частными компаниями, предоставляющими сопутствующие услуги. Это дает возможность посетителям в один день оперативно подготовить полный пакет необходимых документов (получить квалифицированную консультацию специалистов, заполнить бланк заявления, сфотографироваться, оплатить госпошлину, воспользоваться услугами нотариуса и т.д.).
                            p Гражданам также предлагаются уникальные услуги: помощь в срочном получении справок и выписок из различных госорганов, дубликатов документов из архивов ГУВД и ЗАГС, помощь в оформлении визы за 24 часа, решение сложных визовых вопросов, перевод на любой язык мира, в том числе перевод узкоспециальных документов и т.п.
                            p В 2010 году в составе ЕЦД открылся Единый миграционный центр — первый в России центр, ориентированный на оказание услуг иностранным гражданам и лицам без гражданства. Здесь оказывается полный комплекс услуг: организация медицинского освидетельствования и комплексного экзамена на знание русского языка, истории и основ законодательства РФ, консультации и подготовка документов для оформления разрешения на работу и патента. В 2014 году по модели петербургского центра создан Единый миграционный центр в Московской области. Успешный опыт Санкт-Петербурга и Московской области активно заимствуется другими регионами нашей страны.
                            p Миссия формата единого миграционного центра – создание комфортных условий для решения миграционных вопросов на одной площадке и расширение возможностей легализации миграции на территории РФ.


            .section.no-gutters
                .press-center_block.press-center_block.press-center_block--height2.press-center_block--height2--inner.vh
                    .press-center_block_preview
                        .press-center_block_preview_summary
                            span
                                | Помещения
                            span
                                | Единого
                            span
                                | центра
                            span
                                | документов
                        .press-center_block_preview_img.no-hover(style="background-image: url('img/content/object4.jpg')")
                        a(href="#").press-center_block_preview_btn
                            | Фотобанк
                            span.plus
                                +icon("plus", "")


            .section.section--content
                .row.no-gutters
                    .col-12.col-lg-4

                    .col-12.col-sm-10.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="0",data-aos-duration="1000")
                            h4 bbtbtb
                            p Персонал центра — это не просто консультанты, а высококомпетентные специалисты с опытом работы в госучреждениях, профильных ведомствах и консульствах, проходящие регулярное обучение и курсы повышения квалификации. Они проводят полную аналитику документов с учетом последних требований государственных органов и изменений законодательства.
                            p В Едином центре документов продумано все для комфортного пребывания граждан. Прием осуществляется по электронной очереди. В комплексе открыты комната матери и ребенка, центр общественного питания (традиционное русское меню, европейская и восточная кухня), отделение банка, нотариус, медицинский центр, юридический центр, депозитарий. Для посетителей выделена отдельная парковка, есть стоянка для велосипедов и колясок. Весь комплекс зданий спроектирован с учетом доступности для людей с ограниченной мобильностью.
            .section.no-gutters
                .row
                    .col-12.arcticle-box_media.js-carousel
                        .arcticle-box_media_carousel.owl-carousel(data-responsive={0:{ items:1 }}, data-dots="true")
                            .arcticle-box_media_carousel_item

                                .arcticle-box_media_carousel_video-box
                                    button.button.js-plyr-video-btn
                                        span.button__icon
                                            +icon("play", "")
                                    .js-plur-video(data-plyr-provider='youtube', data-plyr-embed-id='2MKV9sU3K3s')

                                .arcticle-box_media_carousel_video-box
                                    button.button.js-plyr-video-btn
                                        span.button__icon
                                            +icon("play", "")
                                    video.js-plur-video(width="100%",height="100%",controls,poster='img/content/object3.jpg')
                                        source(src="video/demo.mp4",type="video/mp4")

            .section.section--content
                .row.no-gutters
                    .col-12.col-lg-4

                    .col-12.col-sm-10.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="0",data-aos-duration="1000")
                            h4
                                | Услуги, предоставляемые в Едином центре документов
                            ul
                                li Подготовка документов для оформления загранпаспорта
                                li
                                    p.list-item Подготовка документов для оформлении виз; решение сложных визовых вопросов
                                li
                                    p.list-item Юридическое и налоговое консультирование
                                li
                                    p.list-item Услуги в сфере регистрации недвижимости
                                li
                                    p.list-item Подготовка документов под ключ для иностранных граждан (патент, РНР, РВП, ВЖ, гражданство)
                                li
                                    p.list-item Заказ справок из органов (ГУВД, ЗАГС, архивов и т.д.)
                                li
                                    p.list-item Автоуслуги (замена ВУ, регистрация ТС, автострахование и т.д.)
                                li
                                    p.list-item Комплекс медицинских услуг
                                li
                                    p.list-item Страхование жизни и имущества
                                li
                                    p.list-item Депозитарий, сейфовое хранилище, сопровождение сделок с недвижимостью
                                li
                                    p.list-item Стрелковый тир
                                li
                                    p.list-item Обучение безопасному обращению с оружием
                                li
                                    p.list-item Школа охранников
                            h4 Месторасположение
                            p Единый центр документов располагается в центре Санкт-Петербурга. Для большего удобства посетителей и сотрудников центра организованы постоянные маршруты общественного транспорта от станции метро «Площадь Александра Невского». Дополнительные подразделения Единого центра документов расположены у станций метро «Звездная», «Комендантский проспект» и «Озерки».

            .section.no-gutters
                .row.no-gutters
                    .col-12.col-lg-4.contacts-infobox.bg-blue
                        .contacts-multi.js-multimap(data-map="map-multi")
                            .contacts-multi_point.js-multimap-point(data-lat="59.969919",data-lng="30.2470152" data-id="illago")
                                .contacts-multi_point_maintitle Контакты
                                .contacts-multi_point_title
                                    | Ресторан Il Lago Dei Cigni
                                .contacts-multi_point_title.contacts-multi_point_title--media480 Ресторан Il Lago Dei Cigni
                                .contacts-infobox_item-box
                                    .contacts-infobox_item
                                        a(href="illago.ru",target="_blank")
                                            +icon("link", "")
                                            p.contacts-infobox_item-text illago.ru
                                    .contacts-infobox_item
                                        +icon("instagram", "")
                                        p.contacts-infobox_item-text Instagram Ресторана Il Lago dei Cigni
                                .contacts-infobox_item-box
                                    .contacts-infobox_item
                                        +icon("point", "")
                                        p.contacts-infobox_item-text Россия, Санкт-Петербург, Крестовский проспект, 21Б
                                a.contacts-multi_point-button(href="#map-multi") На карте
                                .contacts-multi_point-box
                                    ul.contacts-multi_point-links
                                        li.contacts-multi_point-links-item
                                            a.contacts-multi_point-link(href="illago.ru",target="_blank") illago.ru
                                        li.contacts-multi_point-links-item
                                            a.contacts-multi_point-link(href="#") instagram
                                        li.contacts-multi_point-links-item
                                            a.contacts-multi_point-link(href="#") facebook
                                    .contacts-multi_point-box-address
                                        .contacts-multi_point-box-address-text Россия, Санкт-Петербург, Крестовский проспект, 21Б
                                        button.contacts-multi_point-button(type="button") На карте


                                #content-map0
                                    | Il Lago Dei Cigni

                            .contacts-multi_point.js-multimap-point(data-lat="59.929493",data-lng="30.3416164" data-id="hunt")
                                .contacts-multi_point_title
                                    | Коктейльный бар "Архитектор" / Ресторан Hunt
                                .contacts-multi_point_title.contacts-multi_point_title--media480 Коктейльный бар "Архитектор" / Ресторан Hunt
                                .contacts-infobox_item-box
                                    //- .contacts-infobox_item
                                    //-     a(href="buddha-bar.ru",target="_blank")
                                    //-         +icon("link", "")
                                    //-         p.contacts-infobox_item-text buddha-bar.ru
                                    .contacts-infobox_item
                                        +icon("facebook", "")
                                        p.contacts-infobox_item-text Facebook Ресторана Hunt
                                .contacts-infobox_item-box
                                    .contacts-infobox_item
                                        +icon("point", "")
                                        p.contacts-infobox_item-text 191002, г.Санкт-Петербург, ул.Рубинштейна, 13
                                a.contacts-multi_point-button(href="#map-multi") На карте
                                .contacts-multi_point-box
                                    ul.contacts-multi_point-links
                                        li.contacts-multi_point-links-item
                                            a.contacts-multi_point-link(href="#") facebook
                                    .contacts-multi_point-box-address
                                        .contacts-multi_point-box-address-text 191002, г.Санкт-Петербург, ул.Рубинштейна, 13
                                        button.contacts-multi_point-button(type="button") На карте
                                #content-map1
                                    | Коктейльный бар "Архитектор" / Ресторан Hunt

                            .contacts-multi_point.js-multimap-point(data-lat="60.0542167",data-lng="30.4274796" data-id="farsh")
                                .contacts-multi_point_title
                                    | Ресторан "Фаршировка"
                                .contacts-multi_point_title.contacts-multi_point_title--media480 Ресторан "Фаршировка"
                                .contacts-infobox_item-box
                                    //- .contacts-infobox_item
                                    //-     a(href="farshirovka.com",target="_blank")
                                    //-         +icon("link", "")
                                    //-         p.contacts-infobox_item-text farshirovka.com
                                    .contacts-infobox_item
                                        +icon("vk", "")
                                        p.contacts-infobox_item-text Vk Ресторана "Фаршировка"
                                .contacts-infobox_item-box
                                    .contacts-infobox_item
                                        +icon("point", "")
                                        p.contacts-infobox_item-text 188662, Ленинградская область, Мурино, бульвар Менделеева, 16А

                                a.contacts-multi_point-button(href="#map-multi") На карте
                                .contacts-multi_point-box
                                    ul.contacts-multi_point-links
                                        li.contacts-multi_point-links-item
                                            a.contacts-multi_point-link(href="#") vkontakte
                                        //- li.contacts-multi_point-links-item
                                        //-     a.contacts-multi_point-link(href="#") facebook
                                    .contacts-multi_point-box-address
                                        .contacts-multi_point-box-address-text 188662, Ленинградская область, Мурино, бульвар Менделеева, 16А
                                        button.contacts-multi_point-button(type="button")  На карте
                                #content-map2
                                    | Фаршировка

                            .contacts-multi_point.js-multimap-point(data-lat="59.9405701",data-lng="30.3943216" data-id="buddha")
                                .contacts-multi_point_title
                                    | Ресторан Buddha-Bar
                                .contacts-multi_point_title.contacts-multi_point_title--media480 Ресторан Buddha-Bar
                                .contacts-infobox_item-box
                                    .contacts-infobox_item
                                        +icon("point", "")
                                        p.contacts-infobox_item-text 191124, г.Санкт-Петербург, Синопская набережная, 78
                                a.contacts-multi_point-button(href="#map-multi") На карте
                                .contacts-multi_point-box
                                    //- ul.contacts-multi_point-links
                                    //-     li.contacts-multi_point-links-item
                                    //-         a.contacts-multi_point-link(href="#") farshirovka.com
                                    //-     li.contacts-multi_point-links-item
                                    //-         a.contacts-multi_point-link(href="#")
                                    .contacts-multi_point-box-address
                                        .contacts-multi_point-box-address-text 191124, г.Санкт-Петербург, Синопская набережная, 78
                                        button.contacts-multi_point-button(type="button") На карте
                                #content-map3
                                    | Buddah-Bar

                            .contacts-multi_point.js-multimap-point(data-lat="59.8595622",data-lng="29.9887097" data-id="lunka")
                                .contacts-multi_point_title
                                    |  Ресторан "Лунка 19"
                                .contacts-multi_point_title.contacts-multi_point_title--media480 Ресторан "Лунка 19"
                                .contacts-infobox_item-box
                                    .contacts-infobox_item
                                        +icon("point", "")
                                        p.contacts-infobox_item-text 198510, г.Санкт-Петербург, Петергоф, ул. Гофмейстерская, 1
                                a.contacts-multi_point-button(href="#map-multi") На карте
                                .contacts-multi_point-box
                                    //- ul.contacts-multi_point-links
                                    //-     li.contacts-multi_point-links-item
                                    //-         a.contacts-multi_point-link(href="#") buddha-bar.ru
                                    .contacts-multi_point-box-address
                                        .contacts-multi_point-box-address-text 198510, г.Санкт-Петербург, Петергоф, ул. Гофмейстерская, 1
                                        button.contacts-multi_point-button(type="button") На карте
                                #content-map4
                                    | Лунка 19


                    .col-12.col-lg-8.video-box
                        .video-box_preview.map-box
                            .map#map-multi
            .section.section--object-mobile-carousel
                include jade/layout/slider
            .section.no-gutters.section--object-carousel
                .row.no-gutters
                    .col-12.col-lg-4.actives_item.order-2.order-lg-1
                        .actives_item_photoarchive
                            .actives_item_photoarchive_media_carousel.owl-carousel#photoarchive2(data-responsive={0:{ items:1 }}, data-dots="false")
                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | Порт «Бронка»
                                                .actives_item_count
                                                    | &nbsp;
                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | Завод «Измерон»
                                                .actives_item_count
                                                    | &nbsp;
                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | Бронка девелопмент
                                                .actives_item_count
                                                    | &nbsp;

                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | ПНК имени кирова
                                                .actives_item_count
                                                    | &nbsp;
                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | Ресторанная группа
                                                .actives_item_count
                                                    | 5 ресторанов и баров
                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | Единый центр документов
                                                .actives_item_count
                                                    | &nbsp;
                                .actives_item_photoarchive_media_carousel_item
                                    .actives_item_data
                                        .row.no-gutters
                                            .col-12.col-sm-8.col-lg-12
                                                .actives_item_summary
                                                    | Наши активы
                                                .actives_item_title
                                                    | Сеть бутиков
                                                .actives_item_count
                                                    | &nbsp;

                            .actives_item_photoarchive_menu
                                ul
                                    li
                                        a(href="#18")
                                            | Порт «Бронка»
                                    li
                                        a(href="#19")
                                            |  Завод «Измерон»
                                    li
                                        a(href="#20")
                                            | Бронка девелопмент
                                    li
                                        a(href="#21")
                                            | ПНК Имени Кирова
                                    li
                                        a(href="#22")
                                            | Ресторанная группа
                                    li
                                        a(href="#23")
                                            | Единый центр документов
                                    li
                                        a(href="#24")
                                            | Сеть бутиков


                    .col-12.col-lg-8.actives_item.order-1.order-lg-2
                        .actives_item_photoarchive
                            .actives_item_photoarchive_media_carousel.owl-carousel#photoarchive1(data-responsive={0:{ items:1 }},data-dots="false",data-start="0")
                                .actives_item_photoarchive_media_carousel_item(data-hash="18" data-number="0")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/portport.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link
                                .actives_item_photoarchive_media_carousel_item(data-hash="19" data-number="1")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/izmeromen.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link
                                .actives_item_photoarchive_media_carousel_item(data-hash="20" data-number="2")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/housetopp.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link
                                .actives_item_photoarchive_media_carousel_item(data-hash="21" data-number="3")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/yellow.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link
                                .actives_item_photoarchive_media_carousel_item(data-hash="22" data-number="4")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/gazprom.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link
                                .actives_item_photoarchive_media_carousel_item(data-hash="23" data-number="5")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/ecdfront.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link
                                .actives_item_photoarchive_media_carousel_item(data-hash="24" data-number="6")
                                    .actives_item_photoarchive_media_carousel_item_photo(style="background-image: url('img/content/boutique2.jpg')")
                                        a(href="#").actives_item_photoarchive_media_carousel_item_photo_link

                            .actives_item_photoarchive_media_carousel-controls.owl-controls
                                .owl-buttons
                                    .owl-buttons_link.owl-buttons_link-prev.js-media-prev
                                        +icon('arrow-left','')
                                    .owl-buttons_link.owl-buttons_link-next.js-media-next
                                        +icon('arrow-right','')

            .section.section--text
                .row.no-gutters
                    .col-12.col-lg-8.offset-lg-2
                        .page-content
                            h2
                                | Комплексное управление и строительство портовых комплексов в лице Генерального подрядчика

                            .page-content_line

                            h3
                                | Основное направление

                            blockquote
                                | Комплекс представляет собой два морских причала эстакадного типа, соединенные с резервуарным парком трубопроводами, проложенными по технологическим эстакадам. Морская часть эстакад проходит по огражденной металлическим шпунтом насыпной подходной дамбе с береговым устоем (более 600 м), а далее, на 690 м в акваторию, — по технологическим опорам и площадкам эстакадного типа в виде высокого свайного ростверка на металлических сваях-оболочках.

                            ul
                                li
                                    | получение технических условий на его монтаж и подключение к сетям;
                                li
                                    | исполнение чертежа генерального плана объекта, изучение архитектуры зданий с обозначением источников подачи воды (центральное водоснабжение или же местное — колодец, скважина);
                                li
                                    | сбор данных о существующих внешних сетях.

                            ol
                                li
                                    | получение технических условий на его монтаж и подключение к сетям;
                                li
                                    | исполнение чертежа генерального плана объекта, изучение архитектуры зданий с обозначением источников подачи воды (центральное водоснабжение или же местное — колодец, скважина);
                                li
                                    | сбор данных о существующих внешних сетях.

                            a(href="#").page-content_download
                                +icon("download", "")
                                | Скачать файл

                    .col-12
                        .page-content
                            .table-responsive
                                table(style="min-width: 705px;")
                                    tr
                                        th
                                            | Модель
                                        th(width="170px")
                                            | Мощность,
                                            br
                                            | кВт
                                        th(width="200px")
                                            | Рабочее
                                            br
                                            | напряжение, В
                                        th(width="170px")
                                            | Габариты
                                            br
                                            | (ШхВхГ), мм
                                        th(width="170px")
                                            | Габариты
                                            br
                                            | (ШхВхГ), мм
                                        th(width="200px")
                                            | Рабочее
                                            br
                                            | напряжение, В
                                        th(width="135px")
                                            | Рабочее
                                            br
                                            | напряжение, В
                                    tr
                                        td
                                            | Bosch Gaz 4000 W ZWA 24-2 K
                                        td
                                            | 36
                                        td
                                            | 380
                                        td
                                            | 600х400х250
                                        td
                                            | 36
                                        td
                                            | 380
                                        td
                                            | 600х400х250
                                    tr
                                        td
                                            | Bosch Condens 3000 W ZWB 28-3 C
                                        td
                                            | 36
                                        td
                                            | 380
                                        td
                                            | 600х400х250
                                        td
                                            | 36
                                        td
                                            | 380
                                        td
                                            | 600х400х250


        .section.section--footer.section--footer-inner
            include jade/layout/footer-inner
        include jade/layout/scripts


