//- photo-archive.jade
- var curPage = 'Порт Бронка';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page.dark-preloader


        #preloader

        .wrapper
            include jade/layout/header
            .section.section--desktop-newslist.section--desktop-newslist-photos.js-section--newslist#news
                h1.h2.page-title-mobile Пресс-центр / Фотоархив
                .dropdown.press-center_filter-dropdown.onlymobile
                    a(href="/photochoose.html").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink 
                        span.dropdown-toggle-press Все фотографии
                .dropdown.press-center_filter-dropdown.press-center_filter-dropdown-mobile
                    a(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink 
                        span.dropdown-toggle-text Все фотографии
                    .dropdown-menu(aria-labelledby="dropdownMenuLink")
                .press-center_rubrics-container.d-none.d-lg-flex.press-center_rubrics--photoarchive
                    ul.press-center_rubrics.press-center_rubrics--photo.fixed
                        li.current
                            a(href="/photo-archive.html",data-filter-show="all").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                | Все фотографии
                        li
                            a(href="/photos.html",data-filter-show="1").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 01 
                                p.link-text Порт «Бронка»
                        li
                            a(href="/photos.html",data-filter-show="zavod-izmeron").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 02 
                                p.link-text Завод «Измерон»
                        li
                            a(href="/photos.html",data-filter-show="3").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 03 
                                p.link-text Единый центр документов
                        li
                            a(href="/photos.html",data-filter-show="4").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 04 
                                p.link-text ПНК им.Кирова
                        li
                            a(href="/photos.html",data-filter-show="5").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 05 
                                p.link-text Бронка девелопмент
                        li
                            a(href="/photos.html",data-filter-show="6").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 06 
                                p.link-text Ресторанная группа
                        li
                            a(href="/photos.html",data-filter-show="7").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 07 
                                p.link-text Сеть бутиков
            .section.no-gutters.section--photoarchive-mobile
                include jade/layout/photos-mobile-slider
            .section.no-gutters.section--photoarchive
                .press-center_allphotos
                    .d-flex.flex-nowrap.photo_gallery-wrap
                        .photo_gallery
                                .js-carousel-photos
                                    .owl-carousel(data-responsive={0:{ items:1 }}, data-autoheight="false")
                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/portfull.jpg", alt="") 
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото
                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/port2full.jpg", alt="")
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото
                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/portmen.jpg", alt="")
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото

                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/portman.jpg", alt="") 
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото
                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/builderportfull.jpg", alt="")
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото
                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/ship2.jpg", alt="")
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото

                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/redport.jpg", alt="") 
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    .photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото
                                        .photo_gallery_item
                                            .photo_gallery_item_img
                                                img(src="img/content/portcar.jpg", alt="")
                                            .row.justify-content-between
                                                .col-lg
                                                    .photo_gallery_item_title.js-fullname
                                                        | Помещения Единого центра документов
                                                    button.photo_gallery_item_download
                                                        a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                                                            .photo_gallery_item_download_logo
                                                                .photo_gallery_item_download_stick
                                                                .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
                                                .col-lg-auto
                                                    a(href="#").arcticle-box_media_download.text-uppercase
                                                        +icon("jpg", "")
                                                        | Скачать фото




                                    .photo_gallery-controls.owl-controls
                                        .owl-buttons
                                            .owl-buttons_link.owl-buttons_link-prev
                                                +icon('arrow-left','')
                                            .owl-buttons_link.owl-buttons_link-next
                                                +icon('arrow-right','')

                        .photo_previews
                                .photo_previews_list.js-scroll-v
                                    .photo_previews_list_scrollbox
                                        .photo_previews_item.current
                                            img(src="img/content/brnk-pages5-prev.jpg", alt="")
                                        .photo_previews_item
                                            img(src="img/content/brnk-pages1-prev.jpg", alt="")
                                        .photo_previews_item
                                            img(src="img/content/portmen3-prev.jpg", alt="")
                                        .photo_previews_item
                                            img(src="img/content/portman-prev.jpg", alt="")

                                        .photo_previews_item
                                            img(src="img/content/brnk-pages4-prev.jpg", alt="")
                                        .photo_previews_item
                                            img(src="img/content/ship2-prev.jpg", alt="")
                                        .photo_previews_item
                                            img(src="img/content/redport-prev.jpg", alt="")
                                        .photo_previews_item
                                            img(src="img/content/portcar-prev.jpg", alt="")

                                    
                .photoarchive_button Выбрать другой актив
                

                             

        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts
