

//- photo-choose.jade
- var curPage = 'Выбор фото';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page.dark-preloader

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--desktop-newslist.section--mobile-newslist-photos.js-section--newslist#news
                h1.h2.page-title-mobile Пресс-центр / Фотоархив
                .dropdown.press-center_filter-dropdown.onlymobile
                    a(href="#",role="button").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink
                        span.dropdown-toggle-press Все фотографии

                .press-center_rubrics-container.d-lg-flex.press-center_rubrics--photoarchivechoose
                    ul.press-center_rubrics.press-center_rubrics--photochoose.fixed

                        li
                            a(href="/photos.html",data-filter-show="1").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 01
                                p.link-text Порт «Бронка»
                        li
                            a(href="/photos.html",data-filter-show="zavod-izmeron").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 02
                                p.link-text Завод «Измерон»
                        li
                            a(href="/photos.html",data-filter-show="3").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 03
                                p.link-text Единый центр документов
                        li
                            a(href="/photos.html",data-filter-show="4").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 04
                                p.link-text ПНК им.Кирова
                        li
                            a(href="/photos.html",data-filter-show="5").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 05
                                p.link-text Бронка девелопмент
                        li
                            a(href="/photos.html",data-filter-show="6").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 06
                                p.link-text Ресторанная группа
                        li
                            a(href="/photos.html",data-filter-show="7").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 07
                                p.link-text Сеть бутиков
            include jade/layout/scripts
