//- photos.jade
- var curPage = 'Фотоархив';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--desktop-newslist.js-section--newslist#news
                h1.h2.page-title-mobile Пресс-центр / Фотоархив
                .dropdown.press-center_filter-dropdown.onlymobile
                    a(href="/photochoose.html").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink 
                        span.dropdown-toggle-press Все фотографии
                .dropdown.press-center_filter-dropdown.press-center_filter-dropdown-mobile
                    a(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink 
                        span.dropdown-toggle-text Все фотографии
                    .dropdown-menu(aria-labelledby="dropdownMenuLink")
                .press-center_rubrics-container.d-none.d-lg-flex.press-center_rubrics--photoarchive
                    ul.press-center_rubrics.press-center_rubrics--photo.fixed
                        li.current
                            a(href="#",data-filter-show="all").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                | Все фотографии
                        li
                            a(href="/photos.html",data-filter-show="1").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 01 
                                p.link-text  Порт «Бронка»
                        li
                            a(href="/photos.html",data-filter-show="zavod-izmeron").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 02 
                                p.link-text Завод «Измерон»
                        li
                            a(href="/photos.html",data-filter-show="3").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 03 
                                p.link-text Единый центр документов
                        li
                            a(href="/photos.html",data-filter-show="4").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 04 
                                p.link-text ПНК им.Кирова
                        li
                            a(href="/photos.html",data-filter-show="5").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 05 
                                p.link-text Бронка девелопмент
                        li
                            a(href="/photos.html",data-filter-show="6").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 06 
                                p.link-text Ресторанная группа
                        li
                            a(href="/photos.html",data-filter-show="7").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 07 
                                p.link-text Сеть бутиков
            .section.no-gutters.section--allphotos-mobile
                .press-center_allphotos

                    .photos
                        .photos__wrapper.photos__wrapper--desktop
                            .photos__item.photos__item1
                                a(href="img/content/IMG_0873.jpg",data-fancybox="gallery" style="background: url('img/content/IMG_0873.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                    img(src="img/content/IMG_0873.jpg", alt="")
                            .photos__item.photos__item2
                                a(href="img/content/1.jpg",data-fancybox="gallery" style="background: url('img/content/1.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                    img(src="img/content/1.jpg", alt="")
                            .photos__item.photos__item3
                                a(href="img/content/portfull.jpg",data-fancybox="gallery" style="background: url('img/content/portfull.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portfull.jpg", alt="")
                            .photos__item.photos__item4
                                a(href="img/content/obvod.jpg",data-fancybox="gallery" style="background: url('img/content/obvod.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/obvod.jpg", alt="")
                            .photos__item.photos__item5
                                a(href="img/content/hall.jpg",data-fancybox="gallery" style="background: url('img/content/hall.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/hall.jpg", alt="")
                            .photos__item.photos__item6
                                a(href="img/content/chairs.jpg",data-fancybox="gallery" style="background: url('img/content/chairs.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/chairs.jpg", alt="")
                            .photos__item.photos__item7
                                a(href="img/content/port2full.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages1.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/port2full.jpg", alt="")
                            .photos__item.photos__item8
                                a(href="img/content/greeny.jpg",data-fancybox="gallery" style="background: url('img/content/green.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/greeny.jpg", alt="")
                            .photos__item.photos__item9
                                a(href="img/content/5.jpg",data-fancybox="gallery" style="background: url('img/content/5.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/5.jpg", alt="")
                            .photos__item.photos__item10
                                a(href="img/content/rest2.jpg",data-fancybox="gallery" style="background: url('img/content/rest2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/rest2.jpg", alt="")
                            .photos__item.photos__item11
                                a(href="img/content/clothes.jpg",data-fancybox="gallery" style="background: url('img/content/clothes.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/clothes.jpg", alt="")
                            .photos__item.photos__item12
                                a(href="img/content/ecd-girl.jpg",data-fancybox="gallery" style="background: url('img/content/ecd-girl.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/ecd-girl.jpg", alt="")
                            //- 13
                            .photos__item.photos__item13
                                a(href="img/content/brnk-pages2.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/brnk-pages2.jpg", alt="")
                            .photos__item.photos__item14
                                a(href="img/content/ecdtable.jpg",data-fancybox="gallery" style="background: url('img/content/ecdtable.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/ecdtable.jpg", alt="")
                            .photos__item.photos__item15
                                a(href="img/content/housefronty.jpg",data-fancybox="gallery" style="background: url('img/content/housefronty.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/housefronty.jpg", alt="")
                            .photos__item.photos__item16
                                a(href="img/content/buddah.jpg",data-fancybox="gallery" style="background: url('img/content/buddah.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/buddah.jpg", alt="")
                            .photos__item.photos__item17
                                a(href="img/content/canali.jpg",data-fancybox="gallery" style="background: url('img/content/canali.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/canali.jpg", alt="")
                            .photos__item.photos__item18
                                a(href="img/content/yellow.jpg",data-fancybox="gallery" style="background: url('img/content/yellow.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/yellow.jpg", alt="")
                            .photos__item.photos__item19
                                a(href="img/content/object3.jpg",data-fancybox="gallery" style="background: url('img/content/object3.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/object3.jpg", alt="")
                            .photos__item.photos__item20
                                a(href="img/content/swansfull.jpg",data-fancybox="gallery" style="background: url('img/content/swans.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/swansfull.jpg", alt="")
                            .photos__item.photos__item21
                                a(href="img/content/portmen.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages3.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portmen.jpg", alt="")
                            .photos__item.photos__item22
                                a(href="img/content/pillows.jpg",data-fancybox="gallery" style="background: url('img/content/pillows.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/pillows.jpg", alt="")
                            .photos__item.photos__item23
                                a(href="img/content/corners.jpg",data-fancybox="gallery" style="background: url('img/content/corners.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/corners.jpg", alt="")
                            //- 24      
                            .photos__item.photos__item24
                                a(href="img/content/housetop2.jpg",data-fancybox="gallery" style="background: url('img/content/housetop2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/housetop2.jpg", alt="")
                            .photos__item.photos__item25
                                a(href="img/content/whitecastlefull.jpg",data-fancybox="gallery" style="background: url('img/content/whitecastle.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/whitecastlefull.jpg", alt="")
                            .photos__item.photos__item26
                                a(href="img/content/green2.jpg",data-fancybox="gallery" style="background: url('img/content/green2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/green2.jpg", alt="")
                            
                            .photos__item.photos__item27
                                a(href="img/content/portman.jpg",data-fancybox="gallery" style="background: url('img/content/portman.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portman.jpg", alt="")
                            .photos__item.photos__item28
                                a(href="img/content/reststars.jpg",data-fancybox="gallery" style="background: url('img/content/reststars.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/reststars.jpg", alt="")

                            //- 29 
                            .photos__item.photos__item29
                                a(href="img/content/builderportfull.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages4.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/builderportfull.jpg", alt="")
                            .photos__item.photos__item30
                                a(href="img/content/yellowgreen.jpg",data-fancybox="gallery" style="background: url('img/content/yellowgreen.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/yellowgreen.jpg", alt="")
                            .photos__item.photos__item31
                                a(href="img/content/ship2.jpg",data-fancybox="gallery" style="background: url('img/content/ship2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/ship2.jpg", alt="")
                            .photos__item.photos__item32
                                a(href="img/content/peterhof.jpg",data-fancybox="gallery" style="background: url('img/content/peterhof.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/peterhof.jpg", alt="")
                            .photos__item.photos__item33
                                a(href="img/content/gazprom.jpg",data-fancybox="gallery" style="background: url('img/content/gazprom.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/gazprom.jpg", alt="")
                            .photos__item.photos__item34
                                a(href="img/content/redport.jpg",data-fancybox="gallery" style="background: url('img/content/redport.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/redport.jpg", alt="")
                            .photos__item.photos__item35
                                a(href="img/content/portcar.jpg",data-fancybox="gallery" style="background: url('img/content/portcar.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portcar.jpg", alt="")
        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts