//- sovet.jade
- var curPage = 'Совет директоров';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header

            .section.section--content.section--policy
                .arcticle-box_content
                    h1.policy-title Политика обработки персональных данных
                    .policy-title-desc    
                        p Приложение № 1 <br> УТВЕРЖДЕНО: <br>Приказом генерального <br> директора <br>ООО «Бронка Групп» <br>№ 6 от 13 марта &nbsp;2019 г.

                h2.policy-title2 ПОЛИТИКА
                h2.policy-title2 ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                h2.policy-title2  1. Общие положения
                
                
                p.policy-text 1.1. Настоящая политика обработки персональных данных (далее - Политика) разработана в соответствии со ст. 18.1 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»), определяет принципы и основные положения в отношении обработки персональных данных, а также содержит сведения о реализуемых требованиях к защите персональных данных ООО «Бронка Групп» (далее - Оператор).
                
                
                p.policy-text 1.2. Политика разработана в целях реализации требований законодательства в области персональных данных и направлена на обеспечение защиты прав и свобод физических лиц, персональные данные которых обрабатывает Оператор (далее - Субъект персональных данных).
                
                
                p.policy-text 1.3. Настоящая Политика применима ко всем случаям обработки персональных данных Оператором.
                
                
                p.policy-text 1.4. В целях реализации Политики Оператором разрабатываются соответствующие локальные нормативные акты, регламентирующие порядок обработки персональных данных.
                
                
                p.policy-text 1.5. Для целей настоящей Политики используются понятия, предусмотренные ФЗ «О персональных данных», в том числе:
                
                
                p.policy-text -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; персональные данные – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (Субъекту персональных данных);
                
                
                p.policy-text -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; оператор персональных данных (Оператор) – юридическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
                
                
                p.policy-text -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; обработка персональных данных – любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования. Обработка персональных данных включает в себя, в том числе: сбор; запись; систематизацию; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передачу (распространение, предоставление, доступ); обезличивание; блокирование; удаление; уничтожение;
                
                
                p.policy-text -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; обработка персональных данных по поручению – обработка персональных данных на основании договоров, предусматривающих поручение обработки персональных данных в соответствии с ч. 3 ст. 6 ФЗ «О персональных данных».
                
                
                p.policy-text 1.6. Основные права Субъекта персональных данных:
                
                
                p.policy-text - получать информацию, касающуюся обработки его персональных данных;
                
                
                p.policy-text - уточнять, блокировать или уничтожать персональные данные в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
                
                
                p.policy-text - отзывать согласие на обработку персональных данных;
                
                
                p.policy-text - защищать свои права и законные интересы, принимать предусмотренные законодательством меры;
                
                
                p.policy-text - обжаловать действий или бездействия Оператора в уполномоченный орган по защите прав субъектов персональных данных или в суд.
                
                
                p.policy-text 1.7 Основные обязанности Оператора персональных данных:
                
                
                p.policy-text - соблюдать законность целей и способов обработки персональных данных;
                
                
                p.policy-text - ограничивать обработку персональных данных достижением определенных целей;
                
                
                p.policy-text - обрабатывать только персональные данные, которые отвечают целям обработки;
                
                
                p.policy-text - не допускать объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;
                
                
                p.policy-text - хранить персональные данные в форме, позволяющей определить субъекта персональных данных, не дольше, чем того требуют цели обработки;
                
                
                p.policy-text - обеспечить точность персональных данных, их достаточности, а в необходимых случаях и актуальности по отношению к целям обработки;
                
                
                p.policy-text - уничтожать персональные данные по истечению срока хранения;
                
                
                p.policy-text - обеспечивать конфиденциальность персональных данных;
                
                
                p.policy-text - принимать необходимые меры для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий;
                
                
                p.policy-text - по запросу субъекта персональных данных сообщить о наличии персональных данных, предоставить возможность ознакомления с обрабатываемыми персональными данными, а также предоставлять информацию, касающуюся обработки персональных данных субъекта.
                
                
                p.policy-text 1.8. Основные принципы обработки персональных данных:
                
                
                p.policy-text - соблюдение законности целей и способов обработки персональных данных;
                
                
                p.policy-text - обработка персональных данных ограничивается достижением конкретных, заранее определенных целей;
                
                
                p.policy-text - обработке подлежат только персональные данные, которые отвечают целям обработки;
                
                
                p.policy-text - содержание и объем обрабатываемых персональных данных, а также способы их обработки должны соответствовать целям обработки. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки;
                
                
                p.policy-text - не допускается обработка персональных данных, несовместимая с целями обработки;
                
                
                p.policy-text - не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;
                
                
                p.policy-text - хранение персональных данных осуществляется в форме, позволяющей определить Субъекта персональных данных, не дольше, чем того требуют цели обработки;
                
                
                p.policy-text - обеспечение точности персональных данных, их достаточности, а в необходимых случаях и актуальности по отношению к целям обработки;
                
                
                p.policy-text - уничтожение персональных данных по истечении срока хранения;
                
                
                p.policy-text - обеспечение конфиденциальности и защиты персональных данных.
                
                
                
                h2.policy-title2 2. Правовые основы обработки персональных данных
                
                
                p.policy-text 2.1. Обработка персональных данных осуществляется Оператором на законной и справедливой основе. Правовыми основаниями для обработки являются:
                
                
                p.policy-text - Конституция Российской Федерации;
                
                
                p.policy-text -&nbsp;Трудовой кодекс Российской Федерации;
                
                
                p.policy-text -&nbsp;Гражданский кодекс Российской Федерации;
                
                
                p.policy-text - Налоговый кодекс Российской Федерации;
                
                
                p.policy-text - Федеральный Закон от 22.10.2004 г.&nbsp; №125-ФЗ «Об архивном деле в Российской Федерации»;
                
                
                p.policy-text - Федеральный закон от 08.02.1998 N 14-ФЗ «Об обществах с ограниченной ответственностью»;
                
                
                p.policy-text - Федеральный закон от 26.12.1995 N 208-ФЗ «Об акционерных обществах»
                
                
                p.policy-text - Федеральный закон от 29.11.2007 г. № 282-ФЗ «Об официальном статистическом учете и системе государственной статистики в Российской Федерации»;
                
                
                p.policy-text - Федеральный закон от 01.04.1996 г. № 27-ФЗ «Об индивидуальном (персонифицированном) учете в системе обязательного пенсионного страхования»;
                
                
                p.policy-text - Федеральный закон от 06.12.2011 N 402-ФЗ «О бухгалтерском учете»;
                
                
                p.policy-text -&nbsp;Постановление Правительства Российской Федерации от 15 сентября 2008 г. № 687 «Об утверждении Положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации»;
                
                
                p.policy-text -&nbsp;Постановление Правительства России от 01.11.2012 года №1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»;
                
                
                p.policy-text -&nbsp;Приказ Федеральной службы по техническому и экспортному контролю от 18.02.2013 года №21 «Об утверждении Состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных»;
                
                
                p.policy-text - Постановление Правительства РФ от 16.04.2003 г. № 225 «О трудовых книжках»;
                
                
                p.policy-text - Постановление Правительства РФ от 27.11.2006 N 719 «Об утверждении Положения о воинском учете»;
                
                
                p.policy-text - Постановление Госкомстата РФ от 5 января 2004 г. № 1 «Об утверждении унифицированных форм первичной учетной документации по учету труда и его оплаты».
                
                
                p.policy-text - Устав Оператора;
                
                
                p.policy-text - Локальные нормативные акты Оператора;
                
                
                p.policy-text - Трудовые договоры;
                
                
                p.policy-text - Договоры, предусматривающие поручение обработки персональных данных Оператору;
                
                
                p.policy-text - Согласия на обработку персональных данных.
                
                
                
                h2.policy-title2 3. Субъекты персональных данных, состав обрабатываемых персональных данных
                
                
                p.policy-text 3.1. Оператор осуществляет обработку персональных данных следующих категорий Субъектов персональных данных:
                
                
                p.policy-text - Работники Оператора:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, являющиеся работниками Оператора;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, ранее состоявшие в трудовых отношениях с Оператором;
                
                
                p.policy-text - Соискатели Оператора:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, являющиеся кандидатами на вакантные должности Оператора;
                
                
                p.policy-text - Иные субъекты:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, являющиеся руководителями, представителями и работниками контрагентов Оператора;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, обработка персональных данных, которых необходима для выполнения обязанностей, реализации прав и законных интересов Оператора или третьих лиц;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, выразившие согласие на обработку персональных данных;
                
                
                p.policy-text - Субъекты, персональные данных которых обрабатываются в связи с оказанием Оператором услуг:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, которые являются работниками третьих лиц и с согласия которых обработка персональных данных поручена Оператору;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, ранее состоявшие в трудовых отношениях с третьими лицами и с согласия которых обработка персональных данных поручена Оператору;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, являющиеся кандидатами на вакантные должности третьих лиц и с согласия которых обработка персональных данных поручена Оператору;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, являющиеся руководителями, представителями и работниками контрагентов третьих лиц, обработка персональных данных которых поручена Оператору;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, выразившие согласие на поручение обработки персональных данных Оператору;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, обработка персональных данных, которых необходима для выполнения обязанностей, реализации прав и законных интересов третьих лиц;
                
                
                p.policy-text - Субъекты, персональные данных которых обрабатываются в связи с предоставлением помещений в аренду:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, являющиеся работниками (руководителями, представителями) контрагентов, арендующих помещения у Оператора, обработка персональных данных которых поручена Оператору
                
                
                p.policy-text - Субъекты, персональные данных которых включены в общедоступные источники:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - физические лица, персональные данные которых включены в общедоступные источники, в том числе являющиеся работниками Оператора.
                
                
                p.policy-text 3.2. Состав обрабатываемых персональных данных по каждой категории Субъектов персональных данных в зависимости от цели обработки, определен в перечне обрабатываемых персональных данных, утвержденном Оператором.
                
                
                
                h2.policy-title2 4. &nbsp;Цели обработки персональных данных
                
                
                p.policy-text 4.1. Обработка персональных данных осуществляется в целях:
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - выполнения функций и обязанностей, возложенных законодательством;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - реализации прав и законных интересов Оператора в рамках осуществления деятельности;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - ведения кадрового, бухгалтерского и налогового учёта;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - открытия счета и выпуска банковской карты для перечисления заработной платы и иных выплат работникам;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - обеспечения пропускного и внутриобъектового режима;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - направления работников для прохождения предварительных и периодических медицинских осмотров;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - получения образования работниками;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - поиска работников и принятия решения о приеме на работу;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - заключения и исполнения договоров;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - оказания Оператором услуг третьим лицам – контрагентам, в том числе по кадровому обслуживанию, по ведению бухгалтерского и налогового учета, по правовому сопровождению, услуг в области экономической безопасности;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - выполнения функций управляющей компании, в соответствии с договором о передаче полномочий единоличного исполнительного органа;
                
                
                p.policy-text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - информационное обеспечение деятельности.
                
                
                p.policy-text 4.2. Цели обработки персональных данных определены исходя из осуществляемой деятельности и конкретных бизнес-процессов Оператора.
                
                
                p.policy-text 4.3. Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки. Обработка персональных данных, несовместимая с целями сбора персональных данных не допускается.
                
                h2.policy-title2 5. Организация обработки персональных данных
                
                
                p.policy-text 5.1. Обработка Персональных данных Оператором осуществляется с согласия Субъекта персональных данных, за исключением случаев, предусмотренных законодательством, когда такое согласие не требуется.
                
                
                p.policy-text 5.2. Оператор обрабатывает персональные данные как с использованием средств автоматизации (с помощью средств вычислительной техники), так и без использования таких средств.
                
                
                p.policy-text 5.3. При обработке персональных данных обеспечиваются их точность, достаточность, а при необходимости - и актуальность по отношению к целям обработки. Оператор принимает необходимые меры по удалению или уточнению неполных, или неточных персональных данных.
                
                
                p.policy-text 5.4. Принятие на основании исключительно автоматизированной обработки персональных данных решений, порождающих юридические последствия в отношении Субъекта персональных данных или иным образом затрагивающих его права и законные интересы, не осуществляется.
                
                
                p.policy-text 5.5. Доступ к обрабатываемым персональным данным предоставляется только работникам Оператора, допущенным к обработке персональных данных в соответствии с локальными нормативными актами Оператора, исключительно для выполнения должностных обязанностей.
                
                
                p.policy-text 5.6. Оператор обеспечивает конфиденциальность обрабатываемых персональных данных. Персональные данные не раскрываются третьим лицам и не распространяются иным образом без согласия Субъекта персональных данных, если иное не предусмотрено законодательством.
                
                
                p.policy-text 5.7. Оператор вправе поручить Обработку персональных данных третьим лицам, на основании заключаемого с этим лицом договора, обязательным условием которого является соблюдение принципов и правил обработки персональных данных, предусмотренных ФЗ «О персональных данных». Оператор несет ответственность перед Субъектом персональных данных за действия лиц, которым Оператор поручает обработку персональных данных.
                
                
                p.policy-text 5.8. Передача персональных данных третьим лицам осуществляется исключительно для достижения целей обработки, а также в случаях, предусмотренных законодательством РФ. Передача персональных данных уполномоченным государственным органам осуществляется по основаниям предусмотренным законодательством.
                
                
                p.policy-text 5.9. Оператор не осуществляет трансграничную передачу персональных данных.
                
                
                p.policy-text 5.10. В случае отзыва субъектом персональных данных согласия на их обработку она может быть продолжена при наличии оснований, предусмотренных в п. 2—11 ч. 1 ст. 6, ч. 2 ст. 10 и ч. 2 ст. 11 ФЗ «О персональных данных».
                
                h2.policy-title2 6. Сроки обработки и хранения персональных данных
                
                
                p.policy-text 6.1. Обработка персональных данных осуществляется в течение сроков, необходимых для достижения целей обработки, а также сроков, предусмотренных договором или согласием Субъекта персональных данных на обработку его персональных данных.
                
                
                p.policy-text 6.2. Хранение персональных данных осуществляется в течение сроков, предусмотренных договором или согласием Субъекта персональных данных на обработку его персональных данных.
                
                
                p.policy-text 6.3. Сроки хранения персональных данных определяются локальными нормативными актами Оператора, с учетом сроков хранения документов, предусмотренных законодательством.
                
                
                p.policy-text 6.4. Базы данных, содержащие персональные данные, обрабатываемые Оператором, находятся на территории РФ.
                
                h2.policy-title2 7. Обеспечение безопасности персональных данных
                
                
                p.policy-text 7.1. Безопасность персональных данных, обрабатываемых Оператором, обеспечивается реализацией правовых, организационных и технических мер, в соответствии с законодательством в области персональных данных.
                
                
                p.policy-text Оператор самостоятельно определяет состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.
                
                
                p.policy-text 7.2. Основными мерами защиты персональных данных, реализуемыми Оператором, являются:
                
                
                p.policy-text - назначение ответственного за организацию обработки персональных данных;
                
                
                p.policy-text - обеспечение неограниченного доступа к Политике;
                
                
                p.policy-text - утверждение локальных нормативных актов, регламентирующие порядок обработки персональных данных;
                
                
                p.policy-text - ознакомление работников с положениями законодательства о персональных данных, а также локальными нормативными актами;
                
                
                p.policy-text - осуществление допуска работников к персональным данным только для выполнения должностных обязанностей;
                
                
                p.policy-text - установление правил доступа к персональным данным, обрабатываемым в информационных системах, а также обеспечение регистрации и учёта всех действий с ними;
                
                
                p.policy-text - оценка вреда, который может быть причинен субъектам персональных данных в случае нарушения ФЗ «О персональных данных»;
                
                
                p.policy-text - определение угроз безопасности персональных данных при их обработке в информационной системе Оператора;
                
                
                p.policy-text - применение организационных и технических мер и использование средств защиты информации, необходимых для обеспечения установленного уровня защищенности персональных данных;
                
                
                p.policy-text - осуществление обнаружения фактов несанкционированного доступа к персональным данным и принятие меры по реагированию, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
                
                
                p.policy-text - оценка эффективности принимаемых мер по обеспечению безопасности персональных данных;
                
                
                p.policy-text - осуществление систематического внутреннего контроля соответствия обработки персональных данных ФЗ «О персональных данных», принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных и локальным нормативным актам, включающий контроль за принимаемыми мерами по обеспечению безопасности персональных данных и уровня их защищенности при обработке в информационной системе Оператора;
                
                
                p.policy-text - применение иных мер, предусмотренных законодательством в области персональных данных.
                
                
                p.policy-text 7.3. Конкретные меры по обеспечению безопасности персональных данных устанавливаются в соответствии с локальными нормативными актами Оператора, регламентирующими порядок обработки персональных данных.
                
                h2.policy-title2 8. Рассмотрение запросов субъектов персональных данных
                
                
                p.policy-text 8.1 Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору с запросом. Запрос должен содержать номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе, сведения, подтверждающие участие субъекта персональных данных в отношениях с оператором (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных оператором, подпись субъекта персональных данных или его представителя.
                
                
                p.policy-text 8.2. Оператор отвечает на обращения Субъектов персональных данных или их законных представителей в течение сроков, установленных действующим законодательством.
                
                p.policy-text Заключительные положения
                
                
                p.policy-text 9.1. Контроль за соблюдением требований законодательства, а также локальных нормативных актов, регламентирующих порядок обработки персональных данных, осуществляется лицом ответственным за организацию обработки персональных данных.
                
                
                p.policy-text 9.2. Лица, виновные в нарушении требований законодательства и локальных нормативных актов Оператора в области персональных данных, несут ответственность, предусмотренную законодательством.
            

            
            .section.section--footer.section--footer--inner
                include jade/layout/footer-inner
        include jade/layout/scripts