//- press-center.jade
- var curPage = 'Пресс-Центр';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper.wrapper-white
            include jade/layout/header
            include jade/layout/press-center-slider
            .section.section--press-mobile  
                include jade/layout/mobile-preview

            .section.section--press
                h1.h2.page-title Пресс-центр
                .row.press-center_blocks
                    
                    .col-12.col-sm-auto.col-lg-auto.press-center_blocks_col.order-2.order-sm-1
                        .press-center_block(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .press-center_block_preview
                                .press-center_block_preview_summary.press-center_block_preview_summary--second
                                    span
                                        | Фотоархив
                                .press-center_block_preview_img(style="background-image: url('img/content/block1.jpg')")
                                a(href="/photo-archive.html").press-center_block_preview_link
                        .press-center_block(data-aos="fade-up",data-aos-delay="200",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .press-center_block_preview
                                .press-center_block_preview_summary.press-center_block_preview_summary--second
                                    span
                                        | Видеобанк
                                .press-center_block_preview_img(style="background-image: url('img/content/block2.png')")
                                a(href="/videos.html").press-center_block_preview_link
                    .col-12.col-sm.col-lg.press-center_blocks_col.order-1.order-sm-2
                        .press-center_block.press-center_block--height2(data-aos="fade-up",data-aos-delay="0",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .press-center_block_preview.js-carousel
                                
                                .press-center_block_carausel.owl-carousel(data-responsive={0:{ items:1 }},data-autoplay="true",data-autoplaytimeout="3000",data-loop="true")
                                    .press-center_block_carausel_item
                                        .press-center_block_carausel_item_img(style="background-image: url('img/content/presscenter1.jpg')")
                                        .press-center_block_preview_summary.press-center_block_preview_summary--mobile.js-fullname
                                            | «Бронка групп» открыла в Петербурге эксклюзивный бутик итальянского бренда Rare Gramz
                                        a(href="/article.html").press-center_block_carausel_btn
                                    .press-center_block_carausel_item
                                        .press-center_block_carausel_item_img(style="background-image: url('img/content/presscenter2.jpg')")
                                        .press-center_block_preview_summary.press-center_block_preview_summary--mobile.js-fullname
                                            | Порт «Бронка» стал единственным портом в России, способным осуществлять перевалку крупногабаритного груза массой 500 тонн
                                        a(href="/article.html").press-center_block_carausel_btn
                                    .press-center_block_carausel_item
                                        .press-center_block_carausel_item_img.press-center_block_carausel_item_img--house(style="background-image: url('img/content/presscenter3.jpg')")
                                        .press-center_block_preview_summary.press-center_block_preview_summary--mobile.js-fullname
                                            | В БЦ Bronka Space на Синопской набережной дополнительно появится более одинадцати тысяч квадратных метров
                                        a(href="/article.html").press-center_block_carausel_btn
                                
                                .press-center_block_controls.press-center_block_controls--mobile.owl-controls
                                    .owl-buttons
                                        .owl-buttons_link.owl-buttons_link-prev
                                            +icon('arrow-left','')
                                        .owl-buttons_link.owl-buttons_link-next
                                            +icon('arrow-right','')
                                a(href="#").press-center_block_preview_btn.press-center_block_preview_btn-more
                                    | Читать
                                    span.arrow
                                        +icon("arrow-right", "")


            
.section.section--newslist.js-section--newslist#news
                .row
                    .col-12.d-lg-none
                        .dropdown.press-center_filter-dropdown
                            a(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false").btn.btn-block.dropdown-toggle#dropdownMenuLink
                                span
                                    | Все новости
                            .dropdown-menu(aria-labelledby="dropdownMenuLink")
                    .col-12.d-none.d-lg-block
                        .press-center_rubrics-container.d-none.d-lg-flex
                            ul.press-center_rubrics.fixed
                                li
                                    a(href="#news",data-filter-show="all").link.js-filter-news-btn
                                        | Все новости
                                li
                                    a(href="#news",data-filter-show="1").link.js-filter-news-btn
                                        | Порт «Бронка»
                                li
                                    a(href="#news",data-filter-show="zavod-izmeron").link.js-filter-news-btn
                                        | Завод «Измерон»
                                li
                                    a(href="#news",data-filter-show="3").link.js-filter-news-btn
                                        | Единый центр документов
                                li
                                    a(href="#news",data-filter-show="4").link.js-filter-news-btn
                                        | ПНК им.Кирова
                                li
                                    a(href="#news",data-filter-show="5").link.js-filter-news-btn
                                        | Бронка девелопмент
                                li
                                    a(href="#news",data-filter-show="6").link.js-filter-news-btn
                                        | Ресторанная группа
                                li
                                    a(href="#news",data-filter-show="7").link.js-filter-news-btn
                                        | Сеть бутиков
                <!-- изменен -->
                //- Порт 
                .press-center_news_list.row.justify-content-between.press-center_news_list--press
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news11.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» приступила к новому этапу строительства клубного дома Family Loft на Б. Разночинной, д. 19, лит. А
                                span.press-center_news_item_date
                                    | 30 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news22.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» открыла в Петербурге эксклюзивный бутик итальянского бренда Rare Gramz
                                span.press-center_news_item_date
                                    | 22 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news33.jpg')")
                            .press-center_news_item_summary
                                | Порт «Бронка» стал единственным портом в России, способным осуществлять перевалку крупногабаритного груза массой 500 тонн
                                span.press-center_news_item_date
                                    | 14 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news44.jpg')")
                            .press-center_news_item_summary
                                | «Измерон» представил на Петербургском Международном Газовом Форуме образцы новейшего оборудования для нефтегазовой отрасли
                                span.press-center_news_item_date
                                    | 08 Октября, 2019
                            a(href="/article.html").press-center_news_item_link


                    .col-sm.filter-news-all.js-filter-news-1
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br1.jpg')")
                            .press-center_news_item_summary
                                | Порт «Бронка» стал единственным портом в России, способным осуществлять перевалку крупногабаритного груза массой 500 тонн
                                span.press-center_news_item_date
                                    | 14 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-1
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br2.jpg')")
                            .press-center_news_item_summary
                                | В ГУМРФ им. адмирала С.О. Макарова открылась новая учебная аудитория современной портовой инфраструктуры России
                                span.press-center_news_item_date
                                    | 02 Сентября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-1
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br3.jpg')")
                            .press-center_news_item_summary
                                | Подписано трехстороннее соглашение о реализации проекта по созданию транспортно-логистического центра «Бронка»
                                span.press-center_news_item_date
                                    | 06 Июня, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-1
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br4.jpg')")
                            .press-center_news_item_summary
                                | В порту «Бронка» продемонстрирована инновационная технология перегрузки насыпных и навалочных грузов
                                span.press-center_news_item_date
                                    | 26 Апреля, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-1.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости порта «Бронка»
                            a(href="/news.html").press-center_news_item_link

                    //- Завод
                    .col-sm.filter-news-all.js-filter-news-zavod-izmeron 
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-izm1.jpg')")
                            .press-center_news_item_summary
                                | «Измерон» представил на Петербургском Международном Газовом Форуме образцы новейшего оборудования для нефтегазовой отрасли
                                span.press-center_news_item_date
                                    | 08 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-zavod-izmeron 
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-izm2.jpg')")
                            .press-center_news_item_summary
                                | Завод «Измерон» завершил демонтажные работы на второй площадке в Кировском районе
                                span.press-center_news_item_date
                                    | 18 Сентября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-zavod-izmeron 
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-izm3.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» увеличивает производственные мощности завода «Измерон»
                                span.press-center_news_item_date
                                    | 22 Июля, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-zavod-izmeron 
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/1.jpg')")
                            .press-center_news_item_summary
                                | Завод «Измерон» продемонстрировал собственные разработки внутрискважинного оборудования на VIII Международном газовом форуме
                                span.press-center_news_item_date
                                    | 05 Октября, 2018
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-zavod-izmeron.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости завода «Измерон»
                            a(href="/news.html").press-center_news_item_link

                    //- ЕЦД 
                    .col-sm.filter-news-all.js-filter-news-3
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-ecd1.jpg')")
                            .press-center_news_item_summary
                                | За 10 лет Единый центр документов посетили 15 млн человек
                                span.press-center_news_item_date
                                    | 15 Июля, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-3
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-ecd2.jpg')")
                            .press-center_news_item_summary
                                | В ЕЦД возобновила работу станция техосмотра 
                                span.press-center_news_item_date
                                    | 21 Марта, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-3
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-ecd3.jpg')")
                            .press-center_news_item_summary
                                | У метро «Комендантский проспект» открылось Приморское отделение Единого центра документов
                                span.press-center_news_item_date
                                    | 20 Марта, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-3
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-ecd4.jpg')")
                            .press-center_news_item_summary
                                | Полный пакет документов для РВП и ВНЖ для несовершеннолетних можно оформить в ЕЦД
                                span.press-center_news_item_date
                                    | 13 Марта, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-3.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости Единого Центра Документов
                            a(href="/news.html").press-center_news_item_link

                    //- ПНК 
                    .col-sm.filter-news-all.js-filter-news-4
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-pnk1.jpg')")
                            .press-center_news_item_summary
                                | Прядильно-ниточный комбинат им. С.М. Кирова празднует 185-летний юбилей
                                span.press-center_news_item_date
                                    | 25 Октября, 2018
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-4
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/greeny.jpg')")
                            .press-center_news_item_summary
                                | Прядильно-ниточный комбинат им. С.М. Кирова принял участие в Russian Fashion Brands в Казахстане
                                span.press-center_news_item_date
                                    | 26 Октября, 2018
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-4
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-pnk3.jpg')")
                            .press-center_news_item_summary
                                | На выставке "Формула Рукоделия" Прядильно-ниточный комбинат им. С.М. Кирова представил полную палитру ниток Мулине
                                span.press-center_news_item_date
                                    | 15 Июля, 2018
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-4
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('')")
                            .press-center_news_item_summary
                                | 
                                span.press-center_news_item_date
                                    | 
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-4.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости ПНК им.Кирова
                            a(href="/news.html").press-center_news_item_link

                    //- БД 
                    .col-sm.filter-news-all.js-filter-news-5
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-dev1.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» приступила к новому этапу строительства клубного дома Family Loft на Б. Разночинной, д. 19, лит. А
                                span.press-center_news_item_date
                                    | 30 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-5
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-dev2.jpg')")
                            .press-center_news_item_summary
                                | В БЦ Bronka Space на Синопской набережной дополнительно появится более одиннадцати тысяч квадратных метров
                                span.press-center_news_item_date
                                    | 30 Сентября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-5
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-dev3.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Девелопмент» поддержала концепцию знакового проекта жилого дома на набережной Фонтанки, 130а
                                span.press-center_news_item_date
                                    | 25 Июля, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-5
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-dev4.jpg')")
                            .press-center_news_item_summary
                                | Проект «Бронка Девелопмент» стал финалистом Федеральной премии Urban Awards 2019
                                span.press-center_news_item_date
                                    | 28 Июня, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-5.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости Бронка девелопмент
                            a(href="/news.html").press-center_news_item_link

                    //- РГ 
                    .col-sm.filter-news-all.js-filter-news-6
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-rest1.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» совместно с ФК «Зенит» открывает зону гостеприимства Diamond Club на «Газпром Арене»
                                span.press-center_news_item_date
                                    | 08 Июня, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-6
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-rest2.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» открывает второе заведение ресторанной сети «Фаршировка»
                                span.press-center_news_item_date
                                    | 01 Апреля, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.col-lg.filter-news-all.js-filter-news-6
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-rest3.jpg')")
                            .press-center_news_item_summary
                                | На Рубинштейна открывается ресторан Hunt
                                span.press-center_news_item_date
                                    | 26 Марта, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.col-lg.filter-news-all.js-filter-news-6
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-rest4.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» открывает бар «Архитектор» на улице Рубинштейна
                                span.press-center_news_item_date
                                    | 17 Октября, 2018
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-6.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости Ресторанной группы
                            a(href="/news.html").press-center_news_item_link

                    //- СБ 
                    .col-sm.filter-news-all.js-filter-news-7
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-sb1.jpg')")
                            .press-center_news_item_summary
                                | «Бронка Групп» открыла в Петербурге эксклюзивный бутик итальянского бренда Rare Gramz
                                span.press-center_news_item_date
                                    | 22 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-7
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-sb2.jpg')")
                            .press-center_news_item_summary
                                | Эксклюзивному монобутику Kiton в Санкт-Петербурге исполняется 10 лет
                                span.press-center_news_item_date
                                    | 13 Апреля, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.col-lg.filter-news-all.js-filter-news-7
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-sb3.jpg')")
                            .press-center_news_item_summary
                                | Монобутик Frette в Санкт-Петербурге отмечает 10-летие
                                span.press-center_news_item_date
                                    | 14 Ноября, 2018
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.col-lg.filter-news-all.js-filter-news-7
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('')")
                            .press-center_news_item_summary
                                | 
                                span.press-center_news_item_date
                                    | 
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-7.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Новости Сети бутиков
                            a(href="/news.html").press-center_news_item_link


                    //- all
                    .col-sm.filter-news-all.js-filter-news-all.press-center-filter-button480
                        .press-center_news_item
                            .press-center_news_item_more
                                .press-center_news_item_more_text
                                    | Все новости
                            a(href="/news.html").press-center_news_item_link
                    
            .section.section--contacts-mobile.js-block-videos
                //include jade/layout/contacts-mobile
            .section.no-gutters
                .row.no-gutters
                    .col-12.col-lg-8.video-box.js-block-videos
                        <!-- изменено -->

                        <!-- PHOTO -->
                        //.video-box_preview.video-box_preview_press(style="background-image: url(img/content/bronkameet.jpg);")

                        <!-- YOUTUBE -->
                        .video-box_preview.video-box_preview_press.js-video-box(data-video="nO7jjpWEt8k" data-poster="img/content/bronkameet.jpg")
                            .thumbnail_container
                            .player
                            button.play
                                p.play-text Смотреть видео
                                span
                                    +icon("play", "")


                    .col-12.col-lg-4.contacts-infobox
                        .contacts-mobile
                            h3.contacts-mobile-title Контакты для СМИ
                            .contacts-mobile-desc
                                a.contacts-mobile-desc-phone(href="tel:88123201000") +7 812 320 1000
                                a.contacts-mobile-desc-email(href="mailto:pr@bronkagroup.ru") pr@bronkagroup.ru
                            .contacts-mobile-socials
                                a.contacts-mobile-link(href="https://www.facebook.com/BronkaGroup/") facebook
                                a.contacts-mobile-link(href="https://www.instagram.com/bronkagroup/") instagram
                                a.contacts-mobile-link(href="https://www.youtube.com/channel/UCXgiw5ZROfx-K_snVW4GlhQ") youtube
                            .contacts-mobile-address 191124, Россия, Санкт-Петербург, ул.Красного Текстильщика, 17
                            ul.contacts-mobile-docs
                                li.contacts-mobile-docs-item
                                    a.contacts-mobile-docs-link(href="#")
                                        +icon("doc", "contacts-mobile-docs-icon")
                                        p.contacts-mobile-docs-text Информация о компании
                                li.contacts-mobile-docs-item
                                    a.contacts-mobile-docs-link(href="#")
                                        +icon("jpg", "contacts-mobile-docs-icon")
                                        p.contacts-mobile-docs-text Логотип

                        .contacts-infobox_content
                            h2.text-medium
                                | Контакты для СМИ
                            .row
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item.contacts-infobox_item--phone
                                            a(href="tel:88123201000")
                                                +icon("phone", "")
                                                | +7 (812) 320 1000
                                        .contacts-infobox_item
                                            a(href="mailto:pr@bronkagroup.ru")
                                                +icon("mail", "")
                                                | pr@bronkagroup.ru
                                        .contacts-infobox_item
                                            +icon("point", "")
                                            | 191124, Россия, Санкт-Петербург,  ул.&nbsp;Красного&nbsp;Текстильщика,&nbsp;17
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item.contacts-infobox_item--docs
                                            a(href="#").text-uppercase
                                                +icon("doc", "")
                                                | Информация о компании
                                        .contacts-infobox_item.contacts-infobox_item--docs
                                            a(href="#").text-uppercase
                                                +icon("jpg", "")
                                                | Логотип
                                    .row
                                        .col-6
                                            .contacts-infobox_item_social
                                                a(href="https://www.youtube.com/channel/UCXgiw5ZROfx-K_snVW4GlhQ" target="_blank").text-uppercase
                                                    +icon("youtube", "")
                                                    | youtube    
                                        .col-6
                                            .contacts-infobox_item_social
                                                a(href="#").text-uppercase
                                                    +icon("facebook", "")
                                                    | facebook
                                        .col-6
                                            .contacts-infobox_item_social
                                                a(href="#").text-uppercase
                                                    +icon("instagram", "")
                                                    | instagram


        .section.section--footer.section--footer--inner
            include jade/layout/footer-inner
        include jade/layout/scripts