//- sovet.jade
- var curPage = 'Совет директоров';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header

            .section.no-gutters
                .people_title-field
                        .people_title(id="people-title")
                            | Руководство
                .row.no-gutters
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/1.jpg")
                            .people_item_position
                                | Генеральный директор
                            .people_item_name
                                | Муров Никита Андреевич
                            .people_item_company
                                | ООО "Бронка Групп"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/2.jpg")
                            .people_item_position
                                | Генеральный директор
                            .people_item_name
                                | Негодов Николай Дмитриевич
                            .people_item_company
                                | ООО "Феникс"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/3.jpg")
                            .people_item_position
                                | Первый заместитель генерального директора
                            .people_item_name
                                | Альтов Павел Семенович
                            .people_item_company
                                | ООО "Бронка Групп"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/4.jpg")
                            .people_item_position
                                | Заместитель генерального директора
                            .people_item_name
                                | Аброян Антон Измайлович
                            .people_item_company
                                | ООО "Бронка Групп"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/5.jpg")
                            .people_item_position
                                | Заместитель генерального директора по экономике и финансам
                            .people_item_name
                                | Мирон Наталия Викторовна
                            .people_item_company
                                | ООО "Бронка Групп"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/6.jpg")
                            .people_item_position
                                | Заместитель генерального директора по правовым вопросам
                            .people_item_name
                                | Желнина Наталья Александровна
                            .people_item_company
                                | ООО "Бронка Групп"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/7.jpg")
                            .people_item_position
                                | Заместитель генерального директора
                            .people_item_name
                                | Ким Евгений Никифорович
                            .people_item_company
                                | ООО "Бронка Групп"
                            
                    .col-12.col-sm-3
                        .people_item
                            .people_item_avatar
                                img(src="img/people/8.jpg")
                            .people_item_position
                                | Генеральный директор
                            .people_item_name
                                | Кострыкин Дмитрий Сергеевич
                            .people_item_company
                                | ООО "Единый центр документов"
                            

            
            .section.section--footer.section--footer--inner
                include jade/layout/footer-inner
        include jade/layout/scripts