//- videos.jade
- var curPage = 'Видеобанк';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page


        #preloader

        .wrapper
            include jade/layout/header

            .section.no-gutters.section--videos
                h1.videos_title Пресс-центр / Видеобанк
                .row.no-gutters
                    .col-12.col-lg-4.order-2.order-lg-1
                        .photoarchive_content
                            h1
                                | Видеобанк
                            .page-menu.page-menu--videos.video-box-menu.video-box-menu--main
                                ul.video-box-menu-list
                                    li.active
                                        a(href="#01")
                                            | Порт «Бронка»
                                    li
                                        a(href="#02")
                                            | Бронка Девелопмент
                                    li
                                        a(href="#03")
                                            | Завод «Измерон»
                                    li
                                        a(href="#04")
                                            | ПНК Имени Кирова
                                    li
                                        a(href="#05")
                                            | Ресторанная группа
                                    li
                                        a(href="#06")
                                            | Единый центр документов
                                    li
                                        a(href="#07")
                                            | Сеть бутиков
                    .col-12.col-lg-8.video-box.order-1.order-lg-2
                        .video-box_carousel
                            .owl-carousel.js-block-videos(data-autoplay="true", data-autoplaytimeout="3000", data-loop="true", data-dots="true")


                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-poster="https://images.unsplash.com/photo-1470506985999-02ab5a78271c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1086&q=80" data-hash="01")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")

                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-hash="02")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")

                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-hash="03")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")

                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-hash="04")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")


        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts
