//- work.jade
- var curPage = 'Карьера';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--content
                .row
                    .col-12.col-sm-10.col-lg-8.offset-lg-2
                        .arcticle-box_content
                            h1 Работа в компании

                            p «Бронка Групп» – один из крупнейших холдингов в Санкт-Петербурге, объединяющий успешные компании из различных областей бизнеса. Мы предлагаем уникальный опыт работы со знаковыми для города проектами и знаменитыми на весь мир брендами.

                            p Наш главный капитал – это люди. «Бронка Групп» инвестирует в развитие персонала, создает и поддерживает необходимые условия для профессионального роста сотрудников. Кадровая политика компании направлена на привлечение амбициозных и целеустремленных специалистов,
                            p стремящихся к профессиональному росту и развитию. Мы открыты новым идеям и инициативам.

                            img(src="img/content/work.jpg")
                            h2 Карьера в «Бронка групп» – это:
                            ul
                                li Стабильность и уверенность в завтрашнем дне 
                            
                                li Масштабные проекты 
                            
                                li Уникальный опыт в разных областях 
                            
                                li Инновационные подходы в решении ежедневных задач 
                            
                                li Внедрение передовых технологий 
                            
                                li Реализация творческого потенциала 
                            
                                li Профессиональное развитие в команде единомышленников 
                    
                            h2 Мы предлагаем комфортные условия труда: 
                            ul
                                li Офис в центре города 
                            
                                li Наличие парковки 
                            
                                li Разнообразное, здоровое питание с ресторанным обслуживанием (50% скидка на корпоративных фудкортах) 
                            
                                li Скидки на товары и услуги группы компаний 
                            
                                li Корпоративное обучение 
                            
                                li Поддержка профессионального развития сотрудников 
                            
                                li Продуманная система адаптации и развития персонала 


                                a(href="/career/documentation/") Документация
        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts