section.section--allphotos-mobile
    ul.photo_gallery.photo_gallery-mobile
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages1-full.jpg", alt="")
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages2-full.jpg", alt="")
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages3-full.jpg", alt="")
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages1-full.jpg", alt="")
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages2-full.jpg", alt="")
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages3-full.jpg", alt="")
        li.photo_gallery_item.photo_gallery_item-mobile
            img.photo_gallery_item-mobile-img(src="img/content/brnk-pages1-full.jpg", alt="")