.arcticle-box_stats.blue-graphic-box
    .blue-graphic-box-image-field
        .blue-graphic-box-title.bisness-geo_title География бизнеса
        //- img.blue-graphic-bg(src="img/content/block3.jpg")
    .arcticle-box_stats_item.align-items-center.bisness-geo_item
            big
                span.js-spincrement(data-to="15")
                    | 0
                | 
            | Бизнес направлений
    .arcticle-box_stats_item.align-items-center.bisness-geo_item
            big
                span.js-spincrement(data-to="100")
                    | 0
                | +
            | Международных партнеров
    .arcticle-box_stats_item.align-items-center.bisness-geo_item
            big
                span.js-spincrement(data-to="5000")
                    | 0
                | +
            | Сотрудников