.arcticle-box_stats.blue-graphic-box.blue-graphic-box--object.bisness-geo
    .blue-graphic-box-image-field
        //- .blue-graphic-box-title.bisness-geo_title География бизнеса
        
    .arcticle-box_stats_item.align-items-center
            big
                span.js-spincrement(data-to="2")
                    | 0
                | +
            | тыс.государственных и частных услуг
    .arcticle-box_stats_item.align-items-center
            big
                span.js-spincrement(data-to="7")
                    | 0
                | +
            | тыс. посетителей в день
    .arcticle-box_stats_item.align-items-center
            big
                span.js-spincrement(data-to="150")
                    | 0
                | +
            | тыс. решенных сложных вопросов (ежегодно)