.arcticle-box_tech-container.circle-graphic-container
    .arcticle-box_tech.circle-graphic-box_tech
        .arcticle-box_tech_count.circle-graphic-box_tech_count
            span.js-spincrement(data-to="10")
                    | 0
                | +
        .arcticle-box_tech_text.circle-graphic-box_tech_text
            | Лет успешной работы

        .piesite#pie_0(data-pie="100")


    .arcticle-box_tech_desc
        | Единый центр документов В сердце города - в сердцах горожан