<!-- PHOTO -->
//.video-box_preview.video-box_preview--contact(style="background-image: url(img/content/bronkameet.jpg);")
<!-- YOUTUBE -->
.video-box_preview.js-video-box(data-video="nO7jjpWEt8k" data-poster="img/content/bronkameet.jpg")
    .thumbnail_container
    .player
    button.play
        p.play-text Смотреть видео
        span
            +icon("play", "")

.contacts-mobile
    h3.contacts-mobile-title Контакты для СМИ
    .contacts-mobile-desc
        a.contacts-mobile-desc-phone(href="tel:88123201000") +7 812 320 1000
        a.contacts-mobile-desc-email(href="mailto:pr@bronkagroup.ru") pr@bronkagroup.ru
    .contacts-mobile-socials
        a.contacts-mobile-link(href="https://www.facebook.com/BronkaGroup/") facebook
        a.contacts-mobile-link(href="https://www.instagram.com/bronkagroup/") instagram
        a.contacts-mobile-link(href="https://www.youtube.com/channel/UCXgiw5ZROfx-K_snVW4GlhQ") youtube
    .contacts-mobile-address 191124, Россия, Санкт-Петербург, ул.Красного Текстильщика, 17
    ul.contacts-mobile-docs
        li.contacts-mobile-docs-item
            a.contacts-mobile-docs-link(href="#")
                +icon("doc", "contacts-mobile-docs-icon")
                p.contacts-mobile-docs-text Информация о компании
        li.contacts-mobile-docs-item
            a.contacts-mobile-docs-link(href="#")
                +icon("jpg", "contacts-mobile-docs-icon")
                p.contacts-mobile-docs-text Логотип
