.section.section--news-mobile.js-section--newslist#news
    .dropdown.press-center_filter-dropdown-mobile.press-center_filter-dropdown-mobile
        a(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false").btn.btn-block.dropdown-toggle#dropdownMenuLink
            span
                | Все новости
        .dropdown-menu(aria-labelledby="dropdownMenuLink")
    .press-center_rubrics-container.d-none.d-lg-flex
        ul.press-center_rubrics.fixed
            li
                a(href="#news",data-filter-show="all").link.js-filter-news-btn
                    | Все новости
            li
                a(href="#news",data-filter-show="1").link.js-filter-news-btn
                    | Порт «Бронка»
            li
                a(href="#news",data-filter-show="zavod-izmeron").link.js-filter-news-btn
                    | Завод «Измерон»
            li
                a(href="#news",data-filter-show="3").link.js-filter-news-btn
                    | Единый центр документов
            li
                a(href="#news",data-filter-show="4").link.js-filter-news-btn
                    | ПНК им.Кирова
            li
                a(href="#news",data-filter-show="5").link.js-filter-news-btn
                    | Бронка девелопмент
            li
                a(href="#news",data-filter-show="6").link.js-filter-news-btn
                    | Ресторанная группа
            li
                a(href="#news",data-filter-show="7").link.js-filter-news-btn
                    | Сеть бутиков