.first-article-mobile-title
    p.first-article-mobile-title-date
    p.first-article-mobile-title-name
.first-article-mobile-text
.first-article-mobile-column
    img.first-article-mobile-image(src="img/content/")