//- jade/layout/footer.jade
.footer
    .footer_content.row.no-gutters.justify-content-between
        .col-12.col-sm-3.col-lg-auto
            .footer_content_item.footer_content_item--copyright
                | © bronkagroup, 2019
        .col-12.col-sm-6.col-lg-auto
            .footer_content_item.footer_content_item--links
                a.footer_content-link.footer_content-link--main(href="/sitemap.html")
                    | Карта сайта

                a.footer_content-link.footer_content-link--main(href="/policy.html")
                    | Политика обработки персональных данных

                a.footer_content-link.footer_content-link--main(href="/contacts.html")
                    | Контакты

                a.footer_content-button(id="feedback-btn" href="mailto:pr@bronkagroup.ru")
                    | Обратная связь
            .footer_content_item--button
                a.footer_content_item-btn(href="mailto:pr@bronkagroup.ru") Обратная связь
        .col-12.col-sm-3.col-lg-auto
            <!-- изменен -->
            .footer_content_item.footer_content_item--feedback.d-lg-none.text-center
                    | Обратная связь
                a.footer_content_item--feedback-link(href="mailto:pr@bronkagroup.ru")
                    | Обратная связь
            .footer_content_item.footer_content_item--links.footer_content_item--socials
                a.footer_content-link.footer_content-link--main(href="https://www.instagram.com/bronkagroup/",target="_blank")
                    | Instagram

                a.footer_content-link.footer_content-link--main(href="https://www.facebook.com/BronkaGroup/",target="_blank")
                    | Facebook

                a.footer_content-link.footer_content-link--main(href="https://www.youtube.com/channel/UC0du2hDSIY769ZhMblL_HMw",target="_blank")
                    | Youtube
        .col-12.col-sm-4.col-lg-auto.footer-search-field
            .footer_content_item.footer_content_item--search.footer_content_item--search-other
                form.footer_form(action="")
                    input(type="text",placeholder="Поиск",id="form_control").form_control.form_control--other
                    button(type="button").btn
                        +icon("search", "")
        .col-12.col-sm-4.col-lg-auto
            .footer_content_item.footer_content_item--authors
                a(href="#",target="_blank")
                    | Разработка сайта – cake.ru


script(src="https://unpkg.com/swiper/js/swiper.js")
script(src="https://unpkg.com/swiper/js/swiper.min.js")
