//- template/head.jade
head(lang="ru")
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title= 'Бронка | '+curPage 
	meta(name="viewport", content="width=device-width")
	meta(name="description", content="")
	meta(name="format-detection", content="telephone=no")
	link(rel="stylesheet", href="css/main.css")
	link(rel="icon", type="image/ico", href="favicon.ico")
	link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
