.hamburger-container
    button(type="button",aria-controls="navigation").hamburger.hamburger--spring.js-hamburger
        span.hamburger-box
            span.hamburger-inner
<!-- изменен -->
.header_buffer            
.header.header--inner
    .row.no-gutters.align-items-lg-center
        .col-12.col-lg-4.popup-none
            .header_logo(data-aos="fade-in",data-aos-delay="0",data-aos-duration="1000")
                a(href="/")
                    img(src="img/logo-inner.svg")
        .col-12.col-lg-8.popup-move
            .header_menu#navigation
                a(href="/").header_menu_navigation_logo
                ul.inner.inner-list
                    li.outer.outer--full(data-aos="fade-in",data-aos-delay="50",data-aos-duration="1000")
                        a(href="#").link.link--company
                            | О компании
                        ul.animated.animated--active.animated--company
                            button.arrow-back(type="button" id="company-back")
                            li.first
                                a(href="/about.html").link
                                    | О нас
                            li
                                a(href="/sovet.html").link
                                    | Руководство
                            li.last
                                a(href="/policy.html").link.link--policy
                                    | Политика обработки персональных данных
                    li.outer.outer--full(data-aos="fade-in",data-aos-delay="100",data-aos-duration="1000")
                        a(href="#").link.link--buisness
                            | Наш бизнес
                        ul.animated.animated--active.animated--buisness
                            button.arrow-back(type="button" id="buisness-back")
                            li.first
                                a(href="/object.html").link
                                    | Порт &laquo;Бронка&raquo;
                            li
                                a(href="/object.html").link
                                    | Завод &laquo;Измерон&raquo;
                            li
                                a(href="/object.html").link
                                    | Единый центр документов
                            li
                                a(href="/object.html").link
                                    | Бронка девелопмент
                            li
                                a(href="/object.html").link
                                    | Сеть бутиков
                            li
                                a(href="/object.html").link
                                    | ПНК им. Кирова
                            li.last
                                a(href="/object.html").link
                                    | Ресторанная группа
                       
                    li.outer.outer--full(data-aos="fade-in",data-aos-delay="50",data-aos-duration="1000")
                        a(href="#").link.link--press
                            | Пресс-центр
                        ul.animated.animated--active.animated--press
                            button.arrow-back(type="button" id="press-back")
                            li.first
                                a(href="/press-center.html").link
                                    | Новости
                            li
                                a(href="/photo-archive.html").link
                                    | Фотоархив
                            li.last
                                a(href="/videos.html").link
                                    | Видеобанк
                    li(data-aos="fade-in",data-aos-delay="200",data-aos-duration="1000")
                        a(href="/work.html").link
                            | Карьера
                    li(data-aos="fade-in",data-aos-delay="250",data-aos-duration="1000")
                        a(href="contacts.html").link
                            | Контакты
