ul.press-mobile-preview
    li.press-mobile-preview-item
        a.press-mobile-preview-link(href="/photos.html")
            img.press-mobile-preview-image.press-mobile-preview-image--photos(src="img/content/block1.jpg")
            p.press-mobile-preview-desc Фотоархив
    li.press-mobile-preview-item
        a.press-mobile-preview-link(href="/videos.html")
            img.press-mobile-preview-image.press-mobile-preview-image--videos(src="img/content/block2.png")
            p.press-mobile-preview-desc Видеобанк