.press-mobile-newslist-field
    ul.press-mobile-newslist-list
        li.press-mobile-newslist-item
            a.press-mobile-newslist-link(href="/article.html")
                img.press-mobile-newslist-image(src="img/content/press1.jpg", alt="Пресс-центр фото")
                p.press-mobile-newslist-text По итогам 2018 года ЕЦД получил специальный приз «Петербужское качество»
                p.press-mobile-newslist-date 12 Марта, 2019
        li.press-mobile-newslist-item
            a.press-mobile-newslist-link(href="/article.html")
                img.press-mobile-newslist-image(src="img/content/press2.jpg", alt="Пресс-центр фото")
                p.press-mobile-newslist-text Завершено комплексное благоустройство территории ЖД «Монополист»
                p.press-mobile-newslist-date 03 Апреля, 2019
        li.press-mobile-newslist-item
            a.press-mobile-newslist-link(href="/article.html")
                img.press-mobile-newslist-image(src="img/content/press3.jpg", alt="Пресс-центр фото")
                p.press-mobile-newslist-text Завод «Измерон» принял участие в VIII Международном Газовом Форуме
                p.press-mobile-newslist-date 07 Апреля, 2019
        li.press-mobile-newslist-item
            a.press-mobile-newslist-link(href="/article.html")
                img.press-mobile-newslist-image(src="img/content/press4.jpg", alt="Пресс-центр фото")
                p.press-mobile-newslist-text Первое место в рейтинге ресторанов Петербурга занял Il Lago dei Cigni
                p.press-mobile-newslist-date 21 Апреля, 2019
    .press-mobile-newslist-footer
        a.press-mobile-newslist-button(href="/news.html") Смотреть все новости