.swiper-container-photos.gallery-top
    .swiper-wrapper
        .swiper-slide(style="background:url(img/content/portmin.jpg) 50% 50%/ contain no-repeat")
            .photo_gallery_item_download
                a(href="#").arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/port2full.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/portmen.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/portman.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/builderportfull.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/ship2.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/redport.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/portcar.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/news-rest2.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/work.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
        .swiper-slide(style="background:url(img/content/aboutus.jpg) 50% 50%/ contain no-repeat")
            a(href="#").photo_gallery_item_download
                .arcticle-box_media_download.text-uppercase.arcticle-box_media_download--mobile
                    .photo_gallery_item_download_logo
                        .photo_gallery_item_download_stick
                        .photo_gallery_item_download_stick.photo_gallery_item_download_stick--vertical
.swiper-container-photos.gallery-thumbs.swiper-container-photos--thumbs
    .swiper-wrapper
        .swiper-slide(style="background:url(img/content/brnk-pages5-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/brnk-pages1-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/portmen3-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/portman-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/brnk-pages4-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/ship2-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/redport-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/portcar-prev.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/news-rest2.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/work.jpg) 50% 50%/ cover no-repeat")
        .swiper-slide(style="background:url(img/content/aboutus.jpg) 50% 50%/ cover no-repeat")

.photoarchive_button.photoarchive_button--desktop Выбрать другой актив
a(href="/photochoose.html").photoarchive_button.photoarchive_button--onlymobile Выбрать другой актив
