.section.section--slider.no-gutters 
    .slider
        .swiper-container-press
            p.press-slider-title-page Пресс-центр
            .swiper-pagination  
            ul.press-slider.swiper-wrapper
                li.press-slider-item.swiper-slide

                    img.actives-slider-image.press-slider-image(src="img/content/presscenter1.jpg" alt="")
                    p.press-slider-text "Петербург всегда занимал особое место на ресторанной карте России, и мы гордимся тем, что можем предложить жителям и гостям города более 1000 блюд авторской кухни в самых разнообразных ресторанных форматах"
                    a.press-slider-button(href="/article.html") Читать
                li.press-slider-item.swiper-slide

                    img.actives-slider-image.press-slider-image(src="img/content/presscenter2.jpg" alt="")
                    p.press-slider-text "Петербург всегда занимал особое место на ресторанной карте России, и мы гордимся тем, что можем предложить жителям и гостям города более 1000 блюд авторской кухни в самых разнообразных ресторанных форматах"
                    a.press-slider-button(href="/article.html") Читать
                li.press-slider-item.swiper-slide

                    img.actives-slider-image.press-slider-image(src="img/content/presscenter3.jpg" alt="")
                    p.press-slider-text "Петербург всегда занимал особое место на ресторанной карте России, и мы гордимся тем, что можем предложить жителям и гостям города более 1000 блюд авторской кухни в самых разнообразных ресторанных форматах"
                    a.press-slider-button(href="/article.html") Читать
                li.press-slider-item.swiper-slide

                    img.actives-slider-image.press-slider-image(src="img/content/presscenter2.jpg" alt="")
                    p.press-slider-text "Петербург всегда занимал особое место на ресторанной карте России, и мы гордимся тем, что можем предложить жителям и гостям города более 1000 блюд авторской кухни в самых разнообразных ресторанных форматах"
                    a.press-slider-button(href="/article.html") Читать
     