ul.share-panel
    li
        a(href="#")
            +icon("share", "")
            span
                | Поделиться в соц.сетях
    li
        a(href="#")
            +icon("print", "")
            span
                | Версия для печати
    li
        a(href="#")
            +icon("telegram", "")
            span
                | Обратная связь
    li
        a(href="#")
            +icon("favorite", "")
            span
                | В избранное