.section.section--slider.no-gutters.section--slider--main
    p.actives-slider-title-text Активы
    .slider
        .swiper-container 
            .swiper-pagination
            
            ul.actives-slider.swiper-wrapper
                li.actives-slider-item.swiper-slide
                    .actives-bg
                    .actives-slider-title
                        p.actives-slider-title-page Порт Бронка
                    img.actives-slider-image(src="img/content/7_7.jpg" alt="Порт Бронка")
                    a.actives-slider-button(href="/object.html") Подробнее
                
                li.actives-slider-item.swiper-slide
                    .actives-bg.actives-bg--one
                    .actives-slider-title
                        p.actives-slider-title-page Завод "Измерон"
                    img.actives-slider-image(src="img/content/1_1.jpg" alt="Порт Бронка")
                    a.actives-slider-button(href="/object.html") Подробнее
                
                
                li.actives-slider-item.swiper-slide
                    .actives-bg.actives-bg--two
                    .actives-slider-title
                        p.actives-slider-title-page Единый центр документов
                    img.actives-slider-image(src="img/content/5_5.jpg" alt="Единый центр документов")
                    a.actives-slider-button(href="/object.html") Подробнее
                
                li.actives-slider-item.swiper-slide
                    .actives-bg.actives-bg--three
                    .actives-slider-title
                        p.actives-slider-title-page Бронка Девелопмент
                    img.actives-slider-image(src="img/content/6_6.jpg" alt="Бронка Девелопмент")
                    a.actives-slider-button(href="/object.html") Подробнее
               
                li.actives-slider-item.swiper-slide
                    .actives-bg.actives-bg--four
                    .actives-slider-title
                        p.actives-slider-title-page Монобрендовые бутики
                    img.actives-slider-image(src="img/content/4_4.jpg" alt="Монобрендовые бутики")
                    a.actives-slider-button(href="/object.html") Подробнее
               
                li.actives-slider-item.swiper-slide
                    .actives-bg.actives-bg--five
                    .actives-slider-title
                        p.actives-slider-title-page ПНК им.Кирова
                    img.actives-slider-image(src="img/content/3_3.jpg" alt="ПНК им.Кирова")
                    a.actives-slider-button(href="/object.html") Подробнее
                
                li.actives-slider-item.swiper-slide
                    .actives-bg.actives-bg--six
                    .actives-slider-title
                        p.actives-slider-title-page Ресторанная группа
                    img.actives-slider-image(src="img/content/2_2.jpg" alt="Ресторанная группа")
                    a.actives-slider-button(href="/object.html") Подробнее
